<section class="curtain-right curtain-user" ng-controller="userCurtainController">
	<h4>[[currentUser.first_name | titlecase]]</h4>
	<div class="content user">
		<a under-construction href="#" analytics-click analytics-data="['Top Bar-Right', 'User - My Art']">MY ART</a>
		<a  href="/upload-art" analytics-click analytics-data="['Top Bar-Right', 'User - New Art']">NEW ART</a>
		<a under-construction href="#" analytics-click analytics-data="['Top Bar-Right', 'User - Interpretations']">INTERPRETATIONS</a>
		<a under-construction href="#" analytics-click analytics-data="['Top Bar-Right', 'User - Collection']">COLLECTION</a>
		<a under-construction href="#" analytics-click analytics-data="['Top Bar-Right', 'User - Settings']">SETTINGS</a>
	</div>
</section>