<section class="curtain-right" ng-controller="rightCurtainController">
	<nav class="content">
		<form>
			<h4>Login</h4>
			<fieldset class="social">
				<a class="facebook" href="">Log in with Facebook</a>
				<a class="twitter" href="">Login with Twitter</a>
			</fieldset>
			<h6>Or</h6>	
			<fieldset class="native">
				<input type="email" placeholder="E-mail" autofocus="autofocus" ng-model="user.email">
				<input type="password" placeholder="Password" ng-model="user.password">
				<input class="login-button" type="button" value="LOGIN" ng-click="login(user)">
			</fieldset>
		</form>
		<footer>
			<a href="">Forgotten your password?</a>
			<a href="/register">Sign Up</a>
		</footer>
	</nav>
</section>