<section class="curtain-right" ng-controller="rightCurtainController">
	<nav class="content">
		<section class="login">
			<h4>Login</h4>
			<fieldset class="social">
				<a class="facebook" ng-click="socialLogger('facebook')" analytics-click analytics-data="['Top Bar-Right', 'SignUp-FaceBook']">LOGIN WITH FACEBOOK</a>
                <a class="google" ng-click="socialLogger('google')" analytics-click analytics-data="['Top Bar-Right', 'SignUp-Google']">LOGIN WITH GOOGLE</a>
				<a class="twitter" ng-click="socialLogger('twitter')" analytics-click analytics-data="['Top Bar-Right', 'SignUp-Twitter']">LOGIN WITH TWITTER</a>
			</fieldset>
			<h6>Or</h6>
			<form name="loginForm" class="native" ng-keyup="$event.keyCode == 13 ? login(user) : null">

				<input type="email" placeholder="E-mail" autofocus="autofocus" ng-model="user.email" name="uEmail" required ng-model-options="{ updateOn: 'blur' }">
				<div ng-cloak ng-show="loginForm.$submitted">
				    <span ng-show="loginForm.uEmail.$error.required">Please provide an email.</span>
				    <span ng-show="loginForm.uEmail.$error.email">This is not a valid email.</span>
			   </div>
				<input type="password" placeholder="Password" ng-model="user.password" name="uPassword" required>
				<div ng-loak ng-show="loginForm.$submitted">
				    <span ng-show="loginForm.uPassword.$error.required">Please provide a password.</span>
			   </div>
				<input class="login-button" ng-class="{'disabled': loginForm.$invalid}" ng-disabled="loginForm.$invalid" type="button" value="LOGIN" ng-click="login(user)" analytics-click analytics-data="['Top Bar-Right', 'SignUp-Native']">
			</form>
		</section>
		<footer>
			<a href="">Forgotten your password?</a>
			<a href="/register">Sign Up</a>
		</footer>
	</nav>
</section>