<section class="collection-modal">
    <section class="modal-actions">
        <button ng-click="close()">X</button>
    </section>
    <div class="scroll-holder">
        <ul class="container">
            <li class="collection" ng-repeat="collection in collections">
                <div class="picture" ng-style="{'background-image': 'url([[collection.picture]])'}">
                    <section class="details">
                        <h2>[[collection.name]]</h2>
                        <div class="arts-count">[[collection.compositions_count]] Paintings</div>
                        <div class="by-user">By</div>
                        <h3>[[collection.owner.name | titlecase ]]</h3>
                    </section>
                </div>
            </li>
            <div ng-cloak ng-show="noSuchCollection.status" class="no-collections">
                <h1>This work is not present in any collection yet</h1>
                <h2>Add this work to your collection?</h2>
                <button ng-click='noSuchCollection.action()'>COLLECT</button>
            </div>
        </ul> <!-- container -->
    </div>
</section>