<section tabindex="0" class="confirm-modal">

    <div class="confirm-modal-content">
    <section class="confirm-modal-actions-header">
            <i class="material-icons action" ng-click="deny()">close</i>
        </section>

        <h2>[[data.message]]</h2>

        <section class="confirm-modal-actions" >
            <button class="confirm-modal-action" ng-click="confirm()">YES</button>
            <button class="confirm-modal-action" ng-click="deny()">NO</button>
        </section>
    </div>
</section>