 <div class="user-buckets">
    <li class="user-bucket" ng-repeat="bucket in userBuckets" ui-sref="bucket({bucketSlug: bucket.slug})">
        <div class="user-bucket-picture" ng-style="{'background-image': 'url([[bucket.picture]])'}">
            <section class="user-bucket-details" ng-class="{'long-description': bucket.description.length > 50}">
                <h2>[[bucket.name | titlecase]]</h2>
                <h3>[[bucket.description]]</h3>
                <div class="by-user">By</div>
                <h3>[[bucket.owner.name | titlecase ]]</h3>
                <div class="arts-count">[[bucket.compositions_count]] Artworks</div>
                <div class="arts-count">[[bucket.views]] Views</div>
                <section class="user-bucket-details-actions">
                    <i class="material-icons" ng-cloak ng-hide="bucket.is_admired" ng-click="handleAdmireBucket($event, $index)">favorite_border</i>
                    <i class="material-icons" ng-cloak ng-show="bucket.is_admired" ng-click="handleAdmireBucket($event, $index)">favorite</i>
                    <i class="material-icons" ng-click="shareBucket($event, $index)" >share</i>
                    <i class="material-icons" ng-cloak ng-hide="bucket.is_bookmarked" ng-click="handleBookMarkBucket($event, $index)">bookmark_border</i>
                    <i class="material-icons" ng-cloak ng-show="bucket.is_bookmarked" ng-click="handleBookMarkBucket($event, $index)">bookmark</i>
                </section>
            </section>
        </div>
    </li>

    <div ng-cloak ng-show="noUserBucket.status" class="no-bucket">
        <h1 class="no-buckets-header">You have not created any series yet</h1>
        <h2>Time to give your thoughts a mould</h2>
        <button ng-click='noUserBucket.action()'>Create New Series</button>
    </div>
</div>