<div ng-cloak masonry load-images="onMobile" masonry-options="{ transitionDuration: '0' }" class="arts-container profile-container" infinite-scroll="loadMoreCompositions()" infinite-scroll-distance='1' infinite-scroll-disabled='artsMeta.busy || artsMeta.disableGetMore'>
    <div class="masonry-brick container profile-art-container" ng-repeat="art in arts">
        <div class="art">
            <article class="art-content" ng-style="{'height': '[[math.round(300*art.matter_aspect)]]px', 'width': '300px', 'background-color': '[[art.major]]'}">
                <img ng-src="[[art.matter_400]]" alt="[[art.title]]" onload="imgLoaded(this)">
                <div ng-cloak ng-show="art.nsfw" class="nsfw-overlay" ng-click="toggleNsfw($index)">
                    <h6>This work is marked not safe</h6>
                    <h6>Click anywhere to show the work</h6>
                </div>

                <a custom-href="/arts/[[art.slug]]" class="details-inset">
                    <section class="inset-actions">
                        <i class="material-icons" ng-click="shareArt($event, $index)" >share</i>
                        <i class="material-icons" ng-cloak ng-hide="art.is_admired" ng-click="handleAdmireArt($event, $index)">favorite_border</i>
                        <i class="material-icons admire-on-icon" ng-cloak ng-show="art.is_admired" ng-click="handleAdmireArt($event, $index)">favorite</i>
                    </section>

                    <section class="bookmark-action">
                        <i class="material-icons" ng-click="handleBookMark($event, $index)" ng-cloak ng-hide="art.is_bookmarked">bookmark_border</i>
                        <i class="material-icons bookmark-on-icon" ng-click="handleBookMark($event, $index)" ng-cloak ng-show="art.is_bookmarked">bookmark</i>
                    </section>

                    <section class="series-action">
                        <button ng-click="showAddToBucket($event, $index)">Add To Series</button>
                    </section>
                </a>
            </article>
            <section class="details">
                <h4><a ng-href="/arts/[[art.slug]]">[[art.title | titlecase]]</a></h4>
                <h5> by <a ng-href="/@[[art.artist.slug]]">[[art.artist.name | titlecase]]</a></h5>
            </section><!--
            --><section class="scores" ng-cloak ng-show="art.buckets_count> 0" ui-sref="buckets({artSlug: art.slug})">
                    <span>[[art.buckets_count]] Series</span>
                </section>
        </div> <!-- art -->
    </div>

    <section ng-cloak ng-show="artsMeta.noWorks" class="empty-placeholder">
        <h4>No works found in this category.</h4>
    </section>
</div>