<div ng-cloak masonry masonry-options="{ transitionDuration: '0' }" class="arts-container activities-arts-container" infinite-scroll="loadMoreActivities()" infinite-scroll-distance='1' infinite-scroll-disabled='activitiesMeta.busy || activitiesMeta.disableGetMore'>
        <div class="masonry-brick container activities-art-container" ng-repeat="activity in userActivities">
            <div class="art" ng-show="activity.grade == 1">
                <header ng-show="activity.post_type == 'CR' && !showHeader">Artwork by <a ng-href="/@[[activity.creator.slug]]">[[activity.creator.name | titlecase]]</a></header>
                <header ng-show="activity.post_type == 'MA' && !showHeader">Artwork admired by <a ng-href="/@[[activity.creator.slug]]">[[activity.creator.name | titlecase]]</a></header>
                <header ng-show="activity.post_type == 'AD' && !showHeader">Artwork added by <a ng-href="/@[[activity.creator.slug]]">[[activity.creator.name | titlecase]]</a></header>
                <article class="art-content" ng-style="{'height': '[[math.round(400*activity.content.matter_aspect)]]px', 'width': '400px', 'background-color': '[[activity.content.major]]'}">
                    <img ng-src="[[activity.content.matter_550]]" alt="[[activity.content.title]]" >
                    <div ng-cloak ng-show="art.nsfw" class="nsfw-overlay" ng-click="toggleNsfw($index)">
                        <h6>This work is marked not safe</h6>
                        <h6>Click anywhere to show the work</h6>
                    </div>
                    <a custom-href="/arts/[[activity.content.slug]]" class="details-inset">
                        <section class="inset-actions">
                            <i class="material-icons" ng-click="shareArt($event, activity.content)" >share</i>
                            <i class="material-icons" ng-cloak ng-hide="activity.content.is_admired" ng-click="handleAdmireArt($event, activity.content)">favorite_border</i>
                            <i class="material-icons admire-on-icon" ng-cloak ng-show="activity.content.is_admired" ng-click="handleAdmireArt($event, activity.content)">favorite</i>
                        </section>

                        <section class="bookmark-action">
                            <i class="material-icons" ng-click="handleBookMarkArt($event, activity.content)" ng-cloak ng-hide="activity.content.is_bookmarked">bookmark_border</i>
                            <i class="material-icons bookmark-on-icon" ng-click="handleBookMarkArt($event, activity.content)" ng-cloak ng-show="activity.content.is_bookmarked">bookmark</i>
                        </section>

                        <section class="series-action">
                            <button ng-click="showAddToBucket($event, activity.content)">Add To Series</button>
                        </section>
                    </a>
                </article>
                <section class="details">
                    <h4><a ng-href="/arts/[[activity.content.slug]]" target="_blank">[[activity.content.title | titlecase]]</a></h4>
                    <h5> by <a ng-href="/@[[activity.content.artist.slug]]" target="_blank">[[activity.content.artist.name | titlecase]]</a></h5>
                </section><!--
                --><section class="scores" ng-cloak ng-show="activity.content.buckets_count> 0" ui-sref="buckets({artSlug: activity.content.slug})">
                    <span>[[activity.content.buckets_count]] Series</span>
                </section>
            </div>

            <div class="art" ng-show="activity.grade == 2">
                <header ng-show="!showHeader">Artwork added to series [[activity.content.name]] by <a ng-href="/@[[activity.creator.slug]]">[[activity.creator.name | titlecase]]</a></header>
                <article class="art-content" ng-style="{'height': '[[math.round(400*activity.content.matter_aspect)]]px', 'width': '400px', 'background-color': '[[activity.content.major]]'}">
                    <img ng-src="[[activity.composition.matter_550]]" alt="[[activity.composition.title]]" >
                    <div ng-cloak ng-show="art.nsfw" class="nsfw-overlay" ng-click="toggleNsfw($index)">
                        <h6>This work is marked not safe</h6>
                        <h6>Click anywhere to show the work</h6>
                    </div>
                    <a custom-href="/arts/[[activity.composition.slug]]" class="details-inset">
                        <section class="inset-actions">
                            <i class="material-icons" ng-click="shareArt($event, activity.composition)" >share</i>
                            <i class="material-icons" ng-cloak ng-hide="activity.composition.is_admired" ng-click="handleAdmireArt($event, activity.composition)">favorite_border</i>
                            <i class="material-icons admire-on-icon" ng-cloak ng-show="activity.composition.is_admired" ng-click="handleAdmireArt($event, activity.composition)">favorite</i>
                        </section>

                        <section class="bookmark-action">
                            <i class="material-icons" ng-click="handleBookMarkArt($event, activity.composition)" ng-cloak ng-hide="activity.composition.is_bookmarked">bookmark_border</i>
                            <i class="material-icons bookmark-on-icon" ng-click="handleBookMarkArt($event, activity.composition)" ng-cloak ng-show="activity.composition.is_bookmarked">bookmark</i>
                        </section>

                        <section class="series-action">
                            <button ng-click="showAddToBucket($event, activity.composition)">Add To Series</button>
                        </section>
                    </a>
                </article>
                <section class="details">
                    <h4><a ng-href="/arts/[[activity.composition.slug]]" target="_blank">[[activity.composition.title | titlecase]]</a></h4>
                    <h5> by <a ng-href="/@[[activity.composition.artist.slug]]" target="_blank">[[activity.composition.artist.name | titlecase]]</a></h5>
                </section><!--
                --><section class="scores" ng-cloak ng-show="activity.composition.buckets_count> 0" ui-sref="buckets({artSlug: activity.composition.slug})">
                    <span>[[activity.composition.buckets_count]] Series</span>
                </section>
            </div>

            <section class="feed-bucket" ng-show="activity.grade == 3">
                <header ng-show="!showHeader">Series admired by <a ng-href="/@[[activity.creator.slug]]">[[activity.creator.name | titlecase]]</a></header>
                <div class="bucket-picture" ng-style="{'background-image': 'url([[activity.content.picture]])'}">
                    <section class="bucket-inset-details" ui-sref="bucket({userSlug: activity.content.owner.slug, bucketSlug: activity.content.slug})">
                        <section class="bucket-inset-details-actions">
                            <i class="material-icons" ng-click="shareBucket($event, activity.content)" >share</i>
                            <i class="material-icons admire-on-icon" ng-cloak ng-show="activity.content.is_admired" >favorite</i>
                        </section>

                        <section class="bookmark-action">
                            <i class="material-icons" ng-cloak ng-hide="activity.content.is_bookmarked" ng-click="handleBookMarkBucket($event, activity.content)">bookmark_border</i>
                            <i class="material-icons bookmark-on-icon" ng-cloak ng-show="activity.content.is_bookmarked" ng-click="handleBookMarkBucket($event, activity.content)">bookmark</i>
                        </section>

                        <h2>[[activity.content.name | titlecase]]</h2>
                        <h3>[[activity.content.description]]</h3>
                        <div class="by-user">By</div>
                        <h3>[[activity.content.owner.name | titlecase ]]</h3>
                        <div class="arts-count">[[activity.content.compositions_count]] Artworks</div>
                        <div class="arts-count">[[activity.content.views]] Views</div>
                    </section>
                </div>
            </section>
        </div>
    </div>