<div ng-cloak masonry masonry-options="{ transitionDuration: '0' }" class="arts-container profile-container" infinite-scroll="loadMoreArtifacts()" infinite-scroll-distance='1' infinite-scroll-disabled='artifactsMeta.busy || artifactsMeta.disableGetMore'>
    <div class="masonry-brick container profile-art-container" ng-repeat="artifact in artifacts">
        <div class="art" ng-show="artifact.content_type == 'AR' ">
            <article class="art-content">
                <img ng-src="[[artifact.content.matter_350]]" alt="[[artifact.content.title]]">
                <div ng-cloak ng-show="artifact.content.nsfw" class="nsfw-overlay" ng-click="toggleNsfw($index)">
                    <h6>This work is marked not safe</h6>
                    <h6>Click anywhere to show the work</h6>
                </div>
                <a custom-href="/arts/[[artifact.content.slug]]" class="details-inset">
                    <section class="inset-actions">
                        <i class="material-icons" ng-click="shareArt($event, $index)" >share</i>
                        <i class="material-icons" ng-cloak ng-hide="artifact.content.is_admired" ng-click="handleAdmireArt($event, $index)">favorite_border</i>
                        <i class="material-icons" ng-cloak ng-show="artifact.content.is_admired" ng-click="handleAdmireArt($event, $index)">favorite</i>
                    </section>

                    <section class="bookmark-action">
                        <i class="material-icons" ng-click="handleBookMark($event, $index)" ng-cloak ng-hide="artifact.content.is_bookmarked">bookmark_border</i>
                        <i class="material-icons" ng-click="handleBookMark($event, $index)" ng-cloak ng-show="artifact.content.is_bookmarked">bookmark</i>
                    </section>

                    <section class="series-action">
                        <button ng-click="showAddToBucket($event, $index)">Add To Series</button>
                    </section>
                </a>
            </article>
            <section class="details">
                <h4><a ng-href="/arts/[[artifact.content.slug]]">[[artifact.content.title | titlecase]]</a></h4>
                <h5> by <a ng-href="/@[[artifact.content.artist.slug]]">[[artifact.content.artist.name | titlecase]]</a></h5>
            </section><!--
            --><section class="scores" ng-cloak ng-show="artifact.content.buckets_count> 0" ui-sref="buckets({artSlug: artifact.content.slug})">
                    <span>[[artifact.content.buckets_count]] Series</span>
                </section>
        </div> <!-- art -->


        <section class="feed-bucket" ng-show="artifact.content_type == 'BK'">
            <div class="bucket-picture" ng-style="{'background-image': 'url([[artifact.content.picture]])'}">
                <section class="bucket-inset-details" ui-sref="bucket({userSlug: artifact.content.owner.slug, bucketSlug: artifact.content.slug})">
                    <section class="bucket-inset-details-actions">
                        <i class="material-icons" ng-click="shareBucket($event, $index)" >share</i>
                        <i class="material-icons" ng-cloak ng-hide="artifact.content.is_admired" ng-click="handleAdmireBucket($event, $index)">favorite_border</i>
                        <i class="material-icons" ng-cloak ng-show="artifact.content.is_admired" ng-click="handleAdmireBucket($event, $index)">favorite</i>
                    </section>

                    <section class="bookmark-action">
                        <i class="material-icons" ng-cloak ng-hide="artifact.content.is_bookmarked" ng-click="handleBookMarkBucket($event, $index)">bookmark_border</i>
                        <i class="material-icons" ng-cloak ng-show="artifact.content.is_bookmarked" ng-click="handleBookMarkBucket($event, $index)">bookmark</i>
                    </section>

                    <h2>[[artifact.content.name | titlecase]]</h2>
                    <h3>[[artifact.content.description]]</h3>
                    <div class="by-user">By</div>
                    <h3>[[artifact.content.owner.name | titlecase ]]</h3>
                    <div class="arts-count">[[artifact.content.compositions_count]] Artworks</div>
                    <div class="arts-count">[[artifact.content.views]] Views</div>
                </section>
            </div>
        </section>
    </div>

    <section ng-cloak ng-show="bookmarksMeta.noWorks" class="empty-placeholder">
        <h4>No works found in this category.</h4>
    </section>
</div>