<div ng-cloak masonry masonry-options="{ transitionDuration: '0' }" class="arts-container profile-container" infinite-scroll="loadMoreCompositions()" infinite-scroll-distance='1' infinite-scroll-disabled='artsMeta.busy || artsMeta.disableGetMore'>
    <div class="masonry-brick container profile-art-container" ng-repeat="art in arts">
        <div class="art">
            <article class="art-content">
                <img ng-src="[[art.matter_350]]" alt="[[art.title]]">
                <div ng-cloak ng-show="art.nsfw" class="nsfw-overlay" ng-click="toggleNsfw($index)">
                    <h6>This work is marked not safe</h6>
                    <h6>Click anywhere to show the work</h6>
                </div>
                <div class="details-inset">
                    <section class="inset-details">
                        <h6>[[art.views]] Views</h6><br>
                        <h6 class="active" ng-click="showBookMarkers($index)">[[art.bookmarks_count]] Bookmarks</h6><br>
                        <h6 class="active" ng-click="showArtBuckets($index)">[[art.buckets_count]] Series</h6>
                    </section>

                    <section class="inset-actions">
                        <button ng-click="showAddToBucket($index)">To Series</button><!--
                        --><button>Share</button>
                    </section>

                </div>
            </article>
            <section class="details">
                <h4><a ng-href="/arts/[[art.slug]]">[[art.title | titlecase]]</a></h4>
                <h5> by <a ng-href="/@[[art.artist.slug]]">[[art.artist.name | titlecase]]</a></h5>
            </section><!--
            --><section class="actions">
                    <i class="material-icons" ng-click="handleBookMark($index)" ng-cloak ng-hide="art.is_bookmarked">bookmark_border</i>
                    <i class="material-icons" ng-click="handleBookMark($index)" ng-cloak ng-show="art.is_bookmarked">bookmark</i>
            </section>
        </div> <!-- art -->
    </div>

    <section ng-cloak ng-show="artsMeta.noWorks" class="empty-placeholder">
        <h4>No works found in this category.</h4>
    </section>
</div>