<section ng-cloak class="user-activities" infinite-scroll="loadMoreActivities()" infinite-scroll-distance='1' infinite-scroll-disabled='activitiesMeta.busy || activitiesMeta.disableGetMore'>

    <div class="user-activity-container" ng-switch='activity.post_type' ng-repeat-start="activity in userActivities">

        <article ng-switch-when="AD" class="user-activity add-activity">
            <header class="clearfix">
                <a ng-href="/@[[activity.creator.slug]]"><img class="activity-header-image" ng-src="[[activity.creator.picture]]"></a>
                <div class="activity-header-details">
                    <a ng-href="/@[[activity.creator.slug]]">[[activity.creator.name | titlecase]]'s</a>
                    artwork added
                    <div class="activity-user-creds">
                        <span ng-show="activity.creator.followers_count != 0">Followers [[activity.creator.followers_count]] </span>
                        <span ng-show="activity.creator.buckets_count != 0">Series [[activity.creator.buckets_count]] </span>
                        <span ng-show="activity.creator.paintings_count != 0">Paintings [[activity.creator.paintings_count]] </span>
                        <span ng-show="activity.creator.uploads_count != 0">Uploads [[activity.creator.uploads_count]] </span>
                    </div>
                </div>
            </header>

            <section class="user-activity-image">
                <img ng-src="[[activity.composition.matter_550]]">
                <div class="activity-image-details-inset">
                    <section class="activity-image-inset-details">
                        <h6>[[activity.composition.views]] Views</h6>
                        <h6 class="active" ng-click="showBookMarkers($index)">[[activity.composition.bookmarks_count]] Admirers</h6>
                        <h6 class="active" ng-click="showArtBuckets($index)">[[activity.composition.buckets_count]] Series</h6>
                    </section>

                    <section class="activity-image-inset-actions">
                        <button ng-click="showAddToBucket($index)">Add To Series</button><!--
                        --><button>Share</button>
                    </section>

                </div>
            </section>

            <footer class="user-activity-footer">
                <section class="activity-image-details">
                    <h4><a ng-href="/arts/[[activity.composition.slug]]" target="_blank">[[activity.composition.title | titlecase]]</a></h4>
                    <h5> by <a ng-href="/@[[activity.composition.artist.slug]]" target="_blank">[[activity.composition.artist.name | titlecase]]</a></h5>
                </section><!--
                --><section class="actions">
                    <button ng-click="handleBookMark($index)" ng-class="{'bookmark-active': activity.composition.is_bookmarked}">ADMIRE</button>
                </section>
            </footer>
        </article>

        <article ng-switch-when="CR" class="user-activity create-activity">
            <header>
                <a ng-href="/@[[activity.creator.slug]]"><img class="activity-header-image" ng-src="[[activity.creator.picture]]"></a>
                <div class="activity-header-details">
                    <a ng-href="/@[[activity.creator.slug]]">[[activity.creator.name | titlecase]]</a>
                    added artwork
                    <div class="activity-user-creds">
                        <span ng-show="activity.creator.followers_count != 0">Followers [[activity.creator.followers_count]] </span>
                        <span ng-show="activity.creator.buckets_count != 0">Series [[activity.creator.buckets_count]] </span>
                        <span ng-show="activity.creator.paintings_count != 0">Paintings [[activity.creator.paintings_count]] </span>
                        <span ng-show="activity.creator.uploads_count != 0">Uploads [[activity.creator.uploads_count]] </span>
                    </div>
                </div>
            </header>

            <section class="user-activity-image">
                <img ng-src="[[activity.composition.matter_550]]">
                <div class="activity-image-details-inset">
                    <section class="activity-image-inset-details">
                        <h6>[[activity.composition.views]] Views</h6>
                        <h6 class="active" ng-click="showBookMarkers($index)">[[activity.composition.bookmarks_count]] Admirers</h6>
                        <h6 class="active" ng-click="showArtBuckets($index)">[[activity.composition.buckets_count]] Series</h6>
                    </section>

                    <section class="activity-image-inset-actions">
                        <button ng-click="showAddToBucket($index)">Add To Series</button><!--
                        --><button>Share</button>
                    </section>

                </div>
            </section>

            <footer class="user-activity-footer">
                <section class="activity-image-details">
                    <h4><a ng-href="/arts/[[activity.composition.slug]]" target="_blank">[[activity.composition.title | titlecase]]</a></h4>
                    <h5> by <a ng-href="/@[[activity.composition.artist.slug]]" target="_blank">[[activity.composition.artist.name | titlecase]]</a></h5>
                </section><!--
                --><section class="actions">
                    <button ng-click="handleBookMark($index)" ng-class="{'bookmark-active': activity.composition.is_bookmarked}">ADMIRE</button>
                </section>
            </footer>
        </article>

        <article ng-switch-when="BK" class="user-activity bucket-activity">
            <header>
                <a ng-href="/@[[activity.creator.slug]]"><img class="activity-header-image" ng-src="[[activity.creator.picture]]"></a>
                <div class="activity-header-details">
                    <a ng-href="/@[[activity.creator.slug]]">[[activity.creator.name | titlecase]]</a>
                    added artwork to series
                    <span class="click-active" ng-click="showBucketArts($index)">[[activity.content.name | titlecase]]</span>
                    <div class="activity-user-creds">
                        <span ng-show="activity.creator.followers_count != 0">Followers [[activity.creator.followers_count]] </span>
                        <span ng-show="activity.creator.buckets_count != 0">Series [[activity.creator.buckets_count]] </span>
                        <span ng-show="activity.creator.paintings_count != 0">Paintings [[activity.creator.paintings_count]] </span>
                        <span ng-show="activity.creator.uploads_count != 0">Uploads [[activity.creator.uploads_count]] </span>
                    </div>
                </div>
            </header>
            <section class="user-activity-image">
                <img ng-src="[[activity.composition.matter_550]]">
                <div class="activity-image-details-inset">
                    <section class="activity-image-inset-details">
                        <h6>[[activity.composition.views]] Views</h6>
                        <h6 class="active" ng-click="showBookMarkers($index)">[[activity.composition.bookmarks_count]] Admirers</h6>
                        <h6 class="active" ng-click="showArtBuckets($index)">[[activity.composition.buckets_count]] Series</h6>
                    </section>

                    <section class="activity-image-inset-actions">
                        <button ng-click="showAddToBucket($index)">Add To Series</button><!--
                        --><button>Share</button>
                    </section>

                </div>
            </section>

            <footer class="user-activity-footer">
                <section class="activity-image-details">
                    <h4><a ng-href="/arts/[[activity.composition.slug]]" target="_blank">[[activity.composition.title | titlecase]]</a></h4>
                    <h5> by <a ng-href="/@[[activity.composition.artist.slug]]" target="_blank">[[activity.composition.artist.name | titlecase]]</a></h5>
                </section><!--
                --><section class="actions">
                    <button ng-click="handleBookMark($index)" ng-class="{'bookmark-active': activity.composition.is_bookmarked}">ADMIRE</button>
                </section>
            </footer>
        </article>
    </div>

    <hr ng-repeat-end>

    <section class="no-user-activities" ng-cloak ng-show="activitiesMeta.noActivities" >
        <h3>There are no posts yet</h3>

        <section class="me-no-activities" ng-cloak ng-show="artist.is_me">
            <h3>You have not engaged with any artwork</h3>
            <h2 class="starter">Art that resonates with you is like a mirror</h2>
            <h2>Take your time</h2>
            <h2>Sometimes it is hard to find</h2>
            <h4>Keep exploring</h4>
            <a class="explore-art" ng-href="/arts">Explore Art</a>
        </section>
    </section>

</section>