<section key-event-binder-content tabindex="0" class="bucket-modal content">
    <section class="modal-actions-header">
        <section class="action-right">
            <i class="material-icons action content-action" ng-click="back()">arrow_back</i>
        </section>

        <i class="material-icons action content-action" ng-cloak ng-show="bucket.has_ownership" ng-click="showEditBucket()">edit</i>
        <i class="material-icons action content-action" ng-cloak ng-show="bucket.has_ownership" ng-click="deleteBucket()">delete</i>
        <i class="material-icons action content-action" ng-click="showShare()">share</i>
        <span class="counter counter-watchers">
            <i class="material-icons action content-action" ng-cloak ng-hide="bucket.is_watched" ng-click="watchBucket()">star_border</i>
            <i class="material-icons action content-action" ng-cloak ng-show="bucket.is_watched" ng-click="unwatchBucket()">star</i>
            <i class="material-icons action content-action" ng-cloak ng-hide="bucket.is_bookmarked" ng-click="handleBookMarkBucket()">bookmark_border</i>
            <i class="material-icons action content-action" ng-cloak ng-show="bucket.is_bookmarked" ng-click="handleBookMarkBucket()">bookmark</i>
            <!-- <h6 class="count">[[bucket.watchers_count]]</h6> -->
        </span>
        <span class="counter nt-mb">
            <i class="material-icons action content-action">visibility</i>
            <h6 class="count">[[bucket.views]]</h6>
        </span>
        <!-- <i class="material-icons action content-action" ng-click="close()">close</i> -->
    </section>

    <div class="background-area" ng-if="bucket" ng-style="{'background-image': 'url([[bucket.background_url]])'}"></div>
    <div class="background-overlay"></div>

    <article class="bucket-content" swipe-effect ng-swipe-left="nextArt()" ng-swipe-right="prevArt()">
        <header class="content-bucket-header">
            <h1>[[bucket.name | titlecase]]</h1>
            <hr>
            <div class="by-user">by</div>
            <h3><a ng-href="/@[[bucket.owner.slug]]">[[bucket.owner.name | titlecase ]]</a></h3>
            <hr>
            <h2>[[bucket.description]]</h2>
        </header>

        <div horizontal-sly class="content-scroll-holder nt-mb" ng-cloak ng-show="slyInitComplete" id="basic">
            <ul class="content-container">
                <section class="content-art-description" ng-repeat-start="art in bucketArts" ng-if="art.description" ng-style="{'height': '450px', 'width': '350px'}">
                    <p>[[art.description]]<i class="material-icons">play_arrow</i></p>
                </section>

                <section class="content-art" check-last ng-repeat-end ng-style="{'height': '450px', 'width': '[[math.round(450/art.composition.matter_aspect)]]px'}">

                    <div ng-cloak ng-show="art.composition.nsfw" class="nsfw-overlay" ng-click="toggleNsfw($index)">
                        <h6>This work is marked not safe</h6>
                        <h6>Click anywhere to show the work</h6>
                    </div>

                    <img ng-src="[[art.composition.matter_550]]">
                    <section class="art-details">
                        <div class="art-details-actions">
                            <i class="material-icons action" ng-cloak ng-show="bucket.has_ownership" ng-click="removeFromBucket($index)">delete</i>
                            <i class="material-icons action" ng-cloak ng-show="bucket.has_ownership" ng-click="editBucketMembership($index)">edit</i>
                        </div>
                        <h1><a custom-href="/arts/[[art.composition.slug]]">[[art.composition.title | titlecase]]</a></h1>
                        <div class="by-user">by</div>
                        <h2><a ng-href="/@[[art.composition.artist.slug]]">[[art.composition.artist.name | titlecase]]</a></h2>
                    </section>
                </section>
            </ul>
        </div>

        <div class="show-mb bucket-content-mb" >
            <a ng-cloak ng-show="art.show" custom-href="/arts/[[art.composition.slug]]" ng-repeat='art in bucketArts'>
                <img ng-src="[[art.composition.matter_550]]">
            </a>
        </div>

        <div class="scrollbar nt-mb" ng-cloak ng-show="slyInitComplete">
            <div class="handle">
                <div class="mousearea"></div>
            </div>
        </div>

        <site-loader site-loader-hide='slyInitComplete || $scope.noArts'></site-loader>

    </article>



</section>