<section key-event-binder tabindex="0" class="bucket-modal content">
    <section class="modal-actions-header">
        <i class="material-icons action content-action" ng-cloak ng-show="bucket.has_ownership">edit</i>
        <i class="material-icons action content-action" ui-sref="arts">close</i>
    </section>

    <div class="background-area" ng-if="bucket" ng-style="{'background-image': 'url([[bucket.background_url]])'}"></div>
    <div class="background-overlay"></div>

    <article class="bucket-content" swipe-effect ng-swipe-left="nextArt()" ng-swipe-right="prevArt()">
        <header class="content-bucket-header">
            <h1>[[bucket.name | titlecase]]</h1>
            <h2>[[bucket.description]]</h2>
            <div class="by-user">by</div>
            <h2><a ng-href="/@[[bucket.owner.slug]]">[[bucket.owner.name | titlecase]]</a></h2>
        </header>

        <div horizontal-sly class="content-scroll-holder nt-mb" id="basic">
            <ul class="content-container">
                <section class="content-art" check-last ng-repeat="art in bucketArts" ng-style="{'height': '450px', 'width': '[[math.round(450/art.matter_aspect)]]px'}">
                    <img ng-src="[[art.matter_550]]">
                    <section class="art-details">
                        <div class="art-details-actions">
                            <i class="material-icons action" ng-cloak ng-show="bucket.has_ownership">delete</i>
                        </div>
                        <h1><a ng-href="/arts/[[art.slug]]">[[art.title | titlecase]]</a></h1>
                        <div class="by-user">by</div>
                        <h2><a ng-href="/@[[art.artist.slug]]">[[art.artist.name | titlecase]]</a></h2>
                    </section>
                </section>
            </ul>
        </div>

        <div class="show-mb bucket-content-mb" >
            <a ng-cloak ng-show="art.show" ng-href="/arts/[[art.slug]]" ng-repeat='art in bucketArts'>
                <img ng-src="[[art.matter_550]]">
            </a>
        </div>

        <div class="scrollbar nt-mb">
            <div class="handle">
                <div class="mousearea"></div>
            </div>
        </div>

    </article>



</section>