<section tabindex="0" class="bucket-modal">
    <section class="modal-actions-header">
        <i class="material-icons action" ng-click="close()">close</i>
    </section>
    <div class="scroll-holder">
        <ul class="container">
            <h1 class="buckets-header" ng-cloak ng-hide="noUserBucket.status">
                Select series to add <a ng-href="/arts/[[art.slug]]">[[art.title | titlecase]]</a>
                <button ng-click="showCreateBucket()">New Series</button>
            </h1>


            <li class="bucket" ng-repeat="bucket in userBuckets">
                <div class="picture" ng-style="{'background-image': 'url([[bucket.picture]])'}">
                    <section class="details" ng-click="addToThisBucket($index)">
                        <h2>[[bucket.name | titlecase]]</h2>
                        <h3>[[bucket.description]]</h3>
                        <div class="arts-count">[[bucket.compositions_count]] Artworks</div>
                    </section>
                </div>
            </li>
            <div ng-cloak ng-show="noUserBucket.status" class="no-bucket">
                <h1 class="no-buckets-header">You have not created any series yet</h1>
                <h2>Time to give your thoughts a mould</h2>
                <button ng-click='noUserBucket.action()'>Create New Series</button>
            </div>
        </ul> <!-- container -->
    </div>
</section>