<section tabindex="0" class="bucket-modal content">
    <section class="modal-actions-header">
        <button ng-click="close()">X</button>
    </section>

    <div class="background-overlay">
        <header class="content-bucket-header">
            <h1>[[bucket.name | titlecase]]</h1>
            <div class="by-user">by</div>
            <h2><a ng-href="/@[[bucket.owner.slug]]">[[bucket.owner.name | titlecase]]</a></h2>
        </header>

        <div horizontal-sly class="content-scroll-holder" id="basic">
            <ul class="content-container">
                <section class="content-art" check-last ng-repeat="art in bucketArts" ng-style="{'height': '400px', 'width': '[[400/art.matter_aspect]]px'}">
                    <img ng-src="[[art.matter_550]]">
                    <section class="art-details">
                        <h1><a ng-href="/arts/[[art.slug]]">[[art.title | titlecase]]</a></h1>
                        <div class="by-user">by</div>
                        <h2><a ng-href="/@[[art.artist.slug]]">[[art.artist.name | titlecase]]</a></h2>
                    </section>
                </section>
            </ul>
        </div>

        <div class="scrollbar">
            <div class="handle">
                <div class="mousearea"></div>
            </div>
        </div>
    </div>

            

</section>