body {
	padding: 0;
	overflow: hidden;
}

.site-header {
	background: transparent;
	padding: 10px 16px;
}

.site-header .site-navigation {
}

.site-header .site-actions {
	width: 58%;
	float: right;
	margin-right: 16px;
}

.container {
	width: 100%;
	height: 100%;
	position: relative;
}

.content-container .content-title {
    padding-top: 32px;
}

.content-container .interpret-content {
    padding-bottom: 16px;
}

/*---------- Actions----------*/

.content-container .actions {
	width: 100%;
	display: block;
	margin-top: 32px;
}

.actions .interpret-action {
	width: 33%;
	float: left;
	text-align: center;
	background: transparent;
	border: none;
	vertical-align: top;
	display : flex;
	align-items : center;
	justify-content: center;
	color: rgba(0,0,0,0.85);
	cursor: pointer;
	font-size: 14px;
	margin-bottom: 32px;
}

.actions .interpret-action.active,
.actions .interpret-action:hover {
	color: rgba(0,0,0,1);
}

.actions .interpret-action i {
	margin-right: 4px;
}

/*--------------Author----------*/
.content-container .author {
    font-size: 14px;
    display: inline-block;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.9);
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
	border-top: 1px solid rgba(0,0,0,0.2);
}

.content-container .author:hover {
    text-decoration: underline;
}

.author .author-picture {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    vertical-align: bottom;
    float: left;
}

.author .author-details{
    padding-left: 68px;
}

.author-details .author-name {
    font-weight: bold;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.9);
    line-height: 1.5em;
    margin: 2px 0;
}

.author:hover .author-name {
    text-decoration: underline;
}

.author-details .author-name {
    color: rgba(0, 0, 0, 0.9);
}

.author-details .author-about {
    color: rgba(0, 0, 0, 0.74);
    line-height: 1.5em;
}

.author-details .author-about {
    color: rgba(0, 0, 0, 0.74);
}

.author .author-follow {
    background: transparent;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.9);
    border-radius: 1px;
    cursor: pointer;
    padding: 5px 10px;
    color: rgba(0, 0, 0, 0.9);
    float: right;
}

.author .author-follow.active,
.author .author-follow:hover {
    background: rgba(0, 0, 0, 0.9);
    color: rgba(255, 255, 255, 0.9);
}

/*-------------Related--------------*/

.interpret-associates {
    margin: 0 auto;
    text-align: center;
}

.interpret-associates .associate-category {
    margin-bottom: 32px;
    position: relative;
}

.interpret-associates .associate-category > h2 {
    margin-bottom: 4px;
    padding-right: 95px;
    padding-left: 5px;
    letter-spacing: 1px;
    font-size: 1em;
    text-align: left;
}

.interpret-associates .associate-category > h2 a:hover {
    text-decoration: underline;
}

@media (max-width: 800px) {
    .interpret-associates {
        width: 95%;
    }
}

/*------------ Related buckets ----------------*/
.interpret-associates .interpret-buckets {
    width: 100%;
    text-align: left;
}


.interpret-associates .interpret-buckets .associated-buckets-actions {
    position: absolute;
    right: 0;
}

.interpret-associates .interpret-buckets .associated-buckets-actions a {
    cursor: pointer;
}

.interpret-associates .interpret-buckets .associated-buckets-actions i {
    vertical-align: bottom;
    font-size: 1.2em;
    padding-left: 5px;
}

.interpret-associates .interpret-buckets .interpret-buckets-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.interpret-associates .interpret-buckets .interpret-bucket {
    width: 200px;
    padding: 5px;
    height: 200px;
    display: inline-block;
    text-align: center;
    flex-grow: 1;
}

.interpret-associates .interpret-buckets .interpret-bucket-picture {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    cursor: pointer;
    display: inline-block;
}

.interpret-associates .interpret-buckets .interpret-bucket .details {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    transition: all 1s;
    padding: 4px;
    padding-top: 28px;
    line-height: 1;
}

.interpret-associates .interpret-buckets .interpret-bucket .details:hover {
    background: rgba(0, 0, 0, 0.7);
}

.interpret-associates .interpret-buckets .interpret-bucket .details h2 {
    color: white;
    font-size: 1.4em;
    font-weight: bold;
    line-height: 1.5em;
}

.interpret-associates .interpret-buckets .interpret-bucket .details .by-user {
    font-size: 0.8em;
    line-height: 1.5em;
    margin-top: 40px;
}


.interpret-associates .interpret-buckets .interpret-bucket .details.long-description .by-user {
    margin-top: 40px;
}

.interpret-associates .interpret-buckets .interpret-bucket .details h3 {
    font-size: 1em;
    line-height: 1.5em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.interpret-associates .interpret-buckets .interpret-bucket .details .arts-count {
    font-size: 0.7em;
    margin-top: 10px;
    display: inline;
}

.interpret-bucket .details .interpret-bucket-details-actions,
.interpret-bucket .details .bookmark-action {
    position: absolute;
    top: 20px;
    transition: all 0.3s;
}

.interpret-bucket .details:hover .interpret-bucket-details-actions i,
.interpret-bucket .details:hover .bookmark-action i {
    opacity: 1;
}

.interpret-bucket .details .interpret-bucket-details-actions {
    right: 20px;
}

.interpret-bucket .details .bookmark-action {
    left: 20px;
}

.interpret-bucket .details .interpret-bucket-details-actions i,
.interpret-bucket .details .bookmark-action i {
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.2em;
    padding: 0 2px;
    opacity: 0;
}

.interpret-bucket .details .interpret-bucket-details-actions i.admire-on-icon,
.interpret-bucket .details .bookmark-action i.bookmark-on-icon {
    opacity: 1;
}

.interpret-bucket .details .interpret-bucket-details-actions i:hover,
.interpret-bucket .details .bookmark-action i:hover {
    color: white;
}

@media (max-width: 800px) {
    .interpret-associates .interpret-buckets .interpret-bucket {
        width: 50%;
        display: inline-block;
        height: 200px;
    }

    .interpret-associates .interpret-buckets .interpret-buckets-container {
        display: block;
    }
}


/*--------------- Related Works --------------*/

.interpret-associates .associate-works .associate-works-container {
    width: 100%;
    text-align: left;
}

.interpret-associates .associate-works .work {
    width: 180px;
    padding: 5px;
    height: 180px;
    display: inline-block;
    text-align: center;
}

.interpret-associates .associate-works .work .work-nsfw-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    color: white;
    z-index: 10;
    padding-top: 20%;
    line-height: 20px;
}

.interpret-associates .associate-works .work .work-nsfw-overlay.ng-hide-add {
        -webkit-animation: fadeOut 0.4s;
        animation: fadeOut 0.4s;
}

.interpret-associates .associate-works .work-picture {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    cursor: pointer;
    display: inline-block;
}

.interpret-associates .associate-works .work .work-details {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 1s;
    line-height: 1;
    padding-top: 40px;
}

.interpret-associates .associate-works .work .work-details:hover {
    background: rgba(0, 0, 0, 0.7);
    color: white;
    opacity: 1;
}

.interpret-associates .associate-works .work .work-details h2 {
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1.2em;
}

.interpret-associates .associate-works .work .work-details .by-user {
    font-size: 0.8em;
    margin-top: 20px;
    line-height: 1.2em;
}


.interpret-associates .associate-works .work .work-details.long-title .by-user {
    
}

.interpret-associates .associate-works .work .work-details h3 {
    font-size: 1em;
    line-height: 1.2em;
}

.interpret-associates .associate-works .work .work-details .arts-count {
    font-size: 0.7em;
    display: inline;
}

.interpret-associates .associate-works .associated-works-actions {
    position: absolute;
    right: 0;
}

.interpret-associates .associate-works .associated-works-actions i {
    vertical-align: bottom;
    font-size: 1.2em;
    padding-left: 5px;
}

@media (max-width: 800px) {
    .interpret-associates .associate-works .work {
        width: 50%;
        display: inline-block;
    }
}