body {
	padding: 0;
	overflow: hidden;
}

.site-header {
	background: transparent;
	padding: 10px 16px;
}

.site-header .site-navigation {
	/*visibility: hidden;*/
}

.site-header .site-actions {
	/*text-align: left;*/
	/*display: inline;*/
	width: 58%;
	float: right;
	margin-right: 16px;
}

.container {
	width: 100%;
	height: 100%;
	position: relative;
	/*padding-top: 80px;*/
}