@font-face {
    font-family: volbi;
    src: url(/fonts/Vollkorn-BoldItalic.TTF);
    font-weight:bold;
    font-style:italic;
}
@font-face {
    font-family: pfdr;
    src: url(/fonts/PlayfairDisplay-Regular.TTF);
    font-weight:400;
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  font-family: taile;
}

/*=================== Head Banner =========================*/

.banner {
  width: 100%;
  min-height: 100%;
  background: url(/static/images/reader/banner.jpg) no-repeat center top;
  background-size: cover;
  position: relative;
} 

.banner section {
  text-align: center;
  width: 70%;
  margin: 0 auto;
  height: 100%;
  color: white;
}

.banner section h1 {
  font-family: volbi;
  font-weight: bold;
  font-style: italic;
  font-size: 4em;
  margin-bottom: 20px;
  padding-top: 22%;
  line-height: 1.2em;
  letter-spacing: 1px;
}
 
.banner section h3 {
  font-family: pfdr;
  font-style: italic;
  font-size: 1.5em;
  margin-bottom: 25px;
  letter-spacing: 1px;
  line-height: 1.5em;
}

/*============== EXPLORE BUTTON ====================*/
.explore {
  font-family: pfdr;
  display: inline-block;
  padding: 12px 18px;
  border: 2px solid #fff;
  border-radius: 1px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 0.1em;
  cursor: pointer;
  opacity: 0.9;
}

.explore:hover {
  opacity: 1;
}

/*=========== HEAD FOOTER =====================*/
.head-footer .social {
  position: absolute;
  bottom: 10px;
  right: 20px;
}

.head-footer .social li {
  float: right;
  width: 2.5em;
  height: 2.5em;
  opacity: 0.5;
}

.head-footer .social li:hover {
  opacity: 1;
}

.head-footer .social li img {
  width: 100%;
  height: 100%;
}

/*================= FEEDS ==================*/

.feeds {
  width: 80%;
  margin: 0 auto;
  margin-top: 4%;
}

.feeds h4 {
  margin: 0 auto;
  display: block;
  text-align: center;
  font-weight: bold;
}

.feeds hr {
  margin: 5px auto;
  width: 80%;
}

/*=============== POSTS ==============*/
.post {
  width: 80%;
  margin: 5% auto;
  display: block;
  box-shadow: 10px 10px 30px 0px #C9C6C6;
  font-family: taile;
  overflow: hidden;
  -webkit-transition: height 0.15s ease-out;
  transition: height 0.15s ease-out;
  
}

.artwork {
  width: 50%;
  height: auto;
  display: inline-block;
  float: left;
  /*vertical-align: middle;*/
  overflow: hidden;
  align-content: middle;
}

.description {
  display: inline-block;
  float: right;
  width: 45%;
  vertical-align:top;
  padding-right: .5em;
  margin-top: 10px;
  padding: 1em
}

.description-header {
  text-align: left;
  margin-bottom: 20px;
}

.description-header h4 {
  font-family: volbi;
  font-weight: bold;
  font-style: italic;
  font-size: 36px;
  font-weight: bold;
  line-height: 42px;
  letter-spacing: 0.5px;
  text-decoration: none solid rgba(0, 0, 0, 0.8);
  color: rgba(0, 0, 0, 0.8);
}

.description-header h5 {
  font-size: 18px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.3);
  letter-spacing: 0.1px;
  line-height: 22px;
  text-decoration: none solid rgba(0, 0, 0, 0.3);
}

.description-header .artist {
  color: rgb(87, 173, 104);
  text-decoration: none solid rgb(87, 173, 104);
}

/*=========== TOP INTERPRETATION ==============*/
.comment {
  margin-bottom: 5px;
}

.comment-text {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.1px;
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none solid rgba(0, 0, 0, 0.8);
  margin-bottom: 7px;
}

.comment-text .more {
  cursor: pointer;
  color: rgb(87, 173, 104);
}

.comment-footer {
  font-size: 17px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.3);
  letter-spacing: 0.1px;
  line-height: 22px;
  text-decoration: none solid rgba(0, 0, 0, 0.3);
  /*text-align: right;*/
}

.comment-footer a {
  color: rgb(87, 173, 104);
  text-decoration: none solid rgb(87, 173, 104);
}

.description-footer header {
  font-size: 17px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.3);
  letter-spacing: 0.1px;
  line-height: 22px;
  text-decoration: none solid rgba(0, 0, 0, 0.3);
  margin-bottom: 5px;
}

.description-footer {
  margin-right: 5px;
}

.description-footer .icon {
  height: 30px;
  width: auto;
  cursor: pointer;
  opacity: 0.5;
  margin-bottom: 5px;
}

.description-footer .icon:hover {
  opacity: 1;
}

.description-footer .icon-left{
  float: left;
  margin-right: 5px;
}

.description-footer .icon-right{
  float: right;
  margin-left: 5px;
}


.description-footer .vote-active {
  background: rgb(87, 173, 104);
}

/*================= Clearfix =====================*/
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  clear: both;
  *zoom: 1;
}

.right {
  float: right;
}

.left {
  float: left;
}
