html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  font-family: 'Lato', sans-serif;
}

.auth-user,
.auth-user a {
  color: white;
}

/*=================== Head Banner =========================*/

.banner {
  width: 100%;
  min-height: 100%;
  background: url('http://www.lukechueh.com/images/paintings/paintings-whole/Black-In-White-Big.jpg') no-repeat center right;
  background-size: cover;
  position: relative;
}

.banner .content {
  text-align: left;
  width: 70%;
  margin: 0 auto;
  padding-top: 10%;
  letter-spacing: 1px;
  color: white;
}

.banner .content .line1 {
  font-size: 4em;
  line-height: 1.2em;
}

@media (max-width: 800px) {
  .banner {
    height: 600px;
    min-height: 0;
  }

  .banner .content {
    width: 90%;
  }

  .banner .content h1 {
    font-size: 2.2em;
    padding-top: 25%;
  }

  .banner .content h3 {
    font-size: 1.2em;
    margin-bottom: 2.5em;
  }

}

/*============== EXPLORE BUTTON ====================*/
.explore {
  font-weight: 400;
  display: inline-block;
  padding: 12px 18px;
  margin-top: 20px;
  border: 2px solid black;
  border-radius: 1px;
  text-align: center;
  font-size: 1.1em;
  letter-spacing: 0.1em;
  cursor: pointer;
  color: white;
  background-color: black;
  transition: all 1s;
}

.explore:hover {
  background-color: white;
  border-color: white;
  color: black
}

/*=========== HEAD FOOTER =====================*/
.head-footer .social {
  position: absolute;
  bottom: 10px;
  right: 20px;
}

.head-footer .social li {
  float: right;
  width: 2.5em;
  height: 2.5em;
  opacity: 0.5;
}

.head-footer .social li:hover {
  opacity: 1;
}

.head-footer .social li img {
  width: 100%;
  height: 100%;
}

@media (max-width: 800px) {
  .head-footer .social {
    position: static;
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
  }

  .head-footer .social li {
    float: none;
    display: inline-block;
  }
}

/*------------ Concept Break ------------------*/

.concept-break {
    width: 100%;
    text-align: center;
}

.concept-break .content {
    width: 800px;
    margin: 0 auto;
    padding: 125px 0;
}

.concept-break .content p {
    display: block;
    font-size: 2em;
    line-height: 1.2em;
    letter-spacing: 1px;
    padding: 30px 0;
}

/*--------------- Concept What ----------------*/

.concept-what {
    width: 100%;
    background-color: black;
    color: white;
    padding: 50px 0;
}

.concept-what header {
    width: 800px;
    margin: 0 auto;
    font-size: 1.8em;
    line-height: 1.2em;
    text-align: center;
    padding-bottom: 50px;
}

.concept-what header hr {
    width: 50%;
    margin: 10px auto;
}

.concept-what .to-do {
    width: 70%;
    margin: 0 auto;
}

.concept-what .to-do li {
    width: 33%;
    padding: 0 5%;
    display: inline-block;
    letter-spacing: 1px;
    line-height: 1.5em;
    vertical-align: top;
    text-align: center;
}

.concept-what .concept-series {
  width: 80%;
  margin: 70px auto;
  height: 350px;
  color: rgba(0, 0, 0, 0.8);
}

.concept-what .concept-series .concept-series-container {
    width: 33%;
    height: 100%;
    padding: 20px;
    display: inline-block;
}

.concept-what .concept-series .bucket-picture {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    cursor: pointer;
}

.concept-what .concept-series .bucket-picture .bucket-inset-details {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    transition: all 1s;
    text-align: center;
    padding: 5px;
    padding-top: 40px;
}

.concept-what .concept-series .bucket-picture .bucket-inset-details:hover {
    background: rgba(0, 0, 0, 0.8);
}

.concept-what .concept-series .bucket-picture .bucket-inset-details h2 {
    font-size: 1.5em;
    line-height: 1.5em;
}

.concept-what .concept-series .bucket-picture .bucket-inset-details .by-user {
    font-size: 0.8em;
    margin-top: 80px;
    line-height: 1.5em;
}

.concept-what .concept-series .bucket-picture .bucket-inset-details h3 {
    font-size: 1em;
    line-height: 1.5em;
}

.concept-what .concept-series .bucket-picture .bucket-inset-details .arts-count {
    font-size: 0.7em;
    margin-top: 10px;
    display: inline;
}

/*-------------- Concept Close ---------------------*/

footer.concept-close {
    width: 100%;
    min-height: 100%;
    background: url('http://www.fubiz.net/wp-content/uploads/2015/01/Black-And-White-Watercolors-Illustrations_2-640x640.jpg');
    background-size: cover;
    text-align: center;
    padding-top: 150px;
    position: relative;
}

footer.concept-close header {
    width: 800px;
    margin: 0 auto;
}

footer.concept-close header h2 {
    font-size: 1.8em;
    font-weight: bold;
    line-height: 1.2em;
    letter-spacing: 1px;
    text-align: center;
    color: white;
    margin-bottom: 30px;
}

.concept-close .bottom-footer .links {
    position: absolute;
    bottom: 10px;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}

.concept-close .bottom-footer .links a {
    color: white;
    padding: 5px;
    letter-spacing: 1px;
}

.concept-close .bottom-footer .links a:hover {
}

.concept-close .bottom-footer .social {
  position: absolute;
  bottom: 10px;
  right: 20px;
}

.concept-close .bottom-footer .social li {
  float: right;
  width: 2.5em;
  height: 2.5em;
  opacity: 0.5;
}

.concept-close .bottom-footer .social li:hover {
  opacity: 1;
}

.concept-close .bottom-footer .social li img {
  width: 100%;
  height: 100%;
}

@media (max-width: 800px) {
    .concept-close .bottom-footer .social {
        position: static;
        width: 90%;
        margin: 0 auto;
        margin-top: 50px;
        text-align: center;
      }

  .head-footer .social li {
    float: none;
    display: inline-block;
  }
}