html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: always;
    font-family: 'Lato', sans-serif;
}

.auth-user,
.auth-user a {
    color: white;
}

/*=================== Head Banner =========================*/

.banner {
    width: 100%;
    min-height: 100%;
    background: url('http://thirddime.com/media/2132/luke-chueh/luke-chueh_black-in-white_thirddime.jpg') no-repeat center right;
    background-size: cover;
    position: relative;
}

.banner .content {
    text-align: left;
    width: 70%;
    margin: 0 auto;
    padding-top: 10%;
    letter-spacing: 1px;
    color: white;
}

.banner .content .line1 {
    font-size: 4em;
    line-height: 1.2em;
}

@media (max-width: 800px) {
    .banner {
        min-height: 0;
    }

    .banner .content {
        width: 90%;
        padding-top: 25%;
        text-align: center;
    }

    .banner .content .line1 {
        font-size: 2.2em;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 10px 0;
    }

    .banner .content .explore {
        margin-top: 50px;
    }

}

/*============== EXPLORE BUTTON ====================*/
.explore {
    font-weight: 400;
    display: inline-block;
    padding: 12px 18px;
    margin-top: 20px;
    border: 2px solid black;
    border-radius: 1px;
    text-align: center;
    font-size: 1.1em;
    letter-spacing: 0.1em;
    cursor: pointer;
    color: white;
    background-color: black;
    transition: all 1s;
}

.explore:hover {
    background-color: white;
    border-color: white;
    color: black
}

/*=========== HEAD FOOTER =====================*/
.head-footer .social {
    position: absolute;
    bottom: 10px;
    right: 20px;
}

.head-footer .social li {
    float: right;
    width: 2.5em;
    height: 2.5em;
    opacity: 0.5;
    cursor: pointer;
}

.head-footer .social li:hover {
    opacity: 1;
}

.head-footer .social li img {
    width: 100%;
    height: 100%;
}

@media (max-width: 800px) {
    .head-footer .social {
        position: static;
        width: 90%;
        margin: 0 auto;
    }

    .head-footer .social {
        display: block;
        position: default;
        margin-top: 50px;
        text-align: center;
    }

    .head-footer .social li {
        float: none;
        padding: 0 3px;
        display: inline-block;
    }
}

/*========== Head Footer - Attribution ============*/
.head-footer .attribution {
    position: absolute;
    bottom: 15px;
    left: 25px;
    color: white;
    line-height: 1.2em;
    letter-spacing: 1px;
}

.head-footer .attribution h3 a {
    font-size: 0.9em;
    color: white;
}

.head-footer .attribution h4 {
    font-family: 'taile', sans-serif;
    font-size: 0.85em;
}

.head-footer .attribution h4 a {
    color: white;
    font-size: 0.85em;
    font-family: 'taile', sans-serif;
    font-family: 'taile', sans-serif;
}

@media (max-width: 800px) {
    .head-footer .attribution {
        display: block;
        position: static;
        line-height: 1em;
        padding-top: 10px;
        padding-left: 5px;
    }

    .head-footer .attribution h3 a {
        font-size: 0.7em;
    }

    .head-footer .attribution h4 {
        font-size: 0.6em;
    }

    .head-footer .attribution h4 a {
        font-size: 1em;
    }
}

/*------------ Concept Break ------------------*/

.concept-break {
    width: 100%;
    text-align: center;
}

.concept-break .content {
    max-width: 800px;
    width: 80%;
    margin: 0 auto;
    padding: 125px 0;
}

.concept-break .content p {
    display: block;
    font-size: 2em;
    line-height: 1.2em;
    letter-spacing: 1px;
    padding: 30px 0;
}

@media (max-width: 800px) {
    .concept-break .content {
        padding: 50px 0 ;
    }

    .concept-break .content p {
        font-size: 1.3em;
        font-family: 'taile', sans-serif;
    }
}

/*--------------- Concept What ----------------*/

.concept-what {
        width: 100%;
        background-color: black;
        color: white;
        padding: 50px 0;
}

.concept-what header {
        max-width: 800px;
        width: 80%;
        margin: 0 auto;
        font-size: 1.8em;
        line-height: 1.2em;
        text-align: center;
        padding-bottom: 50px;
}

.concept-what header hr {
        width: 50%;
        margin: 10px auto;
}

.concept-what .to-do {
        width: 70%;
        margin: 0 auto;
}

.concept-what .to-do li {
        width: 33%;
        padding: 0 5%;
        display: inline-block;
        letter-spacing: 1px;
        line-height: 1.5em;
        vertical-align: top;
        text-align: center;
}

@media (max-width: 800px) {
    .concept-what .to-do {
        width: 95%;
    }

    .concept-what .to-do li {
        width: 100%;
        padding-bottom: 10px;
    }
}

.concept-what .concept-series {
    width: 80%;
    margin: 70px auto;
    color: rgba(0, 0, 0, 0.8);
}

.concept-what .concept-series .concept-series-container {
        width: 33%;
        height: 350px;
        padding: 20px;
        display: inline-block;
}

.concept-what .concept-series .bucket-picture {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        cursor: pointer;
}

.concept-what .concept-series .bucket-picture .bucket-inset-details {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        color: white;
        transition: all 1s;
        text-align: center;
        padding: 5px;
        padding-top: 40px;
}

.concept-what .concept-series .bucket-picture .bucket-inset-details:hover {
        background: rgba(0, 0, 0, 0.8);
}

.concept-what .concept-series .bucket-picture .bucket-inset-details h2 {
        font-size: 1.5em;
        line-height: 1.5em;
}

.concept-what .concept-series .bucket-picture .bucket-inset-details .by-user {
        font-size: 0.8em;
        margin-top: 80px;
        line-height: 1.5em;
}

.concept-what .concept-series .bucket-picture .bucket-inset-details h3 {
        font-size: 1em;
        line-height: 1.5em;
}

.concept-what .concept-series .bucket-picture .bucket-inset-details .arts-count {
        font-size: 0.7em;
        margin-top: 10px;
        display: inline;
}

@media (max-width: 800px) {
    .concept-what .concept-series {
        width: 100%;
    }

    .concept-what .concept-series .concept-series-container {
        width: 95%;
        display: block;
        margin: 0 auto;
    }
}

/*-------------- Concept Close ---------------------*/

footer.concept-close {
        width: 100%;
        min-height: 100%;
        background: url('http://thirddime.com/media/2132/elicia-edijanto/elicia-edijanto_glowing-sun_thirddime.jpg');
        background-size: cover;
        background-position: center center;
        text-align: center;
        padding-top: 150px;
        position: relative;
}

footer.concept-close header {
        max-width: 800px;
        width: 80%;
        margin: 0 auto;
}

footer.concept-close header h2 {
        font-size: 1.8em;
        font-weight: bold;
        line-height: 1.2em;
        letter-spacing: 1px;
        text-align: center;
        color: white;
        margin-bottom: 30px;
}

.concept-close .bottom-footer .links {
        position: absolute;
        bottom: 10px;
        left:0;
        right:0;
        margin-left:auto;
        margin-right:auto;
        padding-top: 10px;
}

.concept-close .bottom-footer .links a {
        color: white;
        padding: 5px;
        letter-spacing: 1px;
}

.concept-close .bottom-footer .links a:hover {
}

.concept-close .bottom-footer .social {
    position: absolute;
    bottom: 10px;
    right: 20px;
}

.concept-close .bottom-footer .social li {
    float: right;
    width: 2.5em;
    height: 2.5em;
    opacity: 0.5;
    cursor: pointer;
}

.concept-close .bottom-footer .social li:hover {
    opacity: 1;
}

.concept-close .bottom-footer .social li img {
    width: 100%;
    height: 100%;
}

@media (max-width: 800px) {
    footer.concept-close {
        padding-top: 50px;
    }

    .concept-close .bottom-footer {
            position: absolute;
            bottom: 10px;
            left:0;
            right:0;
            margin-left:auto;
            margin-right:auto;
            padding-top: 10px;
    }

    .concept-close .bottom-footer .links {
            position: static;
            line-height: 1.5em;
    }
}

/*========== Concpet Close - Attribution ============*/
.bottom-footer .attribution {
    position: absolute;
    bottom: 10px;
    left: 20px;
    color: white;
    line-height: 1.2em;
    letter-spacing: 1px;
    text-align: left;
    padding-left: 5px;
}

.bottom-footer .attribution h3 a {
    font-size: 0.9em;
    color: white;
}

.bottom-footer .attribution h4 {
    font-family: 'taile', sans-serif;
    font-size: 0.85em;
}

.bottom-footer .attribution h4 a {
    color: white;
    font-size: 0.85em;
    font-family: 'taile', sans-serif;
    font-family: 'taile', sans-serif;
}

@media (max-width: 800px) {
    .bottom-footer .attribution {
        display: block;
        position: static;
        line-height: 1em;
        padding-top: 10px;
    }

    .bottom-footer .attribution h3 a {
        font-size: 0.7em;
    }

    .bottom-footer .attribution h4 {
        font-size: 0.6em;
    }

    .bottom-footer .attribution h4 a {
        font-size: 1em;
    }
}