.upload-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3000;
    background: rgba(0, 0, 0, 0.6);
    overflow: auto;
}

.upload-modal .site-loader .stick {
    background: white;
}


.upload-modal::-webkit-scrollbar {
    width: 15px;
}

.upload-modal::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
}

.upload-modal::-webkit-scrollbar-thumb {
    background-color: black;
    border: 5px solid white;
}

/*=========== Modal Action ============*/

.upload-modal .upload-modal-actions-header {
    position: fixed;
    top: 20px;
    right: 20px;
}

.upload-modal .upload-modal-actions-header button {
    color: rgba(0, 0, 0, 0.6);
    background: transparent;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
}

.upload-modal .upload-modal-actions-header button:hover {
    color: rgba(0, 0, 0, 1);
}

/*============== Image Source =============*/

.image-source {
    width: 400px;
    height: 500px;
    margin: 0 auto;
    text-align: center;
    margin-top: 75px;
    background-color: white;
    border-radius: 3px;
}

.image-source .art-upload-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 10;
}

.image-source .artwork-image-source {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: relative;
}

.image-source .art-upload-overlay.ng-hide-remove {
    -webkit-animation: fadeIn 0.4s;
    animation: fadeIn 0.4s;
}

.image-source header {
    font-size: 1.5em;
    font-weight: bold;
    line-height: 2em;
}

.image-source .artwork-image-source .source-upload {
    width: 100%;
    height: 300px;
    position: relative;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 3px;
}

.image-source .artwork-image-source .realfile,
.image-source .artwork-image-source .fakefile {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.image-source .artwork-image-source .realfile {
    z-index: 2;
    opacity: 0;
    cursor: pointer;
}

.image-source .artwork-image-source .fakefile {
    z-index: 1;
}

.image-source .artwork-image-source .fakefile h2 {
    font-size: 1.5em;
    padding-top: 125px;
    color: white;
}

.image-source .artwork-image-source .fakefile:hover h2 {
    text-decoration: underline;
}

@media (min-width: 1500px) {
    .image-source {
        margin-top: 200px;
    }
}

@media (max-width: 800px) {
    .image-source {
        width: 90%;
        font-size: 0.8em;
    }
}

.image-source .uploaded-image {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.image-source .uploaded-image img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*------ Url Upload -----*/

.image-source .source-url {
    width: 100%;
    margin-top: 40px;
}

.source-url .upload-url-form {
    width: 100%;
}
.source-url .upload-url-form .url-submit,
.source-url .upload-url-form input {
    height: 30px;
}

.source-url .upload-url-form input {
    width: 70%;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    display: inline-block;
    float: left;
    text-align: center;
    font-size: 1.1em;
}

.source-url .upload-url-form .url-submit {
    width: 24%;
    float: right;
    background: transparent;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.9);
    opacity: 0.5;
}

.source-url .upload-url-form .url-submit.enable {
    opacity: 1;
}


.source-url .upload-url-form .url-submit.enable:hover {
    background: rgba(0, 0, 0, 0.9);
    color: white;
    cursor: pointer;
}

.source-url .upload-url-form .error {
    padding-top: 10px;
}

/*================ Art Info Source =================*/

.info-source {
    width: 400px;
    height: 500px;
    margin: 0 auto;
    text-align: center;
    margin-top: 75px;
    background: white;
    padding: 20px;
    text-align: center;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.info-source .info-form {
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    display: block;
    vertical-align: top;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    position: relative;

    -webkit-animation: fadeIn 0.4s;
    animation: fadeIn 0.4s;
}

.info-source .info-form .art-upload-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 10;
}

.info-source .info-form .art-upload-overlay.ng-hide-remove {
    -webkit-animation: fadeIn 0.4s;
    animation: fadeIn 0.4s;
}

.info-source header {
    font-size: 1.5em;
    font-weight: bold;
    line-height: 2em;
    margin-bottom: 30px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

.info-source .info-form .title,
.info-source .info-form .artist-input,
.info-source .info-form .input-nsfw,
.info-source .info-form .info-bucket-select {
    width: 100%;
    height: 30px;
    font-size: 1.1em;
    margin: 20px 0;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    display: block;
    text-align: center;
}

.angucomplete-dropdown {
   border: 1px solid rgba(0, 0, 0, 0.3);
   max-height: 300px;
   overflow: scroll;
   background-color: white;
   color: black;
}

.angucomplete-selected-row {
   background-color: rgba(0, 0, 0, 0.6);
}

.angucomplete-row {
   padding: 5px 15px;
   cursor: pointer;
   text-align: left;
   text-align: center;
   color: black;
}

.angucomplete-row:hover {
   background-color: rgba(0, 0, 0, 0.6);
   color: white;
}

.info-source .info-form .input-nsfw {
    width: 100%;
    text-align: left;
    padding-top: 30px;
    border: none;
}

.info-source .info-form .input-nsfw input {
    float: right;
}

@media (min-width: 1500px) {
    .info-source {
        margin-top: 200px;
    }
}

@media (max-width: 800px) {
    .info-source {
        width: 90%;
        font-size: 0.8em;
    }
}

/*------------ Bucket Selection -----------------*/
.info-source .info-form .info-bucket-select {
    margin-top: 40px;
    width: 100%;
    display: inline-block;
    font-weight: normal;
    text-align: center;
    background-color: white;
}

/*----- Submit Button ----------*/

.info-source .info-form .info-submit-button {
    width: 150px;
    margin: 15px auto;
    margin-top: 30px;
    background: transparent;
    background-color: black;
    color: white;
    border: none;
    border: 1px solid white;
    opacity: 0.5;
    padding: 10px 10px;
}

.info-source .info-form .info-submit-button.enable {
    opacity: 1;
    cursor: pointer;
}

.info-source .info-form .info-submit-button.enable:hover {
    background: white;
    color: black;
}