
body {
  overflow-y: scroll;
}

.activities-arts-container .activities-art-container {
    /*width: 90%;*/
    /*background: white;*/
}

.activities-arts-container .activities-art-container header {
    width: 400px;
    padding: 10px 5px;
    margin: 0 auto;
    color: rgba(0, 0, 0, 0.54);
    font-size: 0.75em;
    letter-spacing: 1px;
    vertical-align: top;
    display : flex;
    align-items : center;
}

.activities-arts-container .activities-art-container header a {
    color: rgba(0, 0, 0, 0.9);
    letter-spacing: 1px;
    cursor: pointer;
    vertical-align: top;
    padding: 0 4px;
}

.activities-arts-container .activities-art-container header a:hover {
    color: rgba(0, 0, 0, 1);
    text-decoration: underline;
}

.activities-arts-container .activities-art-container .feed-bucket {
    height: auto;
}

.activities-arts-container .activities-art-container .feed-bucket .bucket-picture {
    height: 300px;
}

@media (max-width: 800px) {

    .activities-arts-container .activities-art-container header {
        width: 100%;
    }
}