

.activities-arts-container {
    /*width: 90%;*/
}

.activities-arts-container .activities-art-container header {
    width: 400px;
    padding: 10px 5px;
    margin: 0 auto;
    color: rgba(0, 0, 0, 0.54);
    font-size: 0.75em;
    letter-spacing: 1px;
}

.activities-arts-container .activities-art-container header a {
    color: rgba(0, 0, 0, 0.54);
    letter-spacing: 1px;
    cursor: pointer;
}

.activities-arts-container .activities-art-container header a:hover {
    color: rgba(0, 0, 0, 0.9);
}

.activities-arts-container .activities-art-container .feed-bucket {
    height: 400px;
}

.activities-arts-container .activities-art-container .feed-bucket .bucket-picture {
    height: 350px;
}