html {
  overflow-y: scroll;
}

html, body {
  height: 100%;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
}

.auth-user,
.auth-user a {
  color: white;
}
/*================ HEADER ===================*/

.primary-header {
    width: 100%;
}

.primary-header .container{
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;
}

.primary-header .primary-header-header {
    width: 100%;
    text-align: center;
}

.primary-header .primary-header-header .picture {
	text-align: center;
    margin-bottom: 10px;
    display: block;
}

.primary-header .primary-header-header img {
    width: 200px;
}

.primary-header .primary-header-header .details {
    display: inline-block;
    vertical-align: top;
    padding-top: 20px;
}

.primary-header .primary-header-header h1, h2 {
    line-height: 1.3em;
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.9);
}

.primary-header h1 {
    font-size: 2em;
    font-weight: bold;
}

.primary-header h2 {
    font-size: 1.2em;
    color: rgba(0, 0, 0, 0.6);
}

.primary-header .primary-header-header .details .actions {
    display: block;
    vertical-align: top;
    text-align: center;
    margin-top: 30px;
}

header .details .actions button {
    background: transparent;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 5px 25px;
    font-size: 0.8em;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    display: block;
    margin: 20px auto;
    margin-top: 40px;
}

header .details .actions button.active,
header .details .actions button:hover {
    background: rgba(0, 0, 0, 0.9);
    color: white;
}

header .details .actions button.active:before {
    position: absolute;
    content: '\E876';
    font-family: 'Material Icons';
    left: 80%;
    top: 50%;
    transform: translateY(-50%);
}

header .details .actions h3 {
    display: inline;
    color: rgba(0, 0, 0, 0.54);
    margin-left: 5px;
    font-size: 0.8em;
    cursor: pointer;
}

header .details .actions h3:hover {
  text-decoration: underline;
}

@media (max-width: 800px) {
    .primary-header .container{
        width: 75%;
    }
    .primary-header h1 {
        font-size: 2em;
    }

    .primary-header h2 {
        font-size: 1em;
    }
}
/*============ Contributions =============*/

.primary-header .contributions {
    /*width: 100%;*/
    margin: 40px auto;
    margin-top: 60px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    text-align: center;
}

.primary-header .contributions .contribution {
    display: inline-block;
    cursor: pointer;
    text-align: left;
    margin-right: 20px;
    padding-bottom: 5px;
}

.primary-header .contribution h4 {
    font-size: 1em;
    color: rgba(0, 0, 0, 0.6);
    letter-spacing: 1px;
}

.primary-header .contribution h5 {
    font-size: 1.8em;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8);
    text-align: center;
}

.primary-header .contribution:hover h4,
.primary-header .contribution:hover h5 {
    color: rgba(0, 0, 0, 1);
}

.primary-header .contributions .active {
    border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.primary-header .contributions .active h4,
.primary-header .contributions .active h5 {
    color: rgba(0, 0, 0, 1);
}


@media (max-width: 800px) {
    .primary-header .contributions {
        width: 95%;
    }
    .primary-header .contribution h4 {
        font-size: 0.5em;
    }

    .primary-header .controbution h5 {
        font-size: 0.8em;
    }
}
/*================ Painting Area ==================*/
.profile-container {
  width: 80%;
  max-width: 1200px;
}


/*================= Buckets Area ============================*/

.user-buckets {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.user-buckets .user-bucket {
    width: 32%;
    display: inline-block;
}

.user-bucket .user-bucket-picture {
    width: 100%;
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    cursor: pointer;
    border: 10px solid white;
}

.user-bucket-picture .user-bucket-details {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 5px;
    padding-top: 50px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    transition: all 1s;
}

.user-bucket-picture .user-bucket-details:hover {
    background: rgba(0, 0, 0, 0.7);
}

.user-bucket-picture .user-bucket-details h2 {
    color: white;
    font-size: 1.5em;
    line-height: 1.5em;
}

.user-bucket-picture .user-bucket-details .by-user {
    font-size: 0.8em;
    margin-top: 80px;
    line-height: 1.5em;
}

.user-bucket-picture .user-bucket-details.long-description .by-user {
    margin-top: 30px;
}

.user-bucket-picture .user-bucket-details h3 {
    font-size: 1em;
    line-height: 1.5em;
}

.user-bucket-picture .user-bucket-details .arts-count {
    font-size: 0.7em;
    margin-top: 10px;
    display: inline;
}

.user-bucket-picture .user-bucket-details .user-bucket-details-actions {
    display: block;
}

.user-bucket-picture .user-bucket-details .user-bucket-details-actions i {
    display: inline-block;
    margin: 0 3px;
    margin-top: 15px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.6);
    font-size: 1.1em;
    font-weight: 200;
}

.user-bucket-picture .user-bucket-details .user-bucket-details-actions i:hover {
    color: rgba(255, 255, 255, 0.95);
}

@media (max-width: 800px) {
    .user-buckets {
        width: 95%;
    }
    .user-buckets .user-bucket {
        width: 100%;
    }
}
