html {
  /*overflow-y: scroll;*/
}

html, body {
  height: 100%;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
}

body {
    background: #fafafa;
    padding-top: 0;
}

.site-header {
    background: transparent;
}
/*================ HEADER ===================*/

.primary-header {
    width: 100%;
    margin-top: -4px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    background: transparent;
    position: relative;
    overflow: hidden;
    padding-top: 80px;
}

.primary-header .container{
    width: 100%;
    margin: 0 auto;
    background: transparent;
    padding-bottom: 4px;
}

.primary-header .primary-header-header {
    width: 60%;
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

section.circleEffect {
  width: 200vw;
  height: 200vw;
  margin-left: -100vw;
  margin-top: -100vw;
  border-radius: 100%;
  position: absolute;
  will-change: transform;
  z-index: -2;
}

.primary-header .primary-header-header .picture {
    margin-top: 20px;
    height: 130px;
    width: 130px;
    /*border: 2px solid rgba(255, 255, 255, 0.9);*/
    border-radius: 50%;

    float: right;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.primary-header .primary-header-header img {
    width: 200px;
}

.primary-header .primary-header-header .details {
    display: inline-block;
    vertical-align: top;
    padding-top: 20px;
}

.primary-header .primary-header-header .details h1,
.primary-header .primary-header-header .details h2 {
    line-height: 1.3em;
    letter-spacing: 1px;
}

.primary-header h1 {
    font-size: 2.2em;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.85);
}

.primary-header.white h1 {
    color: rgba(255, 255, 255, 0.95);
}

.primary-header h2 {
    font-size: 1.1em;
    color: rgba(0, 0, 0, 0.6);
}

.primary-header.white h2 {
    color: rgba(255, 255, 255, 0.95);
}

.primary-header .primary-header-header .details .actions {
    display: block;
    vertical-align: top;
    text-align: left;
    margin-top: 30px;
}

.primary-header .details .actions .action {
    background: transparent;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 8px 25px;
    font-size: 0.8em;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    display: inline-block;
    /*margin: 20px auto;*/
    margin-top: 15px;
    align-items: flex-start;
}

.primary-header.white .details .actions .action {
    border-color: rgba(255, 255, 255, 0.8);
    color: rgba(255, 255, 255, 0.8);
}

.primary-header .details .actions .action.active {
    background: rgba(0, 0, 0, 0.9);
    color: white;
}

.primary-header.white .details .actions .action.active {
    background: rgba(255, 255, 255, 0.9);
    color: rgba(0, 0, 0, 0.9);
}

.primary-header .details .actions h3 {
    display: inline;
    color: rgba(0, 0, 0, 0.54);
    font-size: 0.9em;
    cursor: pointer;
}

.primary-header.white .details .actions h3 {
    color: rgba(255, 255, 255, 0.74);
}

.primary-header .details .actions h3:hover {
  text-decoration: underline;
}

@media (max-width: 800px) {
    .primary-header .container{
        width: 75%;
    }
    .primary-header h1 {
        font-size: 2em;
    }

    .primary-header h2 {
        font-size: 1em;
    }
}
/*============ Contributions =============*/

.primary-header .contributions {
    /*border-bottom: 1px solid rgba(0, 0, 0, 0.2);*/
    width: 60%;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 40px;
    text-align: left;
    white-space: nowrap;
}

.primary-header .contributions .contribution {
    display: inline-block;
    cursor: pointer;
    text-align: left;
    margin-right: 20px;
    padding-bottom: 8px;
    color: rgba(0, 0, 0, 0.6);
}

.primary-header.white .contributions .contribution {
    color: rgba(255, 255, 255, 0.7);
}

.primary-header .contribution h4 {
    font-size: 1em;
    letter-spacing: 1px;
}

.primary-header .contribution h5 {
    font-size: 1.8em;
    font-weight: bold;
    text-align: center;
}

.primary-header .contribution:hover h4,
.primary-header .contribution:hover h5,
.primary-header .contributions .active h4,
.primary-header .contributions .active h5  {
    color: rgba(0, 0, 0, 0.9);
}

.primary-header.white .contribution:hover h4,
.primary-header.white .contribution:hover h5, 
.primary-header.white .contributions .active h4,
.primary-header.white .contributions .active h5 {
    color: rgba(255, 255, 255, 1);
}

.primary-header .contributions .active {
    /*border-bottom: 1px solid rgba(0, 0, 0, 1);*/
}
{
    color: rgba(0, 0, 0, 0.9);
}


@media (max-width: 800px) {
    .primary-header .contributions {
        width: 95%;
    }
    .primary-header .contribution h4 {
        font-size: 0.5em;
    }

    .primary-header .controbution h5 {
        font-size: 0.8em;
    }
}
/*================ Painting Area ==================*/
.profile-container {
  /*width: 90%;*/
}


/*================= Buckets Area ============================*/

.user-buckets {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
}

.user-buckets .user-bucket {
    width: 300px;
    height: 300px;
    display: inline-block;
    margin: 8px;
}

.user-buckets .user-bucket:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.user-bucket .user-bucket-picture {
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    cursor: pointer;
    /*border: 10px solid white;*/
}

.user-bucket-picture .user-bucket-details {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 5px;
    padding-top: 50px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    transition: all 1s;
}

.user-bucket-picture .user-bucket-details:hover {
    background: rgba(0, 0, 0, 0.7);
}

.user-bucket-picture .user-bucket-details h2 {
    color: white;
    font-size: 1.5em;
    line-height: 1.5em;
}

.user-bucket-picture .user-bucket-details .by-user {
    font-size: 0.8em;
    margin-top: 80px;
    line-height: 1.5em;
}

.user-bucket-picture .user-bucket-details.long-description .by-user {
    margin-top: 30px;
}

.user-bucket-picture .user-bucket-details h3 {
    font-size: 1em;
    line-height: 1.5em;
}

.user-bucket-picture .user-bucket-details .arts-count {
    font-size: 0.7em;
    margin-top: 10px;
    display: inline;
}

.user-bucket-picture .user-bucket-details .user-bucket-details-actions,
.user-bucket-picture .user-bucket-details .bookmark-action {
    position: absolute;
    top: 20px;
}

.user-bucket-picture .user-bucket-details:hover .user-bucket-details-actions i,
.user-bucket-picture .user-bucket-details:hover .bookmark-action i {
    opacity: 1;
}

.user-bucket-picture .user-bucket-details .user-bucket-details-actions {
    right: 20px;
}

.user-bucket-picture .user-bucket-details .bookmark-action {
    left: 20px;
}

.user-bucket-picture .user-bucket-details .user-bucket-details-actions i,
.user-bucket-picture .user-bucket-details .bookmark-action i {
    color: rgba(255, 255, 255, 0.7);
    font-size: 1em;
    padding: 0 2px;
    opacity: 0;
}

.user-bucket-picture .user-bucket-details .user-bucket-details-actions i.admire-on-icon,
.user-bucket-picture .user-bucket-details .bookmark-action i.bookmark-on-icon {
    opacity: 1;
}

.user-bucket-picture .user-bucket-details .user-bucket-details-actions i:hover,
.user-bucket-picture .user-bucket-details .bookmark-action i:hover {
    color: white;
}


@media (max-width: 800px) {
    .user-buckets {
        width: 95%;
    }
    .user-buckets .user-bucket {
        width: 100%;
    }
}
