@font-face{
  font-family: 'fertigo';
  src: url('/static/fonts/fertigo/Fertigo.eot');
  src: url('/static/fonts/fertigo/Fertigo.woff') format('woff'),
       url('/static/fonts/fertigo/Fertigo.ttf') format('truetype'),
       url('/static/fonts/fertigo/Fertigo.svg') format('svg');
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  font-family: 'taile';
}

.auth-user,
.auth-user a {
  color: rgba(0, 0, 0, 0.8);
}
/*================ HEADER ===================*/

.primary-header {
	width: 100%;
    padding-top: 5%;
}

.primary-header h1 {
    line-height: 1.3em;
    letter-spacing: 1px;
    text-align: center;
    color: rgba(0, 0, 0, 0.9);
    font-family: 'taile', sans-serrif;
    font-size: 3em;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8);
}

.primary-header hr {
    width: 30%;
    margin: 20px auto;
}

/*============== Settings ==================*/

.settings {
    width: 500px;
    max-width: 600px;
    margin: 0 auto;
}

.settings li {
    width: 100%;
    padding: 30px 0;
}

.settings li h3 {
    line-height: 1.3em;
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.9);
    font-family: 'taile', sans-serrif;
    font-size: 3em;
    font-weight: bold;
}

.settings form {
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.settings form.active {
    /*border: 2px solid red;*/
    /*background: red;*/
}

.settings form .data{
    width: 100%;
    display: inline-block;
    vertical-align: top;
}

.settings form .data label {
    font-weight: bold;
    padding-bottom: 5px;
    display: block;
}

.settings form .data input {
    width: 100%;
    display: block;
    text-align: center;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: rgba(0, 0, 0, 0.7);
    font-size: 1.5em;
}

.settings form .data input:focus {
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.settings form .actions{
    position: absolute;
    right: -80px;
    bottom: 0;
    display: inline-block;
    vertical-align: bottom;
}

.settings form .actions button {
    width: 100%;
    display: inline-block;
    font-size: 0.8em;
    padding: 7px 5px;
    border: 1px solid rgba(0, 0, 0, 0.9);
    color: rgba(0, 0, 0, 0.9);
    cursor: pointer;
    background: transparent;
    vertical-align: bottom;
}

.settings form .actions button:hover {
    background: rgba(0, 0, 0, 0.9);
    color: white;
}

.settings form .actions.ng-hide-remove {
    -webkit-animation: fadeInLeft 1s;
    animation: fadeInLeft 1s;
    opacity: 0;
}

.settings form .actions.ng-hide-add {
    -webkit-animation: fadeOutLeft 1s;
    animation: fadeOutLeft 1s;
}

.settings form .data .nsfw {
    float: right;
    display: inline-block;
    vertical-align: top;
    width: auto;
    height: auto;
    font-size: 1em;
    background: transparent;
    border: none;
    cursor: pointer;
}

/*=============== Picture ==================*/

.user-picture header {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 40px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.user-picture .picture {
    width: 100%;
    border: 1px solid black;
    position: relative;
}

.user-picture .picture .file {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    -moz-opacity:0 ;
    filter:alpha(opacity: 0);
    opacity: 0;
    z-index: 1;
    cursor: pointer;
}

.user-picture .picture .cover {
    width: 100%;
    height: 100%;
    position: relative;
    background: rgba(0, 0, 0, 0.7);
    color: white;
}

.user-picture .picture .cover h4 {
    font-size: 1.2em;
    line-height: 2em;
    text-align: center;
    margin-top:;
}

.user-picture .picture img {
    width: 100%;
}

/*-------------- Source Url ---------------*/

.user-picture .picture-url {
    width: 100%;
    margin-top: 20px;
    display: block;
}

.picture-url .upload-url-form {
    width: 100%;
}
.picture-url .upload-url-form .url-submit,
.picture-url .upload-url-form input {
    height: 30px;
}

.picture-url .upload-url-form input {
    width: 75%;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    display: inline-block;
    float: left;
    text-align: center;
    font-size: 1em;
}

.picture-url .upload-url-form .url-submit {
    width: 20%;
    float: right;
    background: transparent;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.9);
    opacity: 0.5;
}

.picture-url .upload-url-form .url-submit.enable {
    opacity: 1;
}

.picture-url .upload-url-form .url-submit.enable:hover {
    background: rgba(0, 0, 0, 0.9);
    color: white;
    cursor: pointer;
}

.picture-url .upload-url-form .error {
    padding-top: 10px;
    display: none;
}