.bookmark-modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 3000;
    background: rgba(0, 0, 0, 0.7);
}

.bookmark-modal.modal-open {
    -webkit-animation: fadeIn 0.1s;
    animation: fadeIn 0.1s;
}

.bookmark-modal.modal-close {
    -webkit-animation: fadeOut 0.1s;
    animation: fadeOut 0.1s;
}

.bookmark-modal .modal-actions {
    position: absolute;
    top: 20px;
    right: 20px;
}

.bookmark-modal .modal-actions i.action {
    color: rgba(255, 255, 255, 0.7);
    background: transparent;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
}

.bookmark-modal .modal-actions i.action:hover {
    color: rgba(255, 255, 255, 1);
}

.bookmark-modal .container {
    width: 500px;
    height: 500px;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 150px;
    overflow: auto;
    background-color: white;
    padding-top: 20px;
    overflow: scroll;
}


@media (max-width: 800px) {
  .bookmark-modal .container  {
      width: 95%;
      margin-top: 50px;
  }
}

.bookmark-modal .container::-webkit-scrollbar {
    width: 15px;
}

.bookmark-modal .container::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
}

.bookmark-modal .container::-webkit-scrollbar-thumb {
    background-color: black;
    border: 5px solid white;
}

.bookmark-modal .container .bookmarker {
    width: 100%;
    padding: 10px;
    vertical-align: top;
}

.bookmark-modal .container .bookmarker:hover {
    background: rgba(0, 0, 0, 0.1);
}

.bookmarker .marker-picture {
    display: inline;
}

.bookmarker .marker-picture img {
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin-left: 5px;
}

.bookmarker .marker-details {
    display: inline-block;
    width: 80%;
    vertical-align: top;
}

.marker-details .data {
    width: 70%;
    display: inline-block;
    padding-left: 5px;
    cursor: pointer;
}

.marker-details .data .marker-name {
    display: block;
    font-size: 1em;
    color: rgba(0, 0, 0, 0.9);
    line-height: 1.5em;
}

.marker-details .data:hover .marker-name {
    text-decoration: underline;
}

.marker-details .data h4{
    display: inline;
    font-size: 0.7em;
    color: rgba(0, 0, 0, 0.5);
}

.marker-details .actions {
    width: 25%;
    display: inline-block;
    text-align: right;
    vertical-align: top;
    padding-top: 10px;
}

.marker-details .actions button {
    background: transparent;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 1px;
    padding: 5px 25px;
    font-size: 0.8em;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.marker-details .actions button.active,
.marker-details .actions button:hover {
    background: rgba(0, 0, 0, 0.9);
    color: white;
}

.marker-details .actions button:before {
    position: absolute;
    content: '\E876';
    font-family: 'Material Icons';
    left: 130%;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.marker-details .actions button.active:before {
    left: 80%;
}

@media (max-width: 800px) {
    .marker-details .data .marker-name {
        font-size: 0.8em;
    }

    .marker-details .data h4{
        font-size: 0.6em;
    }

    .marker-details .actions button {
        font-size: 0.4em;
        padding: 5px 10px;
    }
}

/*=============== No Such Users ================*/
.no-users {
    text-align: center;
    color: rgba(0, 0, 0, 0.9);
}

.no-users h1 {
    font-size: 1.2em;
    line-height: 2em;
    color: rgba(0, 0, 0, 0.54);
}

.no-users h2 {
    font-size: 2em;
    line-height: 1.5em;
    margin-bottom: 20px;
}

.no-users button {
    background: transparent;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 1px;
    padding: 10px 25px;
    font-size: 1em;
    cursor: pointer;
}

.no-users button:hover {
    background: rgba(0, 0, 0, 0.9);
    color: white;
}