.add-modal .site-loader .stick {
    background: white;
}

.add-modal .scroll-holder {
    overflow: hidden;
    height: 100%;
}

.add-modal .container {
    width: 400px;
    padding: 0;
    border-radius: 3px;
}

@media (min-width: 1500px) {
    .add-modal .container {
       width: 500px;
    }
}

@media (max-width: 800px) {
    .add-modal .container {
       width: 90%;
    }
}

/*------------- Picture Holder -----------*/

.add-modal .container .picture-holder {
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    border-radius: 3px;
}

.add-modal .container .picture-holder .bucket-adding-overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.add-modal .container .picture-holder .bucket-adding-overlay.ng-hide-add {
    transition: all 0.4s;
}

.add-modal .container .picture-holder .bucket-adding-overlay.ng-hide-remove {
    transition: all 0.4s;
}

@media (min-width: 1500px) {
    .add-modal .container .picture-holder {
       height: 300px;
    }
}

@media (max-width: 800px) {
    .add-modal .container .picture-holder {
       height: 100px;
    }
}
/*------------- Buckets Header ----------------*/

.add-modal .container .buckets-header {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 1.5em;
    color: white;
    margin: 0;
    padding: 30px 0;
    margin-bottom: 15px;
    position: relative;
}

.add-modal .container .buckets-header .actions {
    position: absolute;
    bottom: -15px;
    right: 10px;
    text-align: right;
}

.add-modal .container .buckets-header .actions .action {
    height: 30px;
    background-color: white;
    font-size: 0.5em;
    transition: all 0.6s;
    border-radius: 2px;
    z-index: 1;
}

.add-modal .container .buckets-header .actions .action:hover {
    background-color: black;
    color: white;
}

/*----------- Bucket --------------*/

.add-modal .container .buckets {
    width: 100%;
    max-height: 250px;
    overflow: auto;
}

.add-modal .container .bucket {
    width: 100%;
    text-align: center;
    cursor: pointer;
    font-size: 1.2em;
    line-height: 2em;
    transition: all 0.1s;
    position: relative;
}

.add-modal .container .bucket.added:before {
    position: absolute;
    content: '\E876';
    font-family: 'Material Icons';
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
}

.add-modal .container .bucket:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

@media (min-width: 1500px) {
    .add-modal .container .buckets {
        max-height: 350px;
    }
}

/*-------------- No Bucket -----------------*/
