/*------------- Bucket modal overrides ------------*/
.bucket-modal .modal-actions-header,
.bucket-modal .modal-actions-header i.content-action {
    color: rgba(255, 255, 255, 0.8);
    margin-left: 5px;
    vertical-align: top;
}

.bucket-modal .modal-actions-header .counter {
    display: inline-block;
    text-align: center;
    margin-left: 5px;
}

.bucket-modal .modal-actions-header .counter .count {
    display: block;
}

.bucket-modal .modal-actions-header .counter i {
    margin: 0;
    margin-bottom: 5px;
    cursor: default;
}

.bucket-modal .modal-actions-header .counter.counter-watchers i {
    cursor: pointer;
}

.bucket-modal .modal-actions-header i.content-action:hover {
    color: white;
}

.bucket-modal .logo {
  position: fixed;
  cursor: pointer;
  top: 20px;
  left: 20px;
  z-index: 100;
  width: 3em;
  height: 3em;
}
/*-------- Bucket Content ---------------*/

.bucket-modal.content .background-area {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bucket-modal.content .background-overlay {
	background: rgba(0, 0, 0, 0.7);
	width: 100%;
	height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.bucket-modal.content .bucket-content {
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    transition: all 0.5s;
    overflow: hidden;
}

/*============ HEADER ===========*/
.content-bucket-header {
	padding-top: 60px;
	padding-bottom: 50px;
    text-align: center;
    line-height: 1.5em;
    color: white;
    margin-bottom: 5%;
}

.content-bucket-header h1 {
	font-size: 2.5em;
	font-weight: bold;
    line-height: 1.5em;
}

.content-bucket-header h2 {
    font-size: 1.5em;
    color: white;
    line-height: 1.5em;
}

.content-bucket-header .by-user {
    font-size: 0.7em;
    display: inline-block;
}

.content-bucket-header hr {
    width: 100px;
    display: inline-block;
    vertical-align: middle;
}

.content-bucket-header h3 {
    font-size: 0.7em;
    display: inline-block;
    color: white;
}

.content-bucket-header h3 a {
	color: white;
    cursor: pointer;
}

@media (max-width: 800px) {
}

/* ============== Content Holder ============== */
.content-scroll-holder {
	line-height: 250px;
	height: 450px;     /* Image height + Margin */
	overflow: hidden;
	/*background: rgba(0, 0, 0, 0.8);*/

    -webkit-filter: none;
    -moz-filter: none;
    -o-filter: none;
    -ms-filter: none;
    filter: none;
}

.content-scroll-holder.ng-hide-remove {
        -webkit-animation: fadeIn 1s;
        animation: fadeIn 1s;
}

.content-scroll-holder .content-container {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 100%;
	font-size: 50px;
}
.content-scroll-holder .content-container .content-art {
	float: left;
	margin: 0 45px;     /*If change this then change content-holder height*/
	padding: 0;
	background: #333;
	color: #ddd;
	text-align: center;
	display: inline-block;
	position: relative;
}

.content-scroll-holder .content-container .content-art .nsfw-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 2;
    color: white;
    padding-top: 20%;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    line-height: 30px;
}

.content-scroll-holder .content-container .content-art .nsfw-overlay.ng-hide-add {
    -webkit-animation: fadeOut 0.4s;
    animation: fadeOut 0.4s;
}

.content-scroll-holder .content-container .content-art img {
	width: 100%;
	height: 100%;
	border: 10px solid rgba(255, 255, 255, 1);
	border-left-width: 5px;
	border-right-width: 5px;
}

.content-scroll-holder .content-container .content-art .art-details {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
    transition: all 0.5s;
    padding-top: 100px;
    line-height: 0.5em;
    color: rgba(0, 0, 0, 0.9);
    background: rgba(255, 255, 255, 0.6);
}

.content-container .content-art:hover .art-details {
	opacity: 1;
}

.content-art .art-details .art-details-actions {
    position: absolute;
    top: 15px;
    right: 15px;
}

.content-art .art-details .art-details-actions .action {
    cursor: pointer;
}

.content-container .content-art .art-details h1 {
	padding-bottom: 100px;
}

.content-container .content-art .art-details h1 a {
	font-size: 0.5em;
	text-decoration: underline;
    color: rgba(0, 0, 0, 0.9);
    cursor: pointer;
}

.content-container .content-art .art-details .by-user {
	font-size: 0.3em;
}

.content-container .content-art .art-details h2 a {
	font-size: 0.4em;
	text-decoration: underline;
    color: rgba(0, 0, 0, 0.9);
    cursor: pointer;
}

/*========== Scrollbar =====================*/
.scrollbar {
	margin: 0 auto;
	margin-top: 60px;
	height: 4px;
    background: rgba(0, 0, 0, 0.7);
	line-height: 0;
	cursor: pointer;
    width: 60%;
}

.scrollbar .handle {
	width: 100px;
	height: 100%;
	background: rgba(255, 255, 255, 0.7);
}

.scrollbar .handle .mousearea {
	position: absolute;
	top: -9px;
	left: 0;
	width: 100%;
	height: 20px;
}

/*-------- Mobile ---------*/

.bucket-content .bucket-content-mb {
    width: 95%;
    margin: 0 auto;
}

.bucket-content .bucket-content-mb img {
    width: 100%;
}

.bucket-content .bucket-content-mb a.ng-hide-remove {
        -webkit-animation: fadeIn 1s;
        animation: fadeIn 1s;
}