.bucket-modal.content {
	background-image: url("http://thomaslockehobbs.com/2005/033.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bucket-modal.content .background-overlay { 
	background: rgba(0, 0, 0, 0.7);
	width: 100%;
	height: 100%;
}

/*============ HEADER ===========*/
.content-bucket-header {
	padding-top: 30px;
	padding-bottom: 50px;
    text-align: center;
    line-height: 1.5em;
    color: white
}

.content-bucket-header h1 {
	font-size: 1.5em;
	font-weight: bold;
}

.content-bucket-header .by-user {
	font-size: 0.8em;
	display: inline-block;
}

.content-bucket-header h2 {
	font-size: 0.8em;
	display: inline-block;
}

.content-bucket-header h2 a {
	text-decoration: underline;
	color: white;
}


/* ============== Content Holder ============== */
.content-scroll-holder {
	line-height: 250px;
	height: 400px;     /* Image height + Margin */
	overflow: hidden;
	background: rgba(0, 0, 0, 0.8);

    -webkit-filter: none;
    -moz-filter: none;
    -o-filter: none;
    -ms-filter: none;
    filter: none;
}

.content-scroll-holder .content-container {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 100%;
	font-size: 50px;
}
.content-scroll-holder .content-container .content-art {
	float: left;
	margin: 0;     /*If change this then change content-holder height*/
	padding: 0;
	background: #333;
	color: #ddd;
	text-align: center;
	cursor: pointer;
	display: inline-block;
	position: relative;
	opacity: 0.5
}
.content-scroll-holder .content-container .content-art.active {
	opacity: 1;
	cursor: default;
}

.content-scroll-holder .content-container .content-art img {
	width: 100%;
	height: 100%;
	border: 10px solid rgba(255, 255, 255, 1);
	border-left-width: 5px;
	border-right-width: 5px;
}

.content-scroll-holder .content-container .content-art .art-details {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
    transition: all 0.5s;
    padding-top: 100px;
    line-height: 0.5em;
    color: rgba(0, 0, 0, 0.9);
}

.content-container .content-art.active:hover .art-details {
	opacity: 1;
	background: rgba(255, 255, 255, 0.6);
}

.content-container .content-art .art-details h1 {
	padding-bottom: 100px;
}

.content-container .content-art .art-details h1 a {
	font-size: 0.5em;
	text-decoration: underline;
    color: rgba(0, 0, 0, 0.9);
}

.content-container .content-art .art-details .by-user {
	font-size: 0.3em;
}

.content-container .content-art .art-details h2 a {
	font-size: 0.4em;
	text-decoration: underline;
    color: rgba(0, 0, 0, 0.9);
}

/*========== Scrollbar =====================*/
.scrollbar {
	margin: 0 0 1em 0;
	margin-top: 10px;
	height: 3px;
	background: #ccc;
	line-height: 0;
	cursor: pointer;
}

.scrollbar .handle {
	width: 100px;
	height: 100%;
	background: #292a33;
}

.scrollbar .handle .mousearea {
	position: absolute;
	top: -9px;
	left: 0;
	width: 60%;
	height: 20px;
}


