.create-modal .site-loader {
    border-color: white;
}

.create-modal .site-loader-innner {
    background: white;
}

/*-------- Container ---------*/

.create-modal .container {
    height: 500px;
    width: 400px;
    position: relative;
    overflow: hidden;
}

@media (max-width: 800px) {
    .create-modal .container {
       width: 90%;
    }
}