.bucket-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3000;
    background: rgba(255, 255, 255, 0.97);
    overflow: auto;
}

.bucket-modal::-webkit-scrollbar {
    width: 15px;
}

.bucket-modal::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
}

.bucket-modal::-webkit-scrollbar-thumb {
    background-color: black;
    border: 5px solid white;
}

.bucket-modal .modal-actions {
    position: fixed;
    top: 20px;
    right: 20px;
}

.bucket-modal .modal-actions button {
    color: rgba(0, 0, 0, 0.6);
    background: transparent;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
}

.bucket-modal .modal-actions button:hover {
    color: rgba(0, 0, 0, 1);
}

.bucket-modal .scroll-holder {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 350px;
}

.bucket-modal .container {
    width: 70%;
    max-width: 900px;
    margin: 0 auto;
}

.bucket-modal .container .buckets-header {
    text-align: center;
    font-size: 2em;
    line-height: 1.5em;
    margin-bottom: 20px;
    color: rgba(0, 0, 0, 0.9);
}

.bucket-modal .container .buckets-header a {
    text-decoration: underline;
}

.bucket-modal .container .bucket {
    width: 32%;
    padding: 10px 20px;
    display: inline-block;
    vertical-align: bottom;
}

.bucket-modal .container .bucket .picture{
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    cursor: pointer;
}

.bucket .picture .details {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 5px;
    padding-top: 80px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    transition: all 1s;
}

.bucket .picture .details:hover {
    opacity: 0.5;
}

.bucket .picture .details h2 {
    font-size: 1.3em;
    line-height: 1.5em;
}

.bucket .picture .details .arts-count {
    margin-bottom: 40px;
    font-size: 0.8em;
}

.bucket .picture .details .by-user {
    font-size: 0.8em;
    line-height: 1.5em;
}

.bucket .picture .details h3 {
    font-size: 1em;
    line-height: 1.5em;
}

/*=============== No Such bucket ================*/
.no-bucket {
    text-align: center;
    color: rgba(0, 0, 0, 0.9);
}

.no-bucket .no-buckets-header {
    font-size: 1.2em;
    line-height: 2em;
    color: rgba(0, 0, 0, 0.54);
}

.no-bucket h2 {
    font-size: 2em;
    line-height: 1.5em;
    margin-bottom: 20px;
    color: rgba(0, 0, 0, 0.9);
}

.no-bucket button {
    background: transparent;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 1px;
    padding: 10px 25px;
    font-size: 1em;
    cursor: pointer;
}

.no-bucket button:hover {
    background: rgba(0, 0, 0, 0.9);
    color: white;
}