<md-dialog class="under-construction" flex="66">
  <md-content>
    	<form name="interpretForm" class="interpret-form" novalidate>

    		<!-- <input type="text" class="artist" placeholder="Artist" ng-model="art.artist" name="uArtist" maxlength="100" required>
    		<div ng-cloak ng-show="interpretForm.$submitted || interpretForm.uArtist.$touched">
    		    <span ng-cloak ng-show="interpretForm.uArtist.$error.required">Please provide artist name.</span>
    	   </div> -->

    		<textarea class="description" autofocus="autofocus" placeholder="Thoughts....." ng-model="interpretation" required></textarea>

    	</form>

  </md-content>
  <footer class="md-actions">
  	<button ng-click="cancel()">Cancel</button>
  	<button ng-click="addInterpretation()" class="submit">Submit</button>
  </footer>
</md-dialog>
<style type="text/css">
	.interpret-form ,textarea {
		-webkit-appearance: none;
	    display: block;
	    width: 100%;
	    margin: 20px 0;
	    border: none;
	}

	.md-actions button {
		background-color: white;
		color: rgba(0, 0, 0, 0.6);
		border: none;
		opacity: 0.8;
	}

	.md-actions button:hover {
		opacity: 1;
	}

	.md-actions .submit {
		color: green;
	}
</style>