<section class="interpret-modal" ng-show="interpretationModalshown" ng-cloaks>
	<div class="overlay" ng-click="hideInterpretationModal()"></div>
	<article class="content">
		<section class='painting'>
			<img ng-src="[[composition.url]]">
		</section>
		<section class='user-interpretation'>
			<header class="actions">
				<button class="save" ng-click="saveInterpretation()">SAVE</button>
				<button class="cancle" ng-click="hideInterpretationModal()">CANCEL</button>
			</header>
			<p class="new-interpretation interpret-content" rich-edit></p>
		</section>
    </article>
</section>