<div ng-include src=" '/static/partials/jumbo.html' "></div>
<div class="row">
    <div class="col-lg-9" >
            <ul>
             <li ng-repeat="composition in compositions">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">
                        <strong>{{composition.title}} </strong>
                        <small class="pull-right">By  <a target="_blank" ui-sref="showcase({userId: composition.artist.id})">
                            {{composition.artist.first_name}}
                            </a>
                        </small>
                    </h3>
                  </div>
                  <div class="panel-body">  
                      <div class="row">
                      <a target="_blank" ui-sref="composition({compositionId: composition.id, slug: composition.slug})" class="col-lg-12">
                        <img ng-src="{{composition.matter}}" width="100%">
                      </a>
                          </div>
                      <div class="row">
                      <br>
                      <div class="col-lg-9">
                          <button class="btn btn-primary">
                               <i class="fa fa-facebook"></i>
                          </button>
                          <button class="btn btn-danger">
                              <i class="fa fa-google-plus"></i> 
                          </button>
                          <button class="btn btn-info">
                              <i class="fa fa-twitter-square"></i>
                          </button>
                      </div>
                      <div class="col-lg-3 pull-right">
                          <button class="btn btn-success" ng-click="voting($index, true)" ng-class="{disabled: composition.IsVoted}">
                               <i class="fa fa-hand-o-up"></i> {{composition.vote.positive}}
                          </button>
                          <button class="btn btn-warning" ng-click="voting($index, false)" ng-class="{disabled: composition.IsVoted}">
                              <i class="fa fa-hand-o-down"></i> {{composition.vote.negative}}
                          </button>
                          <button class="btn" ng-click="bookmark(composition.id, $index)" ng-hide="composition.IsBookmarked">
                              <i class="fa fa-heart-o"></i>
                          </button>              
                          <button class="btn btn-danger active" ng-show="composition.IsBookmarked">
                              <i class="fa fa-heart"></i>
                          </button>
                      </div>
                  </div>
                  </div>
                 </div>

             </li>
            </ul>
    </div>
    <div>
        <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#uploadModal">
          Upload you work
        </button>

        <!-- Modal -->
        <div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Upload Composition</h4>
              </div>
              <div class="modal-body">
                <div class="form-group">
                    <label for="uploadTitle">Title</label>
                    <input type="text" ng-model="newComposition.title" class="form-control" id="uploadTitle" placeholder="Enter a fitting title...">
                </div>
                <div class="form-group">
                    <label for="uploadDescription">Description</label>
                    <textarea class="form-control" ng-model="newComposition.description" id="uploadDescription" placeholder="Some words about this work..."></textarea>
                </div>
                <div class="form-group">
                    <label for="uploadMatter">Upload Work</label>
                    <input type="file" ng-file-select="onFileSelect($files)">
                    <button ng-click="upload.abort()">Cancel Upload</button>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="submitComposition($files)">Submit</button>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>