<h2>Notifications</h2>

<div class="list-group">
  <ul>
      <li class="list-group-item" ng-repeat="notification in notifications" >
          <span ng-show="notification.unread" class="badge"><i class="fa fa-bell"></i></span>
          <a ng-href="{{notification.actor.url}}">{{notification.actor.obj}} </a>
          {{notification.verb}} 
          <a ng-show="notification.action_object" ng-href="{{notification.action_object.url}}">
              {{notification.action_object.obj}} 
          </a>
          <div ng-show="notification.target">
              on 
              <a ng-href="{{notification.target.url}}">
                  {{notification.target.obj}}.
              </a>
          </div>
      </li>
  </ul>
</div>