<section tabindex="0" class="share-modal">
    <section class="modal-actions-header">
        <i class="material-icons action" ng-click="close()">close</i>
    </section>
    <div class="share-modal-content">
        <button onclick="holdClick(event)" class="share-modal-action facebook" ng-click="actions.shareFacebook()"></button>
        <button onclick="holdClick(event)" class="share-modal-action twitter" ng-click="actions.shareTwitter()"></button>
        <button onclick="holdClick(event)" class="share-modal-action google" ng-click="actions.shareGoogle()"></button>
        <button onclick="holdClick(event)" class="share-modal-action reddit" ng-click="actions.shareReddit()"></button>
        <button onclick="holdClick(event)" class="share-modal-action whatsapp show-mb" ng-click="actions.shareWhatsapp()"></button>
        <button onclick="holdClick(event)" class="share-modal-action pinterest" ng-click="actions.sharePinterest()"></button>
        <button onclick="holdClick(event)" class="share-modal-action tumblr" ng-click="actions.shareTumblr()"></button>
        <button onclick="holdClick(event)" class="share-modal-action mail" ng-click="actions.shareViaEmail()"></button>
        <!-- <button class="share-modal-action instagram"></button> -->
        <!-- <button class="share-modal-action deviantart"></button> -->
    </div>
</section>