<h1><a href="http://codecanyon.net/item/zoome-jquery-image-zoom-effect-plugin/full_screen_preview/2973067">Zoome</a></h1>
<h3>Have a look. It is easy to implement.</h3>

<h1>No Name</h1>
<img zoome zoome-options="zoomeOptions" src="static/img/callout.jpg" alt="" rel="static/img/callout.jpg" />

<h3>Hover Type: </h3>
  <input type="radio" ng-model="zoomeOptions.hoverEf" value="" ng-click="initzoome()"> Nothin <br/>
  <input type="radio" ng-model="zoomeOptions.hoverEf" value="grayscale" ng-click="initzoome()">  Grayscale <br/>
  <input type="radio" ng-model="zoomeOptions.hoverEf" value="transparent" ng-click="initzoome()"> Transparent <br/>
  <input type="radio" ng-model="zoomeOptions.hoverEf" value="blur" ng-click="initzoome()"> Blur <br/>
<h3>Viewfinder size</h3>
  <input type="text" ng-model="zoomeOptions.magnifierSize[0]">
  <input type="text" ng-model="zoomeOptions.magnifierSize[1]">
<h3>The magnification can be controlled by scroll</h3>

<h1>MonaLisa</h1>
<img zoome zoome-options="zoomeOptions" src="static/img/monaLisa.jpg" alt="" rel="static/img/monaLisa.jpg" />

<h3>Hover Type: </h3>
  <input type="radio" ng-model="zoomeOptions.hoverEf" value="" ng-click="initzoome()"> Nothin <br/>
  <input type="radio" ng-model="zoomeOptions.hoverEf" value="grayscale" ng-click="initzoome()">  Grayscale <br/>
  <input type="radio" ng-model="zoomeOptions.hoverEf" value="transparent" ng-click="initzoome()"> Transparent <br/>
  <input type="radio" ng-model="zoomeOptions.hoverEf" value="blur" ng-click="initzoome()"> Blur <br/>
<h3>Viewfinder size</h3>
  <input type="text" ng-model="zoomeOptions.magnifierSize[0]">
  <input type="text" ng-model="zoomeOptions.magnifierSize[1]">
<h3>The magnification can be controlled by scroll</h3>

<h1>Las Meninas</h1>
<img zoome zoome-options="zoomeOptions" src="static/img/lasMeninas.jpg" alt="" rel="static/img/lasMeninas.jpg" />

<h3>Hover Type: </h3>
  <input type="radio" ng-model="zoomeOptions.hoverEf" value="" ng-click="initzoome()"> Nothin <br/>
  <input type="radio" ng-model="zoomeOptions.hoverEf" value="grayscale" ng-click="initzoome()">  Grayscale <br/>
  <input type="radio" ng-model="zoomeOptions.hoverEf" value="transparent" ng-click="initzoome()"> Transparent <br/>
  <input type="radio" ng-model="zoomeOptions.hoverEf" value="blur" ng-click="initzoome()"> Blur <br/>
<h3>Viewfinder size</h3>
  <input type="text" ng-model="zoomeOptions.magnifierSize[0]">
  <input type="text" ng-model="zoomeOptions.magnifierSize[1]">
<h3>The magnification can be controlled by scroll</h3>

<h1>The Nightwatch</h1>
<img zoome zoome-options="zoomeOptions" src="static/img/theNightwatch.jpg" alt="" rel="static/img/theNightwatch.jpg" />

<h3>Hover Type: </h3>
  <input type="radio" ng-model="zoomeOptions.hoverEf" value="" ng-click="initzoome()"> Nothin <br/>
  <input type="radio" ng-model="zoomeOptions.hoverEf" value="grayscale" ng-click="initzoome()">  Grayscale <br/>
  <input type="radio" ng-model="zoomeOptions.hoverEf" value="transparent" ng-click="initzoome()"> Transparent <br/>
  <input type="radio" ng-model="zoomeOptions.hoverEf" value="blur" ng-click="initzoome()"> Blur <br/>
<h3>Viewfinder size</h3>
  <input type="text" ng-model="zoomeOptions.magnifierSize[0]">
  <input type="text" ng-model="zoomeOptions.magnifierSize[1]">
<h3>The magnification can be controlled by scroll</h3>

<h1>The Scream</h1>
<img zoome zoome-options="zoomeOptions" src="static/img/scream.jpg" alt="" rel="static/img/scream.jpg" />

<h3>Hover Type: </h3>
  <input type="radio" ng-model="zoomeOptions.hoverEf" value="" ng-click="initzoome()"> Nothin <br/>
  <input type="radio" ng-model="zoomeOptions.hoverEf" value="grayscale" ng-click="initzoome()">  Grayscale <br/>
  <input type="radio" ng-model="zoomeOptions.hoverEf" value="transparent" ng-click="initzoome()"> Transparent <br/>
  <input type="radio" ng-model="zoomeOptions.hoverEf" value="blur" ng-click="initzoome()"> Blur <br/>
<h3>Viewfinder size</h3>
  <input type="text" ng-model="zoomeOptions.magnifierSize[0]">
  <input type="text" ng-model="zoomeOptions.magnifierSize[1]">
<h3>The magnification can be controlled by scroll</h3>

<h1>American Gothic</h1>

<img zoome zoome-options="zoomeOptions" src="static/img/americanGothic.jpg" alt="" rel="static/img/americanGothic.jpg" />

<h3>Hover Type: </h3>
  <input type="radio" ng-model="zoomeOptions.hoverEf" value="" ng-click="initzoome()"> Nothin <br/>
  <input type="radio" ng-model="zoomeOptions.hoverEf" value="grayscale" ng-click="initzoome()">  Grayscale <br/>
  <input type="radio" ng-model="zoomeOptions.hoverEf" value="transparent" ng-click="initzoome()"> Transparent <br/>
  <input type="radio" ng-model="zoomeOptions.hoverEf" value="blur" ng-click="initzoome()"> Blur <br/>
<h3>Viewfinder size</h3>
  <input type="text" ng-model="zoomeOptions.magnifierSize[0]">
  <input type="text" ng-model="zoomeOptions.magnifierSize[1]">
<h3>The magnification can be controlled by scroll</h3>

<h1>Irises</h1>

<img zoome zoome-options="zoomeOptions" src="static/img/Irises.jpg" alt="" rel="static/img/callout.jpg" />

<h3>Hover Type: </h3>
  <input type="radio" ng-model="zoomeOptions.hoverEf" value="" ng-click="initzoome()"> Nothin <br/>
  <input type="radio" ng-model="zoomeOptions.hoverEf" value="grayscale" ng-click="initzoome()">  Grayscale <br/>
  <input type="radio" ng-model="zoomeOptions.hoverEf" value="transparent" ng-click="initzoome()"> Transparent <br/>
  <input type="radio" ng-model="zoomeOptions.hoverEf" value="blur" ng-click="initzoome()"> Blur <br/>
<h3>Viewfinder size</h3>
  <input type="text" ng-model="zoomeOptions.magnifierSize[0]">
  <input type="text" ng-model="zoomeOptions.magnifierSize[1]">
<h3>The magnification can be controlled by scroll</h3>

<h1>Portrait_of_Adele_Bloch-Bauer</h1>

<img zoome zoome-options="zoomeOptions" src="static/img/gustavKlimt.jpg" alt="" rel="static/img/gustavKlimt.jpg" />

<h3>Hover Type: </h3>
  <input type="radio" ng-model="zoomeOptions.hoverEf" value="" ng-click="initzoome()"> Nothin <br/>
  <input type="radio" ng-model="zoomeOptions.hoverEf" value="grayscale" ng-click="initzoome()">  Grayscale <br/>
  <input type="radio" ng-model="zoomeOptions.hoverEf" value="transparent" ng-click="initzoome()"> Transparent <br/>
  <input type="radio" ng-model="zoomeOptions.hoverEf" value="blur" ng-click="initzoome()"> Blur <br/>
<h3>Viewfinder size</h3>
  <input type="text" ng-model="zoomeOptions.magnifierSize[0]">
  <input type="text" ng-model="zoomeOptions.magnifierSize[1]">
<h3>The magnification can be controlled by scroll</h3>