<h1><a href="http://codecanyon.net/item/zoome-jquery-image-zoom-effect-plugin/full_screen_preview/2973067">Zoome</a></h1>
<h3>Have a look. It is easy to implement.</h3>

<h1>No Name</h1>
<zoome zoome-options="zoomeOptions">
  <img  id="image" src="static/img/callout.jpg" alt="" rel="static/img/callout.jpg" style="border: 3px solid #ccc; padding:0px;" />
</zoome>

<h3>Hover Type: </h3>
  <input type="radio" ng-model="zoomeOptions.hoverEf" value="" ng-click="initzoome()"> Nothin <br/>
  <input type="radio" ng-model="zoomeOptions.hoverEf" value="grayscale" ng-click="initzoome()">  Grayscale <br/>
  <input type="radio" ng-model="zoomeOptions.hoverEf" value="transparent" ng-click="initzoome()"> Transparent <br/>
  <input type="radio" ng-model="zoomeOptions.hoverEf" value="blur" ng-click="initzoome()"> Blur <br/>
<h3>Viewfinder size</h3>
  <input type="text" ng-model="zoomeOptions.magnifierSize[0]">
  <input type="text" ng-model="zoomeOptions.magnifierSize[1]">
<h3>The magnification can be controlled by scroll</h3>

<h1>No Name</h1>
<img zoomeold zoome-options="zoomeOptions" src="static/img/callout.jpg" alt="" rel="static/img/callout.jpg" />