<h1><a href="http://www.elevateweb.co.uk/image-zoom">Elevate Zoom</a> (http://www.elevateweb.co.uk/image-zoom)</h1>
<h2>Simple</h2>
<img src="/static/img/callout.jpg" data-zoom-image="/static/img/callout.jpg" height="50%" width="50%" elevatez option="{}"/>

<h2>Tranluscent tint</h2>
<img src="/static/img/callout.jpg" data-zoom-image="/static/img/callout.jpg" height="50%" width="50%" elevatez option="{tint:true, tintColour:'#F90', tintOpacity:0.5}"/>

<h2>Opaque tint</h2>
<img src="/static/img/callout.jpg" data-zoom-image="/static/img/callout.jpg" height="50%" width="50%" elevatez option="{tint:true, tintColour:'#F90', tintOpacity:1}"/>

<h2>Inner zoom</h2>
<img src="/static/img/callout.jpg" data-zoom-image="/static/img/callout.jpg" height="50%" width="50%" elevatez option="{zoomType: 'inner', cursor: 'crosshair' }"/>

<h2>Lens</h2>
<img src="/static/img/callout.jpg" data-zoom-image="/static/img/callout.jpg" height="50%" width="50%" elevatez option="{ zoomType: 'lens', lensShape: 'round', lensSize : 200}"/>

<h2>Square Lens</h2>
<img src="/static/img/callout.jpg" data-zoom-image="/static/img/callout.jpg" height="50%" width="50%" elevatez option="{ zoomType: 'lens', lensSize : 200}"/>

<h2>Little Fade in and Fade out</h2>
<img src="/static/img/callout.jpg" data-zoom-image="/static/img/callout.jpg" height="50%" width="50%" elevatez option="{ zoomWindowFadeIn: 500, zoomWindowFadeOut: 500, lensFadeIn: 500, lensFadeOut: 500 }"/>

<h2>Mouse Zoom Enabeled</h2>
<img src="/static/img/callout.jpg" data-zoom-image="/static/img/callout.jpg" height="50%" width="50%" elevatez option="{scrollZoom : true}"/>

<h2>Customizing Zoom Window Size</h2>
<img src="/static/img/callout.jpg" data-zoom-image="/static/img/callout.jpg" height="50%" width="50%" elevatez option="{zoomWindowWidth:300, zoomWindowHeight:100}"/>


<h1><a href="http://mark-rolich.github.io/Magnifier.js/">Magnifier.js </a>(http://mark-rolich.github.io/Magnifier.js/) </h1>
<h3>More Flexible option in terms of events, No new functionality as such.</h3>

<h1><a href="http://codecanyon.net/item/zoome-jquery-image-zoom-effect-plugin/full_screen_preview/2973067">Zoome</a></h1>
<h3>Have a look. It is easy to implement.</h3>