
    <h1 style="text-align: center;">The Pan, Zoom and Marker brothers.</h1>
    <p style="text-align: center;">
    Use scroll to zoom. Drag to pan. Edit button to add marker.
    Markers are clickable.
    </p>

    <div id="imgdiv" style="text-align: center">
    <notes>
      <img id="image" src="/static/img/americanGothic.jpg" style="border: 30px solid #ccc; padding:20px;" width="80%"/ notes >
      <br/>
      <button id="toggleEdit" >Edit</button> <button id="export" ng-click="export()">Export</button>
      </notes>
    </div>
    <div id=txt></div>