<section class="curtain-left">
	<nav class="content">
			<a href="/">HOME</a>
			<a href="/blog">BLOG</a>
			<a href="/about-us">ABOUT US</a>
			<a href="/contact-us">CONTACT US</a>
			<a href="/guidelines">GUIDLINES</a>
	</nav>
	<hr>
	<section class="message">
		<p>We are in process of making ThirdDime experience complete. We appreciate your patience and feedback.</p>
	</section>
	<hr>
	<section class="social">
		<h4>FIND US HERE</h4>
		<ul class="clearfix">
			<li><a target="_blank" href="https://www.pinterest.com/thirddime/thirddime-art/">
				<img title="Pinterest" src="/static/css/composition/icons/pinterest.svg">
			</a></li>
			<li><a target="_blank" href="https://twitter.com/thirddime">
				<img title="Twitter" src="/static/css/composition/icons/twitter.svg">
			</a></li>
			<li><a target="_blank" href="https://www.facebook.com/thirddimeart">
				<img title="Facebook" src="/static/css/composition/icons/facebook.svg">
			</a></li>
		</ul>
	</section>
</section>