html, body {
    height: 100%;
}

body {
  overflow: scroll;
}

/*=========== Painting area ============*/

.painting-area {
    height: 90%;
    position: relative;
    overflow: show;
}

.painting-area .painting-container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    position: relative;
    background: white;
    vertical-align: top;
    overflow: show;
}

.painting-area .painting-container .nsfw-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1;
    color: white;
    padding-top: 20%;
    line-height: 1.5em;
}

.painting-area .painting-container .nsfw-overlay.ng-hide-add {
        -webkit-animation: fadeOut 0.6s;
        animation: fadeOut 0.4s;
}

.painting-area .painting {
    max-height: 100%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.painting-area .painting.landscape {
    width: 80%;
    height: auto;
    max-height: auto;
}

.painting-original.ng-hide-remove {
        -webkit-animation: fadeIn 0.6s;
        animation: fadeIn 0.4s;
        opacity: 0;
}

.painting-original.ng-hide-add {
        -webkit-animation: fadeOut 0.6s;
        animation: fadeOut 0.4s;
}

.painting-outline.ng-hide-remove {
        -webkit-animation: fadeInRight 0.6s;
        animation: fadeIn 0.4s;
        opacity: 0;
}

.painting-outline.ng-hide-add {
        -webkit-animation: fadeOutRight 0.4s;
        animation: fadeOut 0.4s;
}

.painting-grayscale.ng-hide-remove {
        -webkit-animation: fadeInLeft 0.6s;
        animation: fadeIn 0.4s;
        opacity: 0;
}

.painting-grayscale.ng-hide-add {
        -webkit-animation: fadeOutLeft 0.4s;
        animation: fadeOut 0.4s;
}

@media (max-width: 800px) {
    .painting-area {
        margin-bottom: 70px;
        overflow: show;
        height: auto;
    }

    .painting-area .painting-container {
        width: 100%;
        margin: 0 auto;
        height: auto;
    }

    .painting-area .painting-container .painting {
        width: 100%;
        height: auto;
        max-height: auto;
        position: static;
        transform: none;
    }

    .fullscreen {
        width: 90%;
        height: auto;
        margin: 0 auto;
    }
}

/*-------------- Art Tools ---------------*/

.painting-area .art-actions {
    position: absolute;
    bottom: 0;
    right: 20px;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
}

.painting-area .art-actions .art-action {
    display: block;
    height: 50px;
    width: 50px;
    min-width: 50px;
    color: rgba(0, 0, 0, 0.9);
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
    margin: 0 auto;
}

.art-actions button:hover i {
    -moz-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3) ;

    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.painting-area .zoom-tools {
    height: 60px;
    width: 60px;
    overflow: hidden;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.zoom-tools button {
    display: block;
    height: 50px;
    width: 50px;
    color: rgba(0, 0, 0, 0.9);
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
    margin: 0 auto;
}

.zoom-tools button.drawer-control {
    height: 60px;
    width: 60px;
}

.painting-area .tools-extended button.drawer-control {
    background-color: black;
    color: white;
}

.painting-area .tools-extended {
    height: 210px;
}

.zoom-tools button i {
    vertical-align: middle;
}

@media (max-width: 800px) {
    .painting-area .art-actions {
        bottom: -70px;
        width: 100%;
        text-align: center;
    }

    .painting-area .art-actions .art-action {
        display: inline-block;
        vertical-align: bottom;
        height: 40px;
        width: 40px;
    }

    .painting-area .zoom-tools {
        display: inline-block;
        vertical-align: bottom;
        height: 40px;
        width: 40px;
    }

    .painting-area .tools-extended {
        height: 40px;
        width: 170px;
    }

    .zoom-tools button.drawer-control {
        height: 40px;
        width: 40px;
    }

    .zoom-tools button {
        display: inline-block;
        width: 30px;
        height: 30px;
    }
}

/* ================= Art Details ============== */

.painting-details {
    width: 100%;
    padding-top: 15px;
    background: white;
    position: relative;
    margin-bottom: 30px;
}

.painting-details .painting-details-container {
    width: 60%;
    margin: 0 auto;
    vertical-align: top;
    padding: 20px;
    color: rgba(0, 0, 0, 0.9);
    letter-spacing: 1px;
    text-align: center;
}

.painting-details-container header {
    width: 70%;
    display: block;
    margin: 0 auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
    vertical-align: top;
}

.painting-details-container header h2 {
    font-size: 2em;
    line-height: 1.5em;
    display: inline-block;
    vertical-align: top;
}

.painting-details-container .painting-actions {
    padding: 10px;
}

.painting-details-container .painting-actions i {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.7);
    transition: all 0.4s;
}

.painting-details-container .painting-actions i:hover {
    color: rgba(0, 0, 0, 1);
    
}

.painting-details-container .painting-parent {
    display: inline-block;
    padding: 10px;
}

.painting-parent .by-header {
    font-size: 0.65em;
    display: inline;
    color: rgba(0, 0, 0, 0.5);
}

.painting-parent .by-user {
    font-size: 0.9em;
    line-height: 1em;
    display: inline;
    cursor: pointer;
}

.painting-parent .by-user:hover {
    text-decoration: underline;
}

.painting-details-container .details-actions-details {
    margin-top: 10px;
}

.painting-details-container .details-actions-details h4 {
    font-size: 0.8em;
    line-height: 1.8em;
    color: rgba(0, 0, 0, 0.9);
    cursor: pointer;
    display: inline;
    padding: 0 5px;
}

.painting-details .details-actions-details h4:hover {
    color: rgba(0, 0, 0, 0.4);
}

.painting-details .details-actions-details h4.inactive {
    color: rgba(0, 0, 0, 0.9);
    cursor: default;
}

.painting-details .details-actions {
    margin-top: 30px;
}

.painting-details .details-actions .action {
    background: transparent;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 1px;
    width: 200px;
    padding: 10px 20px;
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.painting-details .details-actions .action.active,
.painting-details .details-actions .action:hover {
    background: rgba(0, 0, 0, 0.9);
    color: white;
}

.painting-details .details-actions .action:before {
    position: absolute;
    content: '\2714';
    left: 130%;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.painting-details .details-actions .action.active:before {
    left: 80%;
}

@media (max-width: 800px) {
    .painting-details .painting-details-container {
        width: 100%;
        font-size: 0.8em;
    }
}

/*============== Art Associates ==============*/

.art-associates {
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

.art-associates .associate-category {
    margin: 15px 0;
}

.art-associates .associate-category h2 {
    font-size: 1.5em;
    line-height: 2em;
}

@media (max-width: 800px) {
    .art-associates {
        width: 95%;
    }
}

/*------------ Art buckets ----------------*/
.art-associates .art-buckets {
    width: 100%;
    position: relative;
    padding-bottom: 30px;
}

.art-associates .art-buckets > h2 {
    margin-top: 30px;
    margin-bottom: 20px;
    letter-spacing: 1px;
    text-decoration: underline;
}

.art-associates .art-buckets .associated-buckets-actions {
    position: absolute;
    bottom: 0;
    right: 10px;
}

.art-associates .art-buckets .associated-buckets-actions i {
    vertical-align: bottom;
    font-size: 1.2em;
    padding-left: 5px;
}

.art-associates .art-buckets .art-buckets-container {
    width: 100%;
}

.art-associates .art-buckets .art-bucket {
    width: 33%;
    padding: 5px;
    height: 350px;
    display: inline-block;
}

.art-associates .art-buckets .art-bucket-picture {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    cursor: pointer;
    display: inline-block;
}

.art-associates .art-buckets .art-bucket .details {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    transition: all 1s;
    padding-top: 50px;
    line-height: 1;
}

.art-associates .art-buckets .art-bucket .details:hover {
    background: rgba(0, 0, 0, 0.7);
}

.art-associates .art-buckets .art-bucket .details h2 {
    color: white;
    font-size: 1.4em;
    font-weight: bold;
    line-height: 1.5em;
}

.art-associates .art-buckets .art-bucket .details .by-user {
    font-size: 0.8em;
    line-height: 1.5em;
    margin-top: 80px;
}


.art-associates .art-buckets .art-bucket .details.long-description .by-user {
    margin-top: 40px;
}

.art-associates .art-buckets .art-bucket .details h3 {
    font-size: 1em;
    line-height: 1.5em;
}

.art-associates .art-buckets .art-bucket .details .arts-count {
    font-size: 0.7em;
    margin-top: 10px;
    display: inline;
}

.art-bucket .details .art-bucket-details-actions,
.art-bucket .details .bookmark-action {
    position: absolute;
    top: 20px;
    transition: all 0.3s;
}

.art-bucket .details:hover .art-bucket-details-actions i,
.art-bucket .details:hover .bookmark-action i {
    opacity: 1;
}

.art-bucket .details .art-bucket-details-actions {
    right: 20px;
}

.art-bucket .details .bookmark-action {
    left: 20px;
}

.art-bucket .details .art-bucket-details-actions i,
.art-bucket .details .bookmark-action i {
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.2em;
    padding: 0 2px;
    opacity: 0;
}

.art-bucket .details .art-bucket-details-actions i.admire-on-icon,
.art-bucket .details .bookmark-action i.bookmark-on-icon {
    opacity: 1;
}

.art-bucket .details .art-bucket-details-actions i:hover,
.art-bucket .details .bookmark-action i:hover {
    color: white;
}

@media (max-width: 800px) {
    .art-associates .art-buckets .art-bucket {
        width: 100%;
        display: block;
    }
}

/*------------ Artist Works ------------------*/

.art-associates .associate-works {
    width: 100%;
    position: relative;
    padding-bottom: 30px;
}

.art-associates .associate-works > h2 {
    margin-top: 30px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.art-associates .associate-works > h2 a {
    text-decoration: underline;
}

.art-associates .associate-works .associated-works-actions {
    position: absolute;
    bottom: 0;
    right: 10px;
}

.art-associates .associate-works .associated-works-actions i {
    vertical-align: bottom;
    font-size: 1.2em;
    padding-left: 5px;
}

.art-associates .associate-works .associate-works-container {
    width: 100%;
}

.art-associates .associate-works .work {
    width: 33%;
    padding: 5px;
    height: 350px;
    display: inline-block;
}

.art-associates .associate-works .work .work-nsfw-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    color: white;
    z-index: 10;
    padding-top: 20%;
    line-height: 20px;
}

.art-associates .associate-works .work .work-nsfw-overlay.ng-hide-add {
        -webkit-animation: fadeOut 0.4s;
        animation: fadeOut 0.4s;
}

.art-associates .associate-works .work-picture {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    cursor: pointer;
    display: inline-block;
}

.art-associates .associate-works .work .work-details {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    color: rgba(255, 255, 255, 0.7);
    transition: all 1s;
    padding-top: 30px;
    line-height: 1;
}

.art-associates .associate-works .work .work-details:hover {
    background: rgba(0, 0, 0, 0.7);
    color: white;
}

.art-associates .associate-works .work .work-details h2 {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 30px;
}

.art-associates .associate-works .work .work-details .by-user {
    font-size: 0.8em;
    line-height: 1.5em;
    margin-top: 80px;
}


.art-associates .associate-works .work .work-details.long-title .by-user {
    margin-top: 60px;
}

.art-associates .associate-works .work .work-details h3 {
    font-size: 1em;
    line-height: 1.5em;
}

.art-associates .associate-works .work .work-details .arts-count {
    font-size: 0.7em;
    display: inline;
}

.associate-works .work .work-details .work-inset-details-actions,
.associate-works .work .work-details .bookmark-action {
    position: absolute;
    top: 20px;
}

.associate-works .work .work-details:hover .work-inset-details-actions i,
.associate-works .work .work-details:hover .bookmark-action i {
    opacity: 1;
}

.associate-works .work .work-details .work-inset-details-actions {
    right: 20px;
}

.associate-works .work .work-details .bookmark-action {
    left: 20px;
}

.associate-works .work .work-details .work-inset-details-actions i,
.associate-works .work .work-details .bookmark-action i {
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.2em;
    padding: 0 2px;
    opacity: 0;
}

.associate-works .work .work-details .work-inset-details-actions i.admire-on-icon,
.associate-works .work .work-details .bookmark-action i.bookmark-on-icon {
    opacity: 1;
}

.associate-works .work .work-details .work-inset-details-actions i:hover,
.associate-works .work .work-details .bookmark-action i:hover {
    color: white;
}

.work .work-details .work-details-actions {
  width: 100%;
  position: absolute;
  bottom: 10px;
  left: 0;
  opacity: 0;
  text-align: center;
    transition: all 0.3s;
}

.work .work-details:hover .work-details-actions ,
.work .work-details:hover .work-details-actions button {
  opacity: 1;
}

.work .work-details .work-details-actions button {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 10px;
  display: inline-block;
  background: transparent;
  border: none;
  font-size: 0.8em;
  padding: 8px 10px;
  color: white;
  cursor: pointer;
  opacity: 0;
  background: rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.2);
    transition: all 0.3s;
}

.work .work-details .work-details-actions button:hover {
  background: rgba(0, 0, 0, 1);
  border: 1px solid white;
}

/*.work .work-details .work-details-actions {
    display: block;
}

.work .work-details .work-details-actions i {
    display: inline-block;
    margin: 0 3px;
    margin-top: 15px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.6);
    font-size: 1.1em;
    font-weight: 200;
}

.work .work-details .work-details-actions i:hover {
    color: rgba(255, 255, 255, 0.95);
}*/


@media (max-width: 800px) {
    .art-associates .associate-works .work {
        width: 100%;
        display: block;
    }
}