html, body {
  height: 100%;
  padding: 0; 
  margin: 0;
}

body {
  font-family: "taile";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
}

/* ========= PRIMARY HEADER =========*/

.primary-header {
  width: 100%;
  min-height: 100%;
}

/* ========= NAVIGATION HEADER CONTAINING LOGIN/SIGNUP/CURTAIN =========*/
.nav-header {
  width: 94%;
  margin: 0 auto;
 }

.nav-header .left {
  float: left;
 }

.nav-header .right {
  float: right;
 }

 /* ================== FIRST VIEW ================*/

.banner {
  text-align: center;
  color: #000000;
  cursor: pointer;
  width: 80%;
  margin: 0 auto;
  padding-top: 15%;
  padding-bottom: 15%;
  color: rgba(0, 0, 0, 0.8);
}

.banner h1 {
  font-weight: bold;
  font-size: 5em;
  margin-bottom: .25em;
}
.banner h3 {
  font-size: 1.5em;
}

.primary-header footer {
  position: absolute;
  bottom: 2.5%;
  right: 2%;
}

.primary-header footer h5 {
  color: rgba(0, 0, 0, 0.4);
}

.primary-header footer .uploader {
  color: rgb(87, 173, 104);
  cursor: pointer;
}

/* ================= HEADBAR IN SECOND VIEW ============== */
.painting-area {
  width:100%;
  height:100%;
}

.painting-toolbar {
  width: 100%;
  background: rgba(0, 0, 0, .9);
  padding: 10px 0 ;
}

.painting-toolbar img {
  height: 40px;
  width: 40px;
  margin: 0 5px;
  cursor: pointer;
  opacity: .5;
  /*background: rgba(255, 255, 255, 0.3);*/
}

.painting-toolbar img:hover {
  opacity: .95;
}

.painting-toolbar .social-icons{
  float: right;
  padding-right: 15%;
}

.painting-toolbar .tools-icons{
  float: left;
  padding-left: 15%;
}

.painting-container {
  height: 85%;
  width: 100%;
  text-align: center;
  margin: 20px;
}

.painting {
  height: 100%;
  width: auto;
}

/*=============== ART INFO BOX =====================*/
.about-painting {
  display: inline-block;
  float: right;
  width: 30%;
}

.about-painting img {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.about-painting li {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  margin-left: 5px;
  color: rgba(0, 0, 0, 0.7);
}

.about-painting .details {
  font-weight: normal;
  color: rgba(0, 0, 0, 0.8);
}

.about-painting a {
  text-decoration: none;
  cursor: pointer;
  color: rgb(87, 173, 104);
}

.about-painting th,
.about-painting td {
  padding-bottom: 22px;
  vertical-align: top;
}

.about-painting th {
  padding-right: 45px;
  text-align: right;
  width: 20%;
  color: #a9b2b9;
  font-size: 14px;
  font-weight: 400;
  padding-top: 22px;
  text-transform: uppercase;
}

.about-painting td {
  width: 40%;
  /*border-bottom: 1px solid #dfe2e5;*/
  border: 0;
  padding-top: 21px;
}

/*=================== THIRD VIEW ==================*/

.interpret-area {
  width: 90%;
  margin: 0 auto;
  margin-top: 40px;
  display: block;
}

.inter-heading {
  font-size: 24px;
  margin-bottom: .5em;
  color: rgba(0, 0, 0, .6);
}

.interprets {
  width: 65%;
  float: left;
}

.interprets hr {
  margin: 20px auto;
  width: 90%;
  display: block;
  opacity: 0.3;
}

.interpreter {
  margin-bottom: 10px;
  cursor: pointer;
}

.interpreter img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: 3px solid #c8c7b4; 
  height: 50px;
  width: auto;
  float: left;
}

.interpreter div {
  float: left;
  margin-left: 10px;
  margin-top: 10px;
}

.interpreter h3 {
  color: rgb(87, 173, 104);
}

.interpreter h5 {
  color: rgba(0, 0, 0, 0.4);
}

.interpret-content {
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.1px;
  text-decoration: none solid rgba(0, 0, 0, 0.8);
}

.interpret-footer {
  margin-top: 10px;
}

.interpret-footer .icon {
  height: 30px;
  width: auto;
  cursor: pointer;
  opacity: 0.5;
  margin: 5px 3px;
}

.interpret-footer .icon:hover {
  opacity: 1;
}

.interpret-footer .icon-left{
  float: left;
}

.interpret-footer .icon-right{
  float: right;
}

/*================= Clearfix =====================*/
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  clear: both;
  *zoom: 1;
}