@font-face {
    font-family: volbi;
    src: url(/fonts/Vollkorn-BoldItalic.TTF);
    font-weight:bold;
    font-style:italic;
}

html, body {
  font-family: 'taile';
  height: 100%;
  padding: 0; 
  margin: 0;
}

/* ========= PRIMARY HEADER =========*/

.primary-header {
  width: 100%;
  min-height: 100%;
  cursor: pointer;
}

.auth-user,
.auth-user a {
  color: rgba(0, 0, 0, 0.8);
}

 /* ================== FIRST VIEW ================*/

.banner {
  text-align: center;
  color: #000000;
  width: 80%;
  margin: 0 auto;
  padding-top: 15%;
  padding-bottom: 15%;
  color: rgba(0, 0, 0, 0.8);
}

.banner h1 {
  font-family: 'volbi';
  font-weight: bold;
  font-style: italic;
  font-size: 5em;
  margin-bottom: .25em;
}
.banner h3 {
  color: #E6B800;
  font-style: italic;
  font-size: 1.5em;
}

.banner h4 {
  font-size: 1em;
  margin-top: 1em;
}

.primary-header footer {
  position: absolute;
  bottom: 2.5%;
  right: 2%;
}

.primary-header footer h5 {
  color: rgba(0, 0, 0, 0.4);
}

.primary-header footer .uploader {
  color: #E6B800;
  cursor: pointer;
}

.go-down {
  position: absolute;
  bottom: 15%;
  left: 47%;
  opacity: 0.8;
}

.go-down img{
  height: 65px; 
  width: 65px;
}
.go-down:hover {
  opacity: 1;
}

.go-down {
 -webkit-animation: down1 3s linear infinite;
 -moz-animation: down1 3s linear infinite;
  animation:down1 3s linear infinite; }

@-webkit-keyframes down1 { 
  0% { bottom: 15%; } 10%{ bottom: 14%; } 20%{ bottom: 15%; } 
  30%{ bottom: 14%; } 40%{ bottom: 15%; } 100%{ bottom: 15%; } }
@-moz-keyframes down1 { 
  0% { bottom: 15%; } 10%{ bottom: 14%; } 20%{ bottom: 15%; }
  30%{ bottom: 14%; } 40%{ bottom: 15%; } 100%{ bottom: 15%; } }
@keyframes down1 { 
  0% { bottom: 15%; } 10%{ bottom: 14%; } 20%{ bottom: 15%; }
  30%{ bottom: 14%; } 40%{ bottom: 15%; } 100%{ bottom: 15%; } }

/* ================= HEADBAR IN SECOND VIEW ============== */
.painting-area {
  width:100%;
  height:100%;
}

.painting-toolbar {
  width: 100%;
  background: rgba(0, 0, 0, .9);
  position: relative;
}

.painting-tooolbar section {
  display: inline-block;
}

.painting-toolbar img {
  box-sizing: content-box;
  height: 40px;
  width: 40px;
  margin: 0 5px;
  cursor: pointer;
  opacity: 0.5;
  padding: 10px 0;
  padding-top: 10px;
  padding-bottom: 7px;
  border-bottom: 3px solid rgba(0, 0, 0, 0);
}

.painting-toolbar  img.active {
  opacity: 1;
  border-bottom: 3px solid green;
}

.painting-toolbar img:hover {
  opacity: .95;
}

.painting-toolbar img.disable {
  opacity: 0;
  cursor: default;
}

.painting-toolbar .zoom-icons {
  position:absolute;
  left: 45%;
}

.painting-toolbar .social-icons{
  float: right;
  padding-right: 15%;
}

.painting-toolbar .tools-icons{
  float: left;
  padding-left: 15%;
}

.painting-toolbar .more-options {
  position: relative;
  display: inline-block;
}
.painting-toolbar .more-actions {
  background-color: white;
  position: absolute;
  top: 135%;
  left: 0;
  width: 200px;
  border: 2px solid #585858;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  z-index: 1;
}


.painting-toolbar .more-actions:after, .painting-toolbar .more-actions:before {
  bottom: 100%;
  left: 25px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.painting-toolbar .more-actions:after {
  border-bottom-color: white;
  border-width: 10px;
  margin-left: -10px;
}

.painting-toolbar .more-actions:before {
  border-bottom-color: #585858;
  border-width: 13px;
  margin-left: -13px;
}

.painting-toolbar .more-actions li {
  text-align: left;
  color: #585858;
  font-size: 13px;
  margin: 10px 0;
  margin-left: 25px;
  cursor: pointer;
}

.painting-toolbar .more-actions li:hover {
  color: #0C0C0C;
}

/*=========== Painting area ============*/

.painting-container {
  height: 85%;
  width: 100%;
  text-align: center;
  margin: 20px 0;
  overflow: hidden;
  position: relative;
}

.painting-container .zm-wrap {
  width: 100%;
  height: 100%;
}

.painting {
  height: 100%;
  width: auto;
}

.painting-original.ng-hide-remove {
    -webkit-animation: fadeIn 0.6s;
    animation: fadeIn 0.4s;
    opacity: 0;
}

.painting-original.ng-hide-add {
    -webkit-animation: fadeOut 0.6s;
    animation: fadeOut 0.4s;
}

.painting-outline.ng-hide-remove {
    -webkit-animation: fadeInRight 0.6s;
    animation: fadeIn 0.4s;
    opacity: 0;
}

.painting-outline.ng-hide-add {
    -webkit-animation: fadeOutRight 0.4s;
    animation: fadeOut 0.4s;
}

.painting-grayscale.ng-hide-remove {
    -webkit-animation: fadeInLeft 0.6s;
    animation: fadeIn 0.4s;
    opacity: 0;
}

.painting-grayscale.ng-hide-add {
    -webkit-animation: fadeOutLeft 0.4s;
    animation: fadeOut 0.4s;
}

.fullScreen {
  height: 100%;
  width: auto;
  margin: 0 auto;
}

.palette {
  position: absolute;
  left: 50px;
  top: 100px;
}

.palette li {
  height: 50px;
  width: 50px;
}

.palette.ng-hide-add {
  -webkit-animation: fadeOutLeft 0.4s;
  animation: fadeOutLeft 0.4s;
}

.palette.ng-hide-remove {
  -webkit-animation: fadeInLeft 0.4s;
  animation: fadeInLeft 0.4s;
}

/*=============== ART INFO BOX =====================*/
.about-painting {
  display: inline-block;
  float: right;
  width: 30%;
}

.about-painting img {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
  cursor: pointer;
}

.about-painting li {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  margin-left: 5px;
  color: rgba(0, 0, 0, 0.7);
}

.about-painting .details {
  font-weight: normal;
  color: rgba(0, 0, 0, 0.8);
}

.about-painting a {
  text-decoration: none;
  cursor: pointer;
  color: #E6B800;
}

.about-painting th,
.about-painting td {
  padding-bottom: 12px;
  vertical-align: top;
}

.about-painting th {
  padding-right: 45px;
  text-align: right;
  width: 20%;
  color: #a9b2b9;
  font-size: 14px;
  font-weight: 400;
  padding-top: 12px;
  text-transform: uppercase;
}

.about-painting td {
  width: 40%;
  /*border-bottom: 1px solid #dfe2e5;*/
  border: 0;
  padding-top: 11px;
}

/*=================== THIRD VIEW ==================*/

.interpret-area {
  width: 88%;
  margin: 0 auto;
  margin-top: 40px;
  display: block;
  position: relative;
}
.interpret-header {
  width: 65%;
  margin-bottom: 10px;
}

.inter-heading {
  font-size: 24px;
  margin-bottom: .5em;
  color: rgba(0, 0, 0, .6);
  float: left;
}

.write-interpretation {
  height: 24px;
  float: right;
  background-color: transparent;
  border: 1px solid #E6B800;
  border-radius: 12px;
  font-size: 13px;
  color: #E6B800;
  padding: 4px 15px;
  margin-top: 5px;
}

.write-interpretation:hover {
  background-color: #E6B800;
  color: white;
  border: none;
}

.no-interpretation {
  width: 100%;
  text-align: center;
}

.no-interpretation .write-interpretation  {
  float: none;
  height: 44px;
  border-radius: 22px;
  font-size: 18px;
  padding: 4px 15px;
}

.interprets {
  width: 65%;
  float: left;
}

.interprets hr {
  margin: 20px auto;
  width: 90%;
  display: block;
  opacity: 0.3;
}

.interpreter {
  margin-bottom: 10px;
}

.interpreter img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #c8c7b4; 
  height: 50px;
  width: 50px;
  float: left;
  margin-right: 10px;
}

.interpreter div {
  float: left;
  margin-top: 10px;
}

.interpreter h3 {
  color: #E6B800;
  font-weight: normal;
  font-size: 20px;
  margin: 0;
}

.interpret-content {
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.1px;
  text-decoration: none solid rgba(0, 0, 0, 0.8);
}

.interpret-footer {
  margin-top: 15px;
}

.interpret-footer h6 {
  color: rgba(0, 0, 0, 0.6);
}

.interpret-footer ul {
  margin-top: 5px;
}

.interpret-footer .icon {
  height: 30px;
  width: auto;
  cursor: pointer;
  opacity: 0.6;
  margin: 5px 0;
  margin-right: 5px;
}

.interpret-footer .icon:hover {
  opacity: 1;
}

.interpret-footer .left{
  float: left;
}

.interpret-footer .right{
  float: right;
}

.interpret-footer .vote-active {
  background: #E6B800;
  opacity: 1;
}

.interpret-footer .comments {
  margin-top: 15px;
}

.interpret-footer .comments form {
  width: 80%;
  height: 50px;
}

.interpret-footer .comments input {
  width: 100%;
  height: 100%;
}
.interpret-footer .comments img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: 3px solid #c8c7b4; 
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.interpret-footer .comments li {
  margin: 20px;
}

.interpret-footer .comments .commenter {
  color: #E6B800;
  margin-bottom: 5px;
  cursor: pointer;
}

.interpret-footer .comments .comment {
  width: 80%;
}

.interpret-footer .comments .comment-time {
  margin-top: 5px;
}

/*================ END MARKER =====================*/

.end-marker {
  width: 650px;
  margin: 50px auto;
  vertical-align: middle;
}

.end-marker hr {
  width: 300px;
  display: inline-block;
  margin: 0;
  margin-bottom: 25px;
  opacity: 0.5;
}

.end-marker img {
  width: 50px;
  height: auto;
  padding: 3px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #c8c7b4; 
}

/*=========== Priamry Footer - Next Posts ===============*/

.primary-footer {
  width: 90%;
  height: 60%;
  margin: 0 auto;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 50px;
}

.next-post {
  width: 30%;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  margin-left: 2%;
  box-shadow: 10px 10px 30px 0px #C9C6C6;
  padding: 5px;
  overflow: hidden;
  position: relative;
}


.next-post a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.next-post:hover {
  box-shadow: 10px 10px 30px 0px #424844;
}

.next-post .painting-holder {
  width: 100%;
  height: 60%;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
}

.next-post h4 {
  font-family: 'volbi';
  font-weight: bold;
  font-style: italic;
  font-size: 27px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 7px;
}

.next-post p {
  font-family: 'taile';
  line-height: 25px;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.8);
}

.next-post .next-footer {
  position: absolute;
  bottom: 0;
  height: 40px;
  width: 100%;
  background-color: #E6B800;
}

.next-post .next-footer h5 {
  padding-top: 15px;
  color: white;
  text-align: center;
  letter-spacing: 3px;
}

/*================ ALERT ====================*/

.alerts {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  height: 50px;
  width: 400px;
  background-color: #E6B800;
  display: inline;
}


.alerts.ng-hide-remove {
    -webkit-animation: fadeInDown 0.7s;
    animation: fadeInDown 0.7s;
    opacity: 0;
}

.alerts.ng-hide-add {
    -webkit-animation: fadeOutUp 0.7s;
    animation: fadeOutUp 0.7s;
}

.alerts h4 {
  font-size: 15px;
  text-align: center;
  margin-top: 18px;
}

/*================= Clearfix =====================*/
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  clear: both;
  *zoom: 1;
}
