@font-face{
    font-family: 'fertigo';
    src: url('/static/fonts/fertigo/Fertigo.eot');
    src: url('/static/fonts/fertigo/Fertigo.woff') format('woff'),
             url('/static/fonts/fertigo/Fertigo.ttf') format('truetype'),
             url('/static/fonts/fertigo/Fertigo.svg') format('svg');
}


html, body {
    font-family: 'taile', sans-serif;
    height: 100%;
    background: #F6FAFF;
}

/* ================= HEADBAR IN SECOND VIEW ============== */
.painting-area {
    width: 100%;
    height: 90%;
    padding-top: 15px;
    background: white;
    position: relative;
}

@media (max-width: 800px) {
    .painting-area {
        height: auto;
    }
}

/*-------------- Art Tools ---------------*/
.painting-area .art-tools {
    position: absolute;
    bottom: 0;
    right: 20px;
    height: 60px;
    overflow: hidden;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
}

.art-tools button {
    display: block;
    height: 50px;
    width: 50px;
    min-width: 50px;
    color: #E6B800;
    padding: 0;
    background: rgba(0, 0, 0, 0.9);
    border: none;
    cursor: pointer;
    margin: 0 auto;
}

.art-tools button.drawer-control {
    height: 60px;
    width: 60px;
    min-width: 60px;
}

.painting-area .tools-extended button.drawer-control,
.art-tools button:hover {
    background: #E6B800;
    color: black;
}

.painting-area .tools-extended {
    height: 210px;
}

.art-tools button i {
    vertical-align: middle;
}

/*=========== Painting area ============*/

.painting-container {
    height: 100%;
    width: 100%;
    text-align: center;
    overflow: hidden;
    position: relative;
    background: white;
    display: inline-block;
    vertical-align: bottom;
}

.painting-container .zm-wrap {
    width: 100%;
    height: 100%;
}

.painting {
    height: 100%;
    width: auto;
}

.painting.landscape {
    width: 60%;
    height: auto;
    margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.painting-original.ng-hide-remove {
        -webkit-animation: fadeIn 0.6s;
        animation: fadeIn 0.4s;
        opacity: 0;
}

.painting-original.ng-hide-add {
        -webkit-animation: fadeOut 0.6s;
        animation: fadeOut 0.4s;
}

.painting-outline.ng-hide-remove {
        -webkit-animation: fadeInRight 0.6s;
        animation: fadeIn 0.4s;
        opacity: 0;
}

.painting-outline.ng-hide-add {
        -webkit-animation: fadeOutRight 0.4s;
        animation: fadeOut 0.4s;
}

.painting-grayscale.ng-hide-remove {
        -webkit-animation: fadeInLeft 0.6s;
        animation: fadeIn 0.4s;
        opacity: 0;
}

.painting-grayscale.ng-hide-add {
        -webkit-animation: fadeOutLeft 0.4s;
        animation: fadeOut 0.4s;
}

.fullScreen {
    height: 100%;
    width: auto;
    margin: 0 auto;
}


@media (max-width: 800px) {
    .painting {
        width: 95%;
        height: auto;
        margin: 0 auto;
    }

    .fullscreen {
        width: 90%;
        height: auto;
        margin: 0 auto;
    }
}

.palette {
    position: absolute;
    left: 50px;
    top: 100px;
}

.palette li {
    height: 50px;
    width: 50px;
}

.palette.ng-hide-add {
    -webkit-animation: fadeOutLeft 0.4s;
    animation: fadeOutLeft 0.4s;
}

.palette.ng-hide-remove {
    -webkit-animation: fadeInLeft 0.4s;
    animation: fadeInLeft 0.4s;
}

/*================= Meta Header =====================*/

.meta-header {
    width: 100%;
    background: white;
    padding-top: 10px;
    border-bottom:  1px solid rgba(0, 0, 0, 0.05);
}

.meta-header .meta-header-container{
    width: 80%;
    margin: 0 auto;
    max-width: 1300px;
}

.meta-header-container .meta-header-about {
    width: 20%;
    display: inline-block;
}

.meta-header-about h1 {
    font-family: 'fertigo', serif;
    font-size: 1.5em;
    margin-bottom: .25em;
}

.meta-header-about h5 {
    font-size: 0.8em;
    color: rgba(0, 0, 0, 0.4);
}

.meta-header-container .meta-header-posts {
    width: 60%;
    display: inline-block;
}

.meta-header-posts .header-posts-container {
    width: 60%;
    display: inline-block;
}

.header-posts-container li {
    width: 30%;
    display: inline-block;
    line-height: 1.5em;
    letter-spacing: 1px;
    text-align: center;
    cursor: pointer;
}

.header-posts-container li h5 {
    font-size: 0.7em;
    display: inline-block;
    color: rgba(0, 0, 0, 0.6);
}

.header-posts-container li .count {
    font-size: 1.4em;
    display: inline-block;
    color: #E6B800;
    /*text-align: center;*/
}

.header-posts-container li.active .count {
    color: rgba(0, 0, 0, 0.9);
}

.header-posts-container li.active {
    border-bottom: 2px solid #E6B800;
}

.meta-header-container .meta-header-actions {
    width: 20%;
    text-align: left;
    display: inline-block;
    vertical-align: top;
    margin-top: 7px;
}

.meta-header-posts .header-posts-actions {
    float: right;
    display: inline;
    padding-top: 6px;
}

.header-posts-actions img {
    width: 35px;
    height: 35px;
    margin-right: 10px;
}

.meta-header-actions button {
    background: transparent;
    border: none;
    border: 1px solid #E6B800;
    border-radius: 5px;
    font-size: 0.8em;
    padding: 8px 10px;
    color: #E6B800;
    cursor: pointer;
    vertical-align: top;
}

.meta-header-actions button:hover,
.meta-header-actions button.collection-active {
    background: #E6B800;
    color: white;
}

/*============ Meta Art Content ==============*/

.meta-content {
    width: 100%;
}

.meta-content .meta-content-container {
    width: 80%;
    margin: 0 auto;
    max-width: 1300px;
}

.meta-content-container .content-about {
    width: 20%;
    display: inline-block;
    vertical-align: top;
}

.content-about .by-header {
    margin: 7px 0;
    font-size: 0.65em;
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.4);
}

.content-about .by-user {
    width: 100%;
}

.content-about .by-user img {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    height: 40px;
    width: 40px;
}

.content-about .by-user h3 {
    display: inline-block;
    vertical-align: top;
    padding-left: 5px;
    color: #E6B800;
}

.content-about .content-about-actions {
    width: 100%;
}

.content-about-actions .about-action {
    width: 85%;
    margin: 8px auto;
    background: #E6B800;
    border: none;
    border: 1px solid #E6B800;
    border-radius: 5px;
    color: white;
    font-size: 0.8em;
    font-weight: bold;
    padding: 10px 10px;
    cursor: pointer;
}

.content-about-actions .about-action:hover {
    background: #CFA600;
}

.meta-content-container .content-posts {
    width: 60%;
    display: inline-block;
    background: white;
    margin-top: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 12px;
}


/*================ END MARKER =====================*/

.end-marker {
    width: 650px;
    margin: 3em auto;
    vertical-align: middle;
}

.end-marker hr {
    width: 300px;
    display: inline-block;
    margin: 0;
    margin-bottom: 1.4em;
    opacity: 0.5;
}

.end-marker img {
    width: 3em;
    height: auto;
    padding: 3px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #c8c7b4;
}

/*=========== Priamry Footer - Next Posts ===============*/

.primary-footer {
    width: 90%;
    max-width: 1200px;
    height: 60%;
    margin: 0 auto;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 50px;
}

.next-post {
    width: 30%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2%;
    box-shadow: 10px 10px 30px 0px #C9C6C6;
    padding: 5px;
    overflow: hidden;
    position: relative;
}


.next-post a {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.next-post:hover {
    box-shadow: 10px 10px 30px 0px #424844;
}

.next-post .painting-holder {
    width: 100%;
    height: 60%;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
}

.next-post h4 {
    font-family: 'fertigo', serif;
    font-weight: bold;
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 7px;
}

.next-post p {
    font-family: 'taile', sans-serrif;
    line-height: 1.5em;
    font-size: 1em;
    color: rgba(0, 0, 0, 0.8);
}

.next-post .next-footer {
    position: absolute;
    bottom: 0;
    height: 2.5em;
    width: 100%;
    background-color: #E6B800;
}

.next-post .next-footer h5 {
    padding-top: 1em;
    color: white;
    text-align: center;
    letter-spacing: 3px;
}

@media (max-width: 800px) {
    .primary-footer {
        width: 80%;
        height: 400px;
    }

    .next-post {
        width: 100%;
        display: block;
        margin-left: 0;
        margin-bottom: 1em;
    }
}

/*================= Clearfix =====================*/
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    clear: both;
    *zoom: 1;
}
