
html, body {
    font-family: 'taile', sans-serif;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}



/*========================*/

.container {
        width: 100%;
        height: 100%;
        overflow: hidden;
}

/*=========== Header ============*/
.page-header {
    width: 100%;
    background-color: white;
    color: rgba(0, 0, 0, 0.9);
    padding: 10px 16px;
    position: absolute;
    top: 0;
    z-index: 1000;
}

.page-header .site-logo{
    width: 20%;
    display: inline-block;
    cursor: pointer;
    margin-top: 6px;
}

.page-header .site-logo img {
    width: 2.4em;
    height: 2.4em;
    vertical-align: bottom;
}

.page-header .page-actions {
    display: inline-block;
    width: 60%;
    float: right;
    vertical-align: middle;
    text-align: right;
}

.page-actions .draft-text {
    opacity: 0;
    color: rgba(0,0,0,0.5);
    display: inline;
    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
    -ms-transition: opacity .3s;
    transition: opacity .3s;
}

.page-actions .draft-text.show {
    opacity: 1;
}

.page-actions button {
    background: transparent;
    border: none;
    background: rgba(0,0,0,0.9);
    border: 1px solid rgba(0,0,0,0.9);
    color: white;
    padding: 7px 15px;
    margin: 0 2px;
    margin-top: 12px;
    border-radius: 2px;
    cursor: pointer;
}

.page-actions button.save {
    background: white;
    border: 1px solid rgba(0,0,0,0.9);
    color: rgba(0,0,0,0.9);
}


/*================== Add Image =================*/

.add-image {
    position: fixed;
    width: 55%;
    height: 100%;
    background-color: rgba(230, 184, 0, 0.2);
    top: 0;
    left: 0;
}

.add-image .small-box {
        width: 50%;
        height: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
}

.add-image .crop-image,
.add-image .upload-image {
    display: block;
    height: 50%;
    width: 100%;
    text-align: center;
    position: relative;
    background-color: rgba(230, 184, 0, 0.6);
    cursor: pointer;
}

.add-image .crop-image {
        border-bottom: 1px solid black;
}

.add-image .crop-image:hover,
.add-image .upload-image:hover {
        background-color: rgba(230, 184, 0, 0.9);
}

.add-image .upload-image .file {
        opacity: 0;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        background-color: green;
        cursor: pointer;
}

.add-image .crop-image h3,
.add-image .upload-image h3 {
        width: 100%;
        font-size: 2em;
        letter-spacing: 1px;
        padding: 5px;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
}