/*======================= CSS RESET ==========================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  font-size: 100%;
  outline: none;
}
ol, ul {
  list-style: none;
}

@media (max-width: 800px) {
  .nt-mb {
    display: none;
  }
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}

/*===================CSS STARTS HERE=========================*/

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

@font-face {
    font-family: taile;
    src: url(/static/fonts/TAILE.TTF);
    font-weight:400;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
          outline: none;
}

::selection {
  background: #E6B800;
}

::-moz-selection {
  background: #E6B800;
}

a {
  text-decoration: none;
  color: black;
}

body {
  padding-top: 80px;
}

/*============= Site Header ==============*/
.site-header {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    transition: top 0.2s ease-in-out;
    z-index: 1000;
}

.header-pull-up {
    top: -85px;
}

/*-------------- Site Logo ------------------*/
.site-header .site-logo{
    width: 20%;
    display: inline-block;
}

.site-logo img {
    width: 3.4em;
    height: 3.4em;
    vertical-align: bottom;
}

.site-logo .site-name {
    display: inline-block;
    height: 3.3em;
    font-family: 'taile';
    font-weight: bold;
    text-align: left;
    color: white;
    border-top: 2px solid #E6B800;
    border-bottom: 2px solid #E6B800;
    cursor: pointer;
}

.site-logo .site-name h1 {
    display: inline-block;
    font-size: 1.55em;
    margin-top: 8px;
}

.site-logo .site-name h2 {
    display: block;
    font-size: 0.6em;
}

/*---------------- Site navigation -----------------*/
.site-header .site-navigation{
    width: 50%;
    display: inline-block;
    vertical-align: top;
    padding: 20px 0;
}

.site-navigation li {
    display: inline-block;
    padding: 0 3%;
}

.site-navigation li a {
    font-size: 1.1em;
    color: rgba(255, 255, 255, 0.7);
    letter-spacing: 1px;
}

.site-navigation li a:hover,
.site-navigation li a.active {
    color: rgba(255, 255, 255, 1);
    text-shadow: 0 0 2px rgba(0, 0, 0, 1);
    border-bottom: 1px solid #E6B800;
}

/*---------------- Site Actions -----------------*/
.site-header .site-actions {
    width: 15%;
    display: inline-block;
    vertical-align: top;
    padding: 10px 0;
    padding-right: 10px;
    text-align: right;
}

.site-actions button {
    color: #E6B800;
    width: 20px;
    min-width: 20px;
}

/*---------------- User Auth -----------------*/
.site-header .user-auth {
    width: 15%;
    display: inline-block;
    vertical-align: top;
    padding: 10px 0;
}

.user-auth button {
    height: 38px;
    width: 42px;
    color: #E6B800;
}

.user-auth h3 {
    font-size: 1.1em;
    color: rgba(255, 255, 255, 0.7);
    letter-spacing: 1px;
    cursor: pointer;
    padding: 10px 5px;
}

.user-auth h3:hover {
    color: rgba(255, 255, 255, 1);
    text-shadow: 0 0 2px rgba(0, 0, 0, 1);
}

.user-auth .mdl-menu {
    width: 200px;
}

.user-auth .mdl-menu i {
    vertical-align: middle;
    padding-right: 4px;
}

/*============== Progress bar =================*/

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  width: 100%;
  height: 3px;
  background: #E6B800;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  pointer-events: none;
}

.progress-bar::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 100%;
  background: #E6B800;
  box-shadow: 0 0 15px #E6B800, 0 0 5px #E6B800;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.2s, box-shadow 2s 4s;
  transition: opacity 0.2s, box-shadow 2s 4s;
  -webkit-transform: rotate(2deg) translateY(-2px);
  transform: rotate(2deg) translateY(-2px);
}

.progress-bar.animate {
  z-index: 2000;
  opacity: 0;
  -webkit-transition: -webkit-transform 2s ease-in, opacity 1s 2s;
  transition: transform 2s ease-in, opacity 1s 2s;
  -webkit-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}

.progress-bar.animate::after {
  box-shadow: 0 0 3px #E6B800, 0 0 1px #E6B800;
  opacity: 1;
}

/*================ ALERT ====================*/

.alerts {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  width: 400px;
  background-color: #E6B800;
  border: 1px solid #E6B800;
  border-radius: 2px;
  color: black;
  display: inline;
  padding: 15px;
  line-height: 1.5em;
  z-index: 2000;
}


.alerts.ng-hide-remove {
    -webkit-animation: fadeInDown 0.7s;
    animation: fadeInDown 0.7s;
    opacity: 0;
}

.alerts.ng-hide-add {
    -webkit-animation: fadeOutUp 0.7s;
    animation: fadeOutUp 0.7s;
}

.alerts h4 {
  font-size: 15px;
  text-align: center;
  margin-top: 18px;
}

/*============= Login Modal ================*/
.login-modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3000;
  background: rgba(255, 255, 255, 0.99);
}

.login-modal .modal-action {
  position: absolute;
  top: 20px;
  right: 25px;
}

.login-modal .modal-action button {
  cursor: pointer;
  background: transparent;
  border: none;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.2em;
}

.login-modal .modal-action button:hover {
  color: rgba(0, 0, 0, 0.65);
}

.login-modal .modal-content {
  width: 70%;
  margin: 0 auto;
  padding-top: 120px;
}

.modal-content header {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}

.modal-content header h2 {
  color: rgba(0, 0, 0, 0.8);
  font-size: 3em;
  font-weight: bold;
  line-height: 1.5em;
  letter-spacing: 1px;
}

.modal-content header h3 {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.2em;
}

/*------------- Social Login ------------*/

.modal-content .login-social {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.social-actions .social-action {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 2em;
  font-size: 0.9em;
  color: #FFFFFF;
  text-align: center;
  display: inline-block;
  padding: 1em 1.5em;
  cursor: pointer;
  border: none;
  opacity: 0.9;
}

.social-actions .social-action:hover {
  opacity: 1;
}

.social-actions .social-action.twitter {
  background: #00ADE9;
}

.social-actions .social-action.google {
  background: #dd4b39;
}

.social-actions .social-action.facebook  {
  background: #3C5A9D;
}

.login-social footer h4 {
  font-size: 1em;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 15px;
}

.login-social footer h6 {
  font-size: 1em;
  color: #E6B800;
  cursor: pointer;
  letter-spacing: 1px;
}

.login-social footer h6:hover {
  text-decoration: underline;
}

/*------------- Naitve Login ------------*/
.modal-content .login-native {
  width: 100%;
}

.login-native .native-form {
  width: 50%;
  display: inline-block;
  padding: 0 50px;
  vertical-align: top;
}

.login-native .native-form input {
  display: block;
  font-size: 1em;
  padding: 1em 1.5em;
  width: 100%;
  margin: 10px 0;
  margin-top: 0;
  width: 100%;
}

.login-native .native-form input:focus {
  border: 2px solid rgba(0, 0, 0, 0.8);
}

.login-native .native-form input.ng-invalid.ng-dirty {
  border: 2px solid rgba(255, 0, 0, 0.8);
}

.login-native .native-form form.ng-submitted input.ng-invalid {
  border: 2px solid rgba(255, 0, 0, 0.8);
}

.login-native .native-form .native-action-button {
  display: inline-block;
  padding: 1em 1.5em;
  background-color: #FFFFFF;
  cursor: pointer;
  border: 2px solid #1C2023;
  color: #1C2023;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 15px;
  word-spacing: .5em;
}

.login-native .native-form .native-action-button:hover {
  color: #FFFFFF;
  background: #1C2023;
}

.login-native .native-form .native-action-button.disabled,
.login-native .native-form .native-action-button.disabled:hover {
  color: #1C2023;
  background-color: #FFFFFF;
  opacity: 0.5;
  cursor: default;
}


.login-native footer h6 {
  font-size: 1em;
  color: #E6B800;
  cursor: pointer;
  letter-spacing: 1px;
  text-align: center;
}

.login-native footer h6:hover {
  text-decoration: underline;
}