/*======================= CSS RESET ==========================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}

/*===================CSS STARTS HERE=========================*/

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

@font-face {
    font-family: taile;
    src: url(/static/fonts/TAILE.TTF);
    font-weight:400;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

::selection {
  background: #E6B800;
}

::-moz-selection {
  background: #E6B800; 
}

a {
  text-decoration: none;
  color: black;
}

.curtain-overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.3);
  z-index: 98;
  transition: background .40s ease;
  -moz-transition: background .40s ease;
  -webkit-transition: background .40s ease;
}


/*================ CURTAIN MENU - LEFT ================*/

.logo {
  position: fixed;
  cursor: pointer;
  top: 10px;
  left: 20px;
  z-index: 100;
  width: 50px;
  height: 50px;
}

.name {
  position: fixed;
  top: 10px;
  left: 70px;
  z-index: 100;
  height: 50px;
  font-family: 'taile';
  font-weight: bold;
  text-align: left;
  color: white;
  border-bottom: 2px solid #E6B800;
  cursor: pointer;
}

.name h1 {
  font-size: 25px;
  margin-top: 8px;
}

.name h2 {
  font-size: 10px;
}

.curtain-left {
  position: fixed;
  width: 25%;
  max-width: 400px;
  margin-left: -25%;
  z-index: 99;
  height: 100%;
  background-color: #1c2023;
  color: #B1B1B1;
  font-size: 15px;
  font-family: 'taile';
}

.curtain-left hr {
  margin: 30px auto;
  width: 80%;
  display: block;
  opacity: 0.1;
}

.curtain-left .content {
  margin-top: 100px;
}


.curtain-left .content a {
  display: block;
  text-decoration: none;
  cursor: pointer;
  margin-top: 40px;
  margin-left: 20px;
  font-weight: bold;
  color: #B1B1B1;
  letter-spacing: 5px;
}

.curtain-left .content a:hover{
  color: rgba(255, 255, 255, 0.95);
}

.curtain-left .message {
  letter-spacing: 2px;
  line-height: 25px;
  margin: 0 20px;
}

.curtain-left .social {
  width: 60%;
  margin: 0 auto;
}

.curtain-left .social h4 {
  margin-bottom: 10px;
  letter-spacing: 3px;
  text-align: center;
}

.curtain-left .social li {
  display: inline;
  width: 30%;
  float: left;
}

.curtain-left .social img {
  width: 100%;
  opacity: 0.5;
}

.curtain-left .social img:hover {
  opacity: 1;
}


/*================ CURTAIN MENU - RIGHT ================*/

.auth-user {
  position: fixed;
  cursor: pointer;
  top: 20px;
  right: 20px;
  z-index: 100;
  font-size: 14px;
  font-family: 'taile';
  font-weight: normal;
  letter-spacing: 3px;
  opacity: 0.9;
  color: white;
  margin: 0;
}

.auth-user:hover {
  opacity: 1;
}

.auth-user a {
  color: white;
  opacity: 0.9;
}

.auth-user a:hover {
  opacity: 1;

}

.curtain-right {
  position: fixed;
  right: 0;
  width: 30%;
  max-width: 400px;
  margin-right: -30%;
  z-index: 99;
  height: 100%; 
  background: #FFFFFF;
  font-family: 'taile';
}

.curtain-right .login {
  margin-top: 100px;
}

.curtain-right .content {
  width: 80%;
  margin: 0 auto;
  letter-spacing: .3px;
}

.curtain-right h4 {
  text-align: center;
  font-size: 34px;
  margin: 20px;
  color: #1C2023;
}

.curtain-right h6 {
  text-align: center;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
}

.curtain-right .social button {
  font-size: 16px;
  color: #FFFFFF;
  text-align: center;
  display: block;
  padding: 1.3em 0;
  margin: 20px 0;
  cursor: pointer;
  border: none;
  display: inline-block;
  width: 100%;
}

.curtain-right .social button:hover {
  opacity: 0.9;
}

.curtain-right .social .twitter {
  background: #00ADE9;
}

.curtain-right .social .facebook  {
  background: #3C5A9D;
}

.curtain-right .native {
  text-align: center;
  margin-top: 20px;
}

.curtain-right .native input {
  width: 100%;
  font-size: 16px;
  text-align: center;
  display: block;
  padding: 1em 0;
  margin: 10px 0;
}

.curtain-right .native .login-button {
  width: 45%;
  display: inline-block;
  padding: 1em 1.5em;
  background-color: #FFFFFF;
  cursor: pointer;
  border: 2px solid #1C2023;
  color: #1C2023;
}

.curtain-right .native input.ng-invalid.ng-dirty {
  border: 2px solid rgba(255, 0, 0, 0.8);
}

.curtain-right .native form.ng-submitted input.ng-invalid {
  border: 2px solid rgba(255, 0, 0, 0.8);
}

.curtain-right .native .login-error {
  color: rgba(255, 0, 0, 1);
}

.curtain-right .native .login-button:hover {
  color: #FFFFFF;
  background: #1C2023;
}

.curtain-right footer a {
  font-size: 15px;
  letter-spacing: 0.3px;
  color: rgba(0, 0, 0, 0.4);
  display: block;
  text-align: center;
  margin-bottom: 5px;
}

/*==============Right Curtain - User ===================*/

.curtain-user {
  width: 23%;
  font-family: 'taile';
  letter-spacing: 2px;
}

.curtain-user h4 {
  margin: 50px 0;
  text-align: center;
  color: #000;
  font-size: 25px;
}

.curtain-user a {
  display: block;
  text-decoration: none;
  cursor: pointer;
  font-size: 15px;
  margin: 40px 0;
  margin-left: 30px;
  color: #B1B1B1;
  letter-spacing: 2px;
  text-align: left;
}

.curtain-user .user a:hover{
  color: rgba(0, 0, 0, 0.95);
}