/*======================= CSS RESET ==========================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  font-size: 100%;
  outline: none;
  font-family: 'taile', sans-serif;
  padding-top: 80px;
  width: 100%;
  height: 100%;
}

body.modal-open {
    overflow-y  : scroll;
}

@media (max-width: 800px) {
    body {
        padding: 0;
    }
}

ol, ul {
  list-style: none;
}

@media (max-width: 800px) {
  .nt-mb {
    display: none !important;
  }
}

@media (min-width: 800px) {
  .show-mb {
    display: none !important;
  }
}

@media (max-width: 800px) {
  .show-mb {
    display: default !important;
  }
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}

/*===================CSS STARTS HERE=========================*/

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

@font-face {
    font-family: 'taile';
    src: url(/static/fonts/TAILE.TTF);
    font-weight:400;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
          outline: none;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
}

::-webkit-scrollbar-thumb {
    background-color: black;
    border: 5px solid white;
}

@media (max-width: 800px) {
  ::-webkit-scrollbar {
      width: 7px;
  }

  ::-webkit-scrollbar-thumb {
      border: none;
  }
}

/*::selection {
  background: #E6B800;
}

::-moz-selection {
  background: #E6B800;
}*/

a {
  text-decoration: none;
  color: black;
}

/*============= Scroll Bar ===========*/

body::-webkit-scrollbar {
    width: 15px;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
}

body::-webkit-scrollbar-thumb {
    background-color: black;
    border: 5px solid white;
}

@media (max-width: 800px) {
  body::-webkit-scrollbar {
      width: 7px;
  }

  body::-webkit-scrollbar-thumb {
      border: none;
  }
}

/*============= Site Header ==============*/
.site-header {
    width: 100%;
    background-color: white;
    color: rgba(0, 0, 0, 0.9);
    padding: 10px 20px;
    position: fixed;
    top: 0;
    transition: top 0.2s ease-in-out;
    z-index: 1000;
}

.header-pull-up {
    top: -85px;
}

@media (max-width: 800px) {
    .site-header {
        position: static;
    }
}

/*-------------- Site Logo ------------------*/
.site-header .site-logo{
    width: 20%;
    display: inline-block;
    cursor: pointer;
    margin-top: 6px;
}

.site-logo img {
    width: 2.4em;
    height: 2.4em;
    vertical-align: bottom;
}

.site-logo .site-name {
    display: inline-block;
    height: 2.3em;
    font-weight: bold;
    text-align: left;
    cursor: pointer;
}

.site-logo .site-name h1 {
    display: inline-block;
    font-size: 1.15em;
    margin-top: 8px;
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.85);
}

.site-logo .site-name h2 {
    display: block;
    font-size: 0.55em;
    color: rgba(0, 0, 0, 0.85);
}

@media (max-width: 800px) {
    .site-header .site-logo {
        width: 2em;
    }

    .site-logo img {
       width: 1.9em;
       height: 1.9em;
    }
}

/*---------------- Site navigation -----------------*/
.site-header .site-navigation{
    width: 40%;
    display: inline-block;
    vertical-align: top;
    padding: 20px 0;
}

.site-navigation li {
    display: inline-block;
    padding: 0 3%;
    cursor: pointer;
}

.site-navigation li a {
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.54);
}

.site-navigation li a:hover,
.site-navigation li a.active {
    color: rgba(0, 0, 0, 0.85);
}

.site-navigation li a.active {
    border-bottom: 2px solid rgba(0, 0, 0, 1);
}

@media (max-width: 800px) {
  .site-header .site-navigation {
    text-align: center;
    width: 100%;
  }

  .site-navigation li {
    padding: 0 4%;
  }

  .site-navigation li a {
    font-size: 1em;
  }
}

/*---------------- Site Actions -----------------*/
.site-header .site-actions {
    width: 25%;
    display: inline-block;
    vertical-align: top;
    padding: 10px 0;
    padding-top: 13px;
    text-align: right;
}

@media (max-width: 800px) {
    .site-header .site-actions {
        padding: 5px 0;
        margin: 0;
        width: 50%;
    };
}

.site-actions button {
    color: rgba(0, 0, 0, 0.5);
    background: transparent;
    box-shadow: none;
    border: none;
    height: 20px;
    width: 28px;
    min-width: 20px;
    padding: 0;
    padding-left: 8px;
    padding-top: 4px;
    cursor: pointer;
    transition: all 0.2s;
    vertical-align: top;
    text-align: center;
}

.site-actions button:hover {
  color: rgba(0, 0, 0, 0.95);
}

.site-actions button i {
  vertical-align: middle;
    font-size: 1.5em;
    text-align: center;
}

/*------------- Search Box ----------*/

.site-actions .searchForm {
    display: inline-block;
    position: relative;
}

.site-actions .searchForm .searchForm-container {
    vertical-align: top;
    padding: 0 10px;
    padding-top: 5px;
    padding-left: 25px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

.site-actions .searchForm .searchForm-container .search-input {
    vertical-align: top;
    border: none;
}

.site-actions .searchForm .searchForm-container .search-icon {
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.1em;
    vertical-align: middle;
}


/*-------------- Search Results ----------------*/

.searchForm .search-results {
    position: absolute;
    /*bottom: 0px;*/
    top: 50px;
    width: 300px;
    max-height: 600px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: white;
    z-index: 10000;
    overflow: hidden;
}

.searchForm .search-results .search-result-label {
    width: 100%;
    height: 30px;
    padding: 5px 10px;
    padding-top: 15px;
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)
}

.searchForm .search-results .search-result-label p {
    float: left;
    font-size: 0.7em;
    letter-spacing: 1px;
    font-weight: bold;
}

.searchForm .search-results .search-result-label a {
    float: right;
    font-size: 0.7;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.5);
}

.searchForm .search-results .search-result {
    width: 100%;
    text-align: left;
    padding: 10px 10px;
}

.searchForm .search-results .search-result:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.searchForm .search-results .search-result a {
    width: 100%;
    height: 100%;
    display: block;
}

.searchForm .search-results .result-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: inline-block;
    vertical-align: top;
}

.searchForm .search-results .result-info {
    display: inline-block;
    vertical-align: top;
    font-size: 0.8em;
    padding-top: 5px;
    padding-left: 10px;
    cursor: pointer;
}

.searchForm .search-results .more-search {
    width: 100%;
    padding: 5px 10px;
    height: 40px;
    vertical-align: middle;
}

.searchForm .search-results .more-search.see-all-active {
    background-color: rgba(0, 0, 0, 0.1);
}

/*---------------- User Auth -----------------*/
.site-header .user-auth {
    width: 15%;
    display: inline-block;
    vertical-align: top;
    padding-top: 13px;
    height: 43px;
    vertical-align: top;
}

.user-auth button {
    color: rgba(0, 0, 0, 0.5);
    background: transparent;
    box-shadow: none;
    border: none;
    height: 20px;
    width: 28px;
    min-width: 20px;
    padding: 0;
    padding-top: 4px;
    padding-left: 8px;
    cursor: pointer;
    transition: all 0.2s;
    vertical-align: top;
}

.user-auth button:hover {
  color: rgba(0, 0, 0, 0.95);
}

.user-auth button i {
  vertical-align: middle;
    font-size: 1.5em;
}

.user-auth h3 {
    font-size: 0.77em;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.7);
    letter-spacing: 1px;
    cursor: pointer;
    padding-top: 9px;
    padding-left: 8px;
}

.user-auth h3:hover {
    color: rgba(0, 0, 0, 1);
}

.user-profile-options.mdl-menu {
    width: 200px;
}

.user-profile-options.mdl-menu i {
    vertical-align: middle;
    padding-right: 4px;
}

.user-profile-options.mdl-menu .mdl-menu__item.indent_right {
    padding-left: 40px;
}

/*----------- Notification ------------*/
#user-notifications.active {
    color: rgba(0, 0, 0, 0.95);
}

#user-notifications .badge-wrapper:after {
    background-color: rgba(0, 0, 0, 0.7);
    top: -24px;
    right: -5px;
}

#user-notifications .badge-wrapper.mdl-badge {
        -webkit-animation: fadeInUp 1s;
        animation: fadeInUp 1s;
}

.user-notification-container.mdl-menu {
    width: 400px;
    height: 500px;
    overflow: auto;
    display: block;
    padding-top: 8px;
    padding-bottom: 1px;
}

.user-notification-container.mdl-menu .notification-loader-overklay{
    width: 400px;
    height: 500px;
    overflow: auto;
    display: block;
    padding-top: 8px;
    padding-bottom: 1px;
}

.user-notification-container.mdl-menu::-webkit-scrollbar {
    width: 4px;
}

.user-notification-container.mdl-menu::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
}

.user-notification-container.mdl-menu::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border: 0;
}

.user-notification-container.mdl-menu .more-notifications,
.user-notification-container.mdl-menu .user-notification {
    padding: 10px 10px;
    height: 60px;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.user-notification-container.mdl-menu .more-notifications {
    color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.user-notification-container.mdl-menu .more-notifications:hover {
    color: rgba(0, 0, 0, 0.9);
    background: rgba(0, 0, 0, 0.1);
}

.user-notification-container.mdl-menu .user-notification .actor-picture {
    height: 40px;
    width: 40px;
    display: inline-block;
}

.user-notification-container.mdl-menu .user-notification .actor-picture img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.user-notification-container.mdl-menu .user-notification .notification-details {
    display: inline-block;
    width: 320px;
    height: 100%;
    padding-left: 10px;
    vertical-align: top;
    line-height: normal;
    white-space: normal;
}

.user-notification-container.mdl-menu .no-notifications {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 0 10px;
}

.user-notification-container.mdl-menu .no-notifications h4 {
    padding-top: 100px;
    color: rgba(0, 0, 0, 0.5);
    cursor: default;
}

.user-notification-container.mdl-menu .no-notifications h5 {
    padding-top: 100px;
    color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 800px) {
    .site-header .user-auth {
      width: 30%;
      text-align: right;
      padding: 5px 0;
      margin: 0;
    }

    .user-auth button {
        padding: 0;
        margin: 0;
    }

    .user-auth h3 {
        padding: 5px 0;
        padding-top: 8px;
    }

}

/*================= Arts Stream ===============*/
.arts-container {
  width: 100%;
  max-width: 1000px;
  margin: 20px auto;
  text-align: center;
}

.arts-container .container {
  /*margin: 0 5px;*/
  display: inline-block;
  text-align: left;
  width: 33%;
  display: none;
}

.masonry-brick.loaded {
    display: block;
    -webkit-animation: fadeInUp 0.8s;
    animation: fadeInUp 0.8s;
}

.art {
  margin: 0 auto;
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.8);
  background: white;
  border-radius: 2px;

  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.art:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.actor-picture {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.art .art-content {
  position: relative;
  margin: 0 auto;
  width: 100%;
}

.art .art-content img {
  width: 100%;
  height: 100%;
  vertical-align: bottom;
  opacity: 0;

  -webkit-transition: opacity .5s;
  -moz-transition: opacity .5s;
  -ms-transition: opacity .5s;
  transition: opacity .5s;
}

.art .art-content.loaded img{
    opacity: 1;
}

.art .art-content .nsfw-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 2;
  color: white;
  padding-top: 20%;
  text-align: center;
  cursor: pointer;
}

.art .art-content .nsfw-overlay.ng-hide-add {
        -webkit-animation: fadeOut 0.6s;
        animation: fadeOut 0.4s;
}

.art .art-content .details-inset {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: 1;
  padding: 20px;
  color: white;
}

.art:hover .art-content .details-inset {
  transition: all 0.3s;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.art .art-content .details-inset .inset-actions,
.art .art-content .details-inset .bookmark-action {
    position: absolute;
    top: 20px;
}

.art .art-content .details-inset .inset-actions {
    right: 20px;
}

.art .art-content .details-inset .bookmark-action {
    left: 20px;
}

.art .art-content .details-inset .inset-actions i,
.art .art-content .details-inset .bookmark-action i {
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.2em;
    padding: 0 2px;
    opacity: 0;
}

.art .art-content .details-inset .inset-actions i.admire-on-icon,
.art .art-content .details-inset .bookmark-action i.bookmark-on-icon {
    opacity: 1;
}

.art .art-content .details-inset .inset-actions i:hover,
.art .art-content .details-inset .bookmark-action i:hover {
    color: white;
}

.art:hover .art-content .details-inset .inset-actions i,
.art:hover .art-content .details-inset .bookmark-action i {
    opacity: 1;
}

.details-inset .inset-details {
  width: 60%;
  display: inline-block;
}

.art:hover .art-content .details-inset .inset-actions,
.art:hover .art-content .details-inset .inset-actions h6 {
  opacity: 1;
  transition: all 0.3s;
  display: inline;
}

.details-inset .inset-details h6 {
  font-size: 0.85em;
  line-height: 2em;
  letter-spacing: 1px;
  line-height: 1.5em;
  opacity: 0;
}

.details-inset .inset-details h6.active:hover {
    text-decoration: underline;
    cursor: pointer;
}

.details-inset .series-action {
  width: 100%;
  position: absolute;
  bottom: 10px;
  left: 0;
  opacity: 0;
  text-align: center;
}

.art:hover .art-content .details-inset .series-action ,
.art:hover .art-content .details-inset .series-action button {
  opacity: 1;
  transition: all 0.3s;
}

.details-inset .series-action button {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 10px;
  display: inline-block;
  background: transparent;
  border: none;
  font-size: 0.8em;
  padding: 8px 10px;
  color: white;
  cursor: pointer;
  opacity: 0;
  background: rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.details-inset .series-action button:hover {
  background: rgba(0, 0, 0, 1);
  border: 1px solid white;
}

.art .details {
  width: 80%;
  padding: 10px;
  padding-left: 15px;
  display: inline-block;
}

.art .details h4 {
  font-size: 1.1em;
  font-weight: bold;
  line-height: 1.5em;
  text-align: left;
  display: inline-block;
  cursor: pointer;
}

.art .details h4 a {
  color: rgba(0, 0, 0, 0.85);
}

.art .details h4:hover {
  text-decoration: underline;
}

.art .details h5 a {
  font-size: 0.9em;
  letter-spacing: 1px;
  display: inline-block;
  cursor: pointer;
}

.art .details h5 a:hover {
  text-decoration: underline;
}

.art .details h5 {
  font-size: 0.8em;
  line-height: 1.5em;
  color: rgba(0, 0, 0, 0.5);
}

.art .details h6 {
  font-size: 0.75em;
  /*font-weight: bold;*/
  letter-spacing: 1px;
  display: block;
  cursor: pointer;
  line-height: 1.5em;
  color: rgba(0, 0, 0, 0.5);
}

.art .details h6:hover {
  text-decoration: underline;
}

.art .scores {
  display: inline-block;
  padding-top: 20px;
  text-align: right;
  letter-spacing: 1px;
    vertical-align: top;
    color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

.art .scores i {
    font-size: 1.2em;
    vertical-align: top;
}

.art .scores span {
    font-size: 0.9em;
    vertical-align: baseline;
    margin-top: 3px;
    display: inline-block;
    font-family: 'taile', sans-serif;
}

.art .scores:hover {
    color: rgba(0, 0, 0, 0.9);
}

@media (max-width: 800px) {
  .arts-container .container {
      width: 100%;
  }

  .art .art-content {
    width: 100% !important;
    height: auto !important;
  }

  .art .details {
    width: 70%;
    padding-left: 5px;
  }
}

/*================== Post-Bucket =======================*/

.feed-bucket {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  margin-bottom: 15px;
  color: rgba(0, 0, 0, 0.8);

  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.feed-bucket:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.feed-bucket .bucket-picture {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    cursor: pointer;
}

.feed-bucket .bucket-picture .bucket-inset-details {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    transition: all 1s;
    text-align: center;
    padding: 5px;
    padding-top: 60px;
}

.feed-bucket .bucket-picture .bucket-inset-details:hover {
    background: rgba(0, 0, 0, 0.8);
}

.feed-bucket .bucket-picture .bucket-inset-details h2 {
    font-size: 1.5em;
    line-height: 1.5em;
    color: white;
}

.feed-bucket .bucket-picture .bucket-inset-details .by-user {
    font-size: 0.8em;
    margin-top: 80px;
    line-height: 1.5em;
    color: white;
}

.feed-bucket .bucket-picture .bucket-inset-details h3 {
    font-size: 1em;
    line-height: 1.5em;
    color: white;
}

.feed-bucket .bucket-picture .bucket-inset-details .arts-count {
    font-size: 0.7em;
    margin-top: 10px;
    display: inline;
    color: white;
}

.bucket-inset-details .bucket-inset-details-actions,
.bucket-inset-details .bookmark-action {
    position: absolute;
    top: 20px;
    transition: all 0.3s;
}

.bucket-inset-details:hover .bucket-inset-details-actions i,
.bucket-inset-details:hover .bookmark-action i {
    opacity: 1;
}

.bucket-inset-details .bucket-inset-details-actions {
    right: 20px;
}

.bucket-inset-details .bookmark-action {
    left: 20px;
}

.bucket-inset-details .bucket-inset-details-actions i,
.bucket-inset-details .bookmark-action i {
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.2em;
    padding: 0 2px;
    opacity: 0;
}

.bucket-inset-details .bucket-inset-details-actions i.admire-on-icon,
.bucket-inset-details .bookmark-action i.bookmark-on-icon {
    opacity: 1;
}

.bucket-inset-details .bucket-inset-details-actions i:hover,
.bucket-inset-details .bookmark-action i:hover {
    color: white;
}

@media (max-width: 800px) {
  .feed-bucket {
    width: 100%;
  }
}

/*-------------------- Post User ---------------------*/
.feed-user {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    margin-bottom: 15px;
    color: rgba(0, 0, 0, 0.8);
    background-color: rgba(255, 255, 255, 1);
    text-align: center;
}

.feed-user .feed-user-header {
    padding: 10px;
    width: 100%;
    height: 80%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.feed-user .feed-user-header a .owner-picture {
    height: 150px;
    width: 150px;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 50%;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.feed-user .feed-user-header a h2 {
    font-size: 1.4em;
    line-height: 1.5em;
    margin: 0;
    margin-top: 20px;
    padding: 0;
}

.feed-user .feed-user-header .user-credentials {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}


.feed-user .feed-user-header .user-credentials .cred-count {
    display: inline;
    margin: 0 4px;
    margin-top: 5px;
}

.feed-user .feed-user-footer {
    width: 100%;
    height: 20%;
    text-align: center;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
}

.feed-user .feed-user-footer button {
    background: transparent;
    border: none;
    border: 1px solid rgba(255, 255, 255, 0.9);
    color: rgba(255, 255, 255, 0.9);
    padding: 5px 25px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    display: block;
    margin: 5px auto;
    margin-top: 20px
}

.feed-user .feed-user-footer button.active,
.feed-user .feed-user-footer button:hover {
    background: white;
    color: black;
    border-color: black;
}

.feed-user .feed-user-footer button.active:before {
    position: absolute;
    content: '\E876';
    font-family: 'Material Icons';
    left: 80%;
    top: 50%;
    transform: translateY(-50%);
}

@media (max-width: 800px) {
  .feed-user {
    width: 100%;
  }
}

/*============== EXPLORE BUTTON ====================*/
.explore {
  font-weight: 400;
  display: inline-block;
  padding: 12px 18px;
  margin-top: 20px;
  border: 2px solid black;
  border-radius: 1px;
  text-align: center;
  font-size: 1.1em;
  letter-spacing: 0.1em;
  cursor: pointer;
  color: white;
  background-color: black;
  transition: all 1s;
}

.explore:hover {
  background-color: white;
  border-color: white;
  color: black
}

/*------------- Site Footer --------------*/
footer.site-footer {
    width: 100%;
    height: 400px;
    /*background: url('http://www.fubiz.net/wp-content/uploads/2015/01/Black-And-White-Watercolors-Illustrations_2-640x640.jpg');*/
    background-color: rgba(0, 0, 0, 0.8);
    background-size: cover;
    background-position: top center;
    text-align: center;
    padding-top: 100px;
    position: relative;
    margin-top: 50px;
}

footer.site-footer header {
    max-width: 800px;
    width: 80%;
    margin: 0 auto;
}

footer.site-footer header h2 {
    font-size: 1.8em;
    font-family: 'taile', sans-serif;
    line-height: 1.5em;
    letter-spacing: 1px;
    text-align: center;
    color: white;
    margin-bottom: 30px;
}

.site-footer .bottom-footer .links {
    position: absolute;
    bottom: 10px;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}

.site-footer .bottom-footer .links a {
    color: white;
    padding: 5px;
    letter-spacing: 1px;
    cursor: pointer;
}

.site-footer .bottom-footer .links a:hover {
}

.site-footer .bottom-footer .social {
  position: absolute;
  bottom: 10px;
  right: 20px;
}

.site-footer .bottom-footer .social li {
  float: right;
  width: 2.5em;
  height: 2.5em;
  opacity: 0.5;
  cursor: pointer;
}

.site-footer .bottom-footer .social li:hover {
  opacity: 1;
}

.site-footer .bottom-footer .social li img {
  width: 100%;
  height: 100%;
}

@media (max-width: 800px) {

  footer.site-footer {
      padding-top: 50px;
  }
}

/*------------ Site loader --------------*/
.site-loader {
  display: block;
  margin: 50px auto;
  width: 41px;
  height: 41px;
  position: relative;
  border: 6px solid rgb(0,0,0);
  animation: site-loader 2.3s infinite ease;
    -o-animation: site-loader 2.3s infinite ease;
    -ms-animation: site-loader 2.3s infinite ease;
    -webkit-animation: site-loader 2.3s infinite ease;
    -moz-animation: site-loader 2.3s infinite ease;
}

.site-loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: rgb(0,0,0);
  animation: site-loader-inner 2.3s infinite ease-in;
    -o-animation: site-loader-inner 2.3s infinite ease-in;
    -ms-animation: site-loader-inner 2.3s infinite ease-in;
    -webkit-animation: site-loader-inner 2.3s infinite ease-in;
    -moz-animation: site-loader-inner 2.3s infinite ease-in;
}





@keyframes site-loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@-o-keyframes site-loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@-ms-keyframes site-loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes site-loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@-moz-keyframes site-loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@keyframes site-loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}

@-o-keyframes site-loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}

@-ms-keyframes site-loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}

@-webkit-keyframes site-loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}

@-moz-keyframes site-loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}

/*================= Clearfix =====================*/
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    clear: both;
    *zoom: 1;
}
