<div ng-include src=" '/static/partials/jumbo.html' "></div>
<div class="panel panel-default col-lg-9">
  <div class="panel-heading">
    <h3 class="panel-title">{{composition.title}} 
        <small class="pull-right">By  <a target="_blank" ui-sref="showcase({userId: composition.artist.id})">
            {{composition.artist.first_name}}
            </a>
        </small>
    </h3>
  </div>
  <div class="panel-body">
          <div class="row">
      <p class ="col-lg-3">{{composition.description}}</p>
      <img ng-src="{{composition.matter}}" class ="col-lg-9" width="100%" data-toggle="modal" data-target="#itemModal">

    <!-- Modal -->
    <div class="modal fade" id="itemModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">{{composition.title}}</h4>
          </div>
          <div class="modal-body">
            <img ng-src="{{composition.matter}}" width="100%">
          </div>
        </div>
      </div>
    </div>
  </div>
      <div class="row">
          <br>
          <div class="col-lg-9">
              <button class="btn btn-primary">
                   <i class="fa fa-facebook"></i>
              </button>
              <button class="btn btn-danger">
                  <i class="fa fa-google-plus"></i> 
              </button>
              <button class="btn btn-info">
                  <i class="fa fa-twitter-square"></i>
              </button>
          </div>
          <div class="col-lg-3 pull-right">
              <button class="btn btn-success" ng-click="voting(true)" ng-class="{disabled: composition.IsVoted}">
                   <i class="fa fa-hand-o-up"></i> {{composition.vote.positive}}
              </button>
              <button class="btn btn-warning" ng-click="voting(false)" ng-class="{disabled: composition.IsVoted}">
                  <i class="fa fa-hand-o-down"></i> {{composition.vote.negative}}
              </button>
              <button class="btn" ng-click="bookmark(composition.id)" ng-hide="composition.IsBookmarked">
                  <i class="fa fa-heart-o"></i>
              </button>              
              <button class="btn btn-danger active" ng-show="composition.IsBookmarked">
                  <i class="fa fa-heart"></i>
              </button>
          </div>
      </div>
      <br>
      <h3>Comments</h3>
      <div class="list-group">
          <li class="list-group-item" ng-repeat="comment in comments" >
              <h4 class="list-group-item-heading"><a href="{{comment.commenter}}">User</a></h4>
              <p class="list-group-item-text">{{comment.comment}}</p>
          </li>
          <li class="list-group-item">
              <form ng-submit="commenting()">
                  <input type="text" class="input-large" placeholder="What do you think..." ng-model="newComment">                                  
                  <input type="submit" id="submit" value="Comment" />
              </form>
          </li>
      </div>
    </div>
</div>
<div ng-show="isCompositionOwner(composition.artist.id)" class="pull-right">
    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#editModal">
      Refine it!
    </button>
    <button class="btn btn-danger btn-lg" ng-click="removeComposition()">
      Remove it!
    </button>
    <!-- Modal -->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="editComposition">Refine your work.</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
                <label for="uploadTitle">Title</label>
                <input type="text" ng-model="composition.title" class="form-control" id="uploadTitle" placeholder="Enter a fitting title...">
            </div>
            <div class="form-group">
                <label for="uploadDescription">Description</label>
                <textarea class="form-control" ng-model="composition.description" id="uploadDescription" placeholder="Some words about this work..."></textarea>
            </div>
            <img ng-src="{{composition.matter}}" width="100%">
          </div>
            
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" ng-click="editComposition()">Submit</button>
          </div>
        </div>
      </div>
    </div>
</div>