{% extends "base.html" %}
{% block html_attr_block %}ng-app="BucketApp"{% endblock %}

{% block title_block %}
    <title>{{bucket.name | title}} by {{bucket.owner.name | title}} </title>
{%endblock%}

{% block meta_block %}
    <meta charset="UTF-8">
    <base href="/">
    <meta name="Description" content="Title: {{bucket.name}}, Artist: {{bucket.owner.name}}, Category: Art series">
    <link rel="canonical" href="http://thirddime.com/arts/{{bucket.slug}}" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta property="og:title" content="{{bucket.name | title}}">
    <meta property="og:site_name" content="ThirdDime">
    <meta property="og:url" content="http://thirddime.com/@{{bucket.owner.slug}}/series/{{bucket.slug}}">
    <meta property="og:description" content="{{bucket.description}}">
    <meta property="og:image" content="http://thirddime.com{{bucket.picture}}">
    {% for image in open_graph_images %}
    <meta property="og:image" content="http://thirddime.com{{image}}">
    {% endfor %}
    <meta property="og:type" content="article">
    <meta property="fb:app_id" content="462422103909005">
    <meta property="article:author" content="http://thirddime.com/@{{bucket.owner.slug}}" />
    <meta property="article:publisher" content="https://www.facebook.com/thirddimeart" />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@thirddime">
    <meta name="twitter:title" content="{{bucket.name | title}}">
    <meta name="twitter:description" content="{{bucket.description}}">
    <meta name="twitter:image" content="http://thirddime.com{{bucket.picture}}">
    {% for image in open_graph_images %}
    <meta property="og:image" content="http://thirddime.com{{image}}">
    {% endfor %}
{%endblock%}

{% block css_block %}
     <!-- build:css /static/build/bucket.css -->
    <link rel="stylesheet" type="text/css" href="/static/css/bucket/main.css">
    <!-- endbuild -->
{%endblock%}

{% block site_header_block %} {% endblock %}

{% block body_attr_block %}ng-controller="bucketController" ng-init="init({{bucket.id}}, '{{bucket.name | escapejs}}', '{{bucket.description | escapejs}}', '{{bucket.picture}}', '{{bucket.slug}}', '{{bucket.owner.name | escapejs}}', {{bucket.owner.id}}, '{{bucket.owner.slug}}', '{{is_followed}}', '{{bucket.public}}', '{{is_admired}}', '{{admire_as}}', '{{is_bookmarked}}', '{{is_me}}')"{% endblock %}

{% block content_block %}

    <section key-event-binder-content-solo tabindex="0" class="bucket-modal content">
        <section class="logo">
            <a href="/home"><img class="logo" src="/static/images/header-md.png"></a>
        </section>

        <section class="modal-actions-header">
            <button class="bucket-public-action ng-hide" ng-cloak ng-show="'{{has_ownership}}' == 'True' && !bucket.is_public" ng-click="makeBucketPublic()">Publish</button>
            <i class="material-icons action content-action" ng-cloak ng-show="'{{has_ownership}}' == 'True'" ng-click="showEditBucket()">edit</i>
            <i class="material-icons action content-action" ng-cloak ng-show="'{{has_ownership}}' == 'True'" ng-click="deleteBucket()">delete</i>

            <span class="counter counter-watchers">
                <i class="material-icons action content-action" ng-click="showShare()">share</i>
                <i class="material-icons action content-action" ng-cloak ng-hide="bucket.is_bookmarked" ng-click="handleBookMarkBucket()">bookmark_border</i>
                <i class="material-icons action content-action" ng-cloak ng-show="bucket.is_bookmarked" ng-click="handleBookMarkBucket()">bookmark</i>
                <!-- <h6 class="count nt-mb">{{bucket.watchers_count}}</h6> -->
            </span>
            <span class="counter nt-mb">
                <i class="material-icons action content-action">visibility</i>
                <h6 class="count">{{bucket.views}}</h6>
            </span>
        </section>

        <div class="background-area" ng-if="bucket" ng-style="{'background-image': 'url({{bucket.background_url}})'}"></div>
        <div class="background-overlay"></div>

        <article class="bucket-content nt-mb" swipe-effect ng-swipe-left="nextArt()" ng-swipe-right="prevArt()">
            <header class="content-bucket-header">
                <h1>{{bucket.name | title}}</h1>
                <hr>
                <div class="by-user">by</div>
                <h3><a ng-href="/@{{bucket.owner.slug}}">{{bucket.owner.name | title }}</a></h3>
                <hr>
                <h2>{{bucket.description}}</h2>
            </header>

            <div horizontal-sly class="content-scroll-holder nt-mb" ng-cloak ng-show="slyInitComplete" id="basic">
                <ul class="content-container">
                    <section class="content-art-description" ng-repeat-start="art in bucketArts" ng-if="art.description" ng-style="{'height': '450px', 'width': '350px'}">
                        <p>[[art.description]]</p>
                    </section>

                    <section class="content-art" ng-class="{'has-description': art.description}" check-last ng-repeat-end ng-style="{'height': '450px', 'width': '[[math.round(450/art.composition.matter_aspect)]]px', 'background-color': '[[art.composition.major]]'}">

                        <div ng-cloak ng-show="art.composition.nsfw" class="nsfw-overlay" ng-click="toggleNsfw($index)">
                            <h6>This work is marked not safe</h6>
                            <h6>Click anywhere to show the work</h6>
                        </div>

                        <img ng-src="[[art.composition.matter_550]]">
                        <section class="art-details">
                            <div class="art-details-actions">
                                <i class="material-icons action" ng-cloak ng-show="'{{has_ownership}}' == 'True'" ng-click="removeFromBucket($index)">delete</i>
                                <i class="material-icons action" ng-cloak ng-show="'{{has_ownership}}' == 'True'" ng-click="editBucketMembership($index)">edit</i>
                            </div>
                            <h1><a ng-href="/arts/[[art.composition.slug]]">[[art.composition.title | titlecase]]</a></h1>
                            <button class="add-bucket-action" ng-click="showAddToBucket($index)">Add to series</button>
                            <div class="by-user">by</div>
                            <h2><a ng-href="/@[[art.composition.artist.slug]]">[[art.composition.artist.name | titlecase]]</a></h2>
                            <section class="user-actions">
                                <i class="material-icons" ng-click="handleBookMarkArt($index)" ng-cloak ng-hide="art.composition.is_bookmarked">bookmark_border</i>
                                <i class="material-icons bookmark-on-icon" ng-click="handleBookMarkArt($index)" ng-cloak ng-show="art.composition.is_bookmarked">bookmark</i>
                                <i class="material-icons" ng-cloak ng-hide="art.composition.is_admired" ng-click="handleAdmireArt($index)">favorite_border</i>
                                <i class="material-icons admire-on-icon" ng-cloak ng-show="art.composition.is_admired" ng-click="handleAdmireArt($index)">favorite</i>
                                <i class="material-icons" ng-click="shareArt($index)" >share</i>
                            </section>
                        </section>
                    </section>

                    <section class="admire-as-action" ng-style="{'height': '450px', 'width': '450px'}">
                        <header>Admire this series as</header>
                        <section class="solo-admire-action">
                            <hr>
                            <i class="material-icons action content-action" ng-cloak ng-hide="bucket.is_admired">favorite_border</i>
                            <i class="material-icons action content-action" ng-cloak ng-show="bucket.is_admired">favorite</i>
                            <hr>
                        </section>
                        <section class="admire-as-options">
                            <button class="admire-as-option" ng-class="{'not-selected' : option.count == 0, 'selected': option.selected}" ng-repeat="option in admirationOptions" ng-click="admireBucket($index)">[[option.word | titlecase]] <span ng-show="option.count > 0">[[option.count]]</span></button>
                        </section>
                    </section>

                    <section class="bucket-credits" ng-style="{'height': '450px', 'width': '400px'}">
                        <header>
                            <a ng-href="/@{{bucket.owner.slug}}">
                                <h3>Series created by</h3>
                                <section class="owner-picture" ng-style="{'background-image': 'url({{bucket.owner.picture.url}})'}">
                                </section>

                                <h2>{{bucket.owner.name | title}}</h2>
                            </a>
                        </header>
                        <section class="owner-data">
                            <button ng-class="{'active': bucket.owner.is_followed}" ng-click="handleFollow()">Follow</button>
                        </section>
                    </section>
                </ul>
            </div>

            <div class="scrollbar nt-mb" ng-cloak ng-show="slyInitComplete">
                <div class="handle">
                    <div class="mousearea"></div>
                </div>
            </div>

            <site-loader site-loader-hide='slyInitComplete || $scope.noArts'></site-loader>


        </article>

        <div class="show-mb bucket-content-mb" >
            <header class="content-bucket-header">
                <h1>{{bucket.name | title}}</h1>
                <hr>
                <div class="by-user">by</div>
                <h3><a ng-href="/@{{bucket.owner.slug}}">{{bucket.owner.name | title }}</a></h3>
                <hr>
                <h2>{{bucket.description}}</h2>
            </header>

            <section class="content-art-description" ng-cloak ng-repeat-start="art in bucketArts" ng-if="art.description">
                <p>[[art.description]]</p>
            </section>

            <a  ng-href="/arts/[[art.composition.slug]]" ng-repeat-end>
                <img ng-src="[[art.composition.matter_550]]">
            </a>

            <section class="admire-as-action" ng-cloak>
                <header>Admire this series as</header>
                <section class="solo-admire-action">
                    <hr>
                    <i class="material-icons action content-action" ng-cloak ng-hide="bucket.is_admired">favorite_border</i>
                    <i class="material-icons action content-action" ng-cloak ng-show="bucket.is_admired">favorite</i>
                    <hr>
                </section>
                <section class="admire-as-options">
                    <button class="admire-as-option" ng-class="{'not-selected' : option.count == 0, 'selected': option.selected}" ng-repeat="option in admirationOptions" ng-click="admireBucket($index)">[[option.word | titlecase]] <span ng-show="option.count > 0">[[option.count]]</span></button>
                </section>
            </section>

            <section class="bucket-credits" >
                <header>
                    <a ng-href="/@{{bucket.owner.slug}}">
                        <h3>Series created by</h3>
                        <section class="owner-picture" ng-style="{'background-image': 'url({{bucket.owner.picture.url}})'}">
                        </section>

                        <h2>{{bucket.owner.name | title}}</h2>
                    </a>
                </header>
                <section class="owner-data">
                    <button ng-class="{'active': bucket.owner.is_followed}" ng-click="handleFollow()">Follow</button>
                </section>
            </section>
        </div>

    </section>

    <div ui-view></div>

{% endblock %}

{% block site_footer_block %} {% endblock %}

{% block script_block %}
    <!-- build:js /static/build/bucket.js -->
    <script type="text/javascript" src="/static/js/bucket/bucket.module.js"></script>
    <script type="text/javascript" src="/static/js/bucket/bucket.controller.js"></script>
    <!-- endbuild -->
{% endblock %}