<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Strict//EN">
<html ng-app="CompositionApp">
<head>
	<meta charset="UTF-8">
	<title>ThirdDime - {{composition.title}}</title>

	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta property="og:title" content="{{composition.title}}">
	<meta property="og:site_name" content="ThirdDime">
	<meta property="og:url" content="http://thirddime.com/arts/{{composition.slug}}">
	<meta property="og:description" content="Behind the BrushStrokes.">
	<meta property="og:image" content="http://thirddime.com/{{composition.matter.url}}">
	<meta property="og:type" content="website">

	<link rel="shortcut icon" type="image/png" href="/static/images/favicon.ico">

	 <!-- build:css /static/build/composition.css -->
	<link rel="stylesheet" type="text/css" href="/static/vendor/zoome/zoome-min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/base.css">
	<link rel="stylesheet" type="text/css" href="/static/css/composition/main.css">
	<link rel="stylesheet" type="text/css" href="/static/bower_components/animate.css/animate.css">
	<!-- endbuild -->
</head>


<body ng-controller="compositionController" ng-init="init()">
	<topbar></topbar>
	<div class="curtain-overlay-placeholder"></div>
	<header class="primary-header" ng-init="init({{composition.id}}, '{{composition.matter.url}}')">
		<section class="banner">
			<h1 scroll-to="#painting">{{composition.title}}</h1>
			<h3>{{composition.artist}}</h3>
		</section>

		<footer>
			<h5>Uploaded by <span class="uploader">ThirdDime staff</span></h5>
		</footer>
	</header>

	<section class="painting-area">
		<header class="painting-toolbar clearfix" id="painting">
			<div class="tools-icons">
				<img view-finder src="/static/css/composition/icons/viewfinder.svg">
				<img color-palette="{{composition.matter.url}}" src="/static/css/composition/icons/bookmark.svg">
				<img fullscreen src="/static/css/composition/icons/expand.svg">
				<img src="/static/css/composition/icons/more-bottom.svg">
			</div>
			<!-- <button class="btn style1 inter_btn">Interpretations</button> -->
			<div class="social-icons">
				<img title="Twitter" src="/static/css/composition/icons/twitter.svg">
				<img title="Facebook" src="/static/css/composition/icons/facebook.svg">
				<img title="Pinterest" src="/static/css/composition/icons/pinterest.svg">
				<img title="Google" src="/static/css/composition/icons/google.svg">
			</div>
		</header>
		<div class="painting-container">
			<ul class="palette" ng-show="showPalette" ng-cloak>
				<li style="background: rgb([[ dominantColor['0'] ]], [[ dominantColor['1'] ]], [[ dominantColor['2'] ]])"></li>
				<br><br>
				<li style="background: rgb([[ color['0'] ]], [[ color['1'] ]], [[ color['2'] ]])" ng-repeat="color in palette"></li>
			</ul>
			<img class="painting" src="{{composition.matter.url}}">
		</div>
	</section>

	<section class="interpret-area clearfix">
		<header class="interpret-header">
			<h4 class="inter-heading">4 Interpretations</h4>
		</header>

		<section class="interprets" ng-cloak id="inter0">

			<!-- 1 -->
			<section class="interpret" ng-repeat-start="interpretation in interpretations">
				<header class="interpreter clearfix">
					<img ng-src="[[interpretation.user.picture]]">
					<div>
						<h3>[[interpretation.user.full_name]]</h3>
						<h5>Illusionistic Painting</h5>
					</div>
				</header>
				<p class="interpret-content">
					[[interpretation.interpretation]]
				</p>
				<footer class="interpret-footer">
					<div class="clearfix">
					<h6 class="right">[[interpretation.timesince]] ago</h6>
					<h6 class="left">[[interpretation.vote.total]] Votes. [[interpretation.comments_count]] Comments</h6>
					</div>
					<ul class="clearfix">
  					    <li><img class="icon left" ng-class="{'vote-active': interpretation.voting_status=='Positive'}" src="/static/css/composition/icons/arrowup.svg" ng-click="vote($index, true)"></li>
  					    <li><img class="icon left" ng-class="{'vote-active': interpretation.voting_status=='Negative'}" src="/static/css/composition/icons/arrowdown.svg" ng-click="vote($index, false)"></li>
  					    <li><img class="icon left" src="/static/css/composition/icons/comment.svg" ng-click="toggleShowComments($index)"></li>
  					    <li><img class="icon right" tumblr-share source="[[composition.url]]" description="[[interpretation.interpretation]]" src="/static/css/composition/icons/google.svg"></li>
  					    <li><img class="icon right" pinterest-share source="[[composition.url]]" description="[[interpretation.interpretation]]" src="/static/css/composition/icons/pinterest.svg"></li>
  					    <li><img class="icon right" facebook-share source="[[composition.url]]" description="[[interpretation.interpretation]]" title="This is a cool title" src="/static/css/composition/icons/facebook.svg"></li>
  					    <!-- <li><img class="icon right" src="/static/css/composition/icons/twitter.svg" ></li> -->
  					</ul>
  					<section class="comments" ng-show="interpretation.showComments">
  						<div class="clearfix">
	  						<img class="left" src="/media/root/user_default.jpg">
	  						<form class="left" ng-submit="addComment($index, interpretation.comment)">
		  						<input type="textbox" placeholder="Share your thoughts about the work." ng-model="interpretation.comment">
	  						</form>
	  					</div>
  						<ul>
  							<li class="clearfix" ng-repeat="comment in interpretation.comments">
  								<img class="left" ng-src="[[comment.commenter.picture]]">
  								<div class="left comment">
  									<h5 class="commenter">[[comment.commenter.full_name]]</h5>
									<p>[[comment.comment]]</p>
									<h6 class="comment-time">[[comment.timesince]] ago</h6>
								</div>
  							</li>
  						</ul>
  					</section>
				</footer>
			</section>
			<hr ng-repeat-end id="inter[[$index+1]]">

		</section>

	 	<sidebar class="about-painting" sticky offset="50">
			<img src="{{composition.matter.url}}">
			<table>
			    <tr>
			      <th>
			        Title
			      </th>
			      <td colspan="2">
			        {{composition.title}}
			      </td>
			    </tr>
			    <tr>
			      <th>
			        Artist
			      </th>
			      <td>
			        <a href="#">
			          {{composition.artist}}
			        </a>
			      </td>
			    </tr>
			    <tr>
			      <th>
			        Genre
			      </th>
			      <td>
			        Post-Impressionism
			      </td>
			    </tr>
			    <tr>
			      <th>
			        Year
			      </th>
			      <td>
			        <a href="speakers.html#tessa-harmon">
			          1890
			        </a>
			      </td>
			    </tr>
			</table>
		</sidebar>
	</section> 



	<!-- Scripts Here -->
	<script type="text/javascript" src="/static/bower_components/jquery/dist/jquery.min.js"></script>
	<!-- build:js /static/build/composition.js -->
	<script type="text/javascript" src="/static/bower_components/angular/angular.min.js"></script>
	<script type="text/javascript" src="/static/bower_components/ngSticky/dist/sticky.min.js"></script>
	<script type="text/javascript" src="/static/bower_components/color-thief/dist/color-thief.min.js"></script>
	<script type="text/javascript" src="/static/vendor/zoome/zoome.min.js"></script>
	<script type="text/javascript" src="/static/vendor/fullscreen/jquery.fullscreen.js"></script>

	<script type="text/javascript" src="/static/js/composition/composition.module.js"></script>
	<script type="text/javascript" src="/static/js/composition/composition.controller.js"></script>
	<script type="text/javascript" src="/static/js/models/model.module.js"></script>
	<script type="text/javascript" src="/static/js/models/user.model.js"></script>
	<script type="text/javascript" src="/static/js/models/interpretation.model.js"></script>
	<script type="text/javascript" src="/static/js/authentication/auth.service.js"></script>
	<script type="text/javascript" src="/static/js/components/curtain-right/curtain-right.module.js"></script>
	<script type="text/javascript" src="/static/js/components/curtain-right/curtain-right.service.js"></script>
	<script type="text/javascript" src="/static/js/components/curtain-right/curtain-right.controller.js"></script>
	<script type="text/javascript" src="/static/js/components/curtain-right/curtain-right.directive.js"></script>
	<script type="text/javascript" src="/static/js/components/curtain-right/curtain-user.controller.js"></script>
	<script type="text/javascript" src="/static/js/components/curtain-left/curtain-left.module.js"></script>
	<script type="text/javascript" src="/static/js/components/curtain-left/curtain-left.service.js"></script>
	<script type="text/javascript" src="/static/js/components/curtain-left/curtain-left.controller.js"></script>
	<script type="text/javascript" src="/static/js/components/curtain-left/curtain-left.directive.js"></script>
	<script type="text/javascript" src="/static/js/components/sharing/sharing.module.js"></script>
	<script type="text/javascript" src="/static/js/components/sharing/tumblr.directive.js"></script>
	<script type="text/javascript" src="/static/js/components/sharing/pinterest.directive.js"></script>
	<script type="text/javascript" src="/static/js/components/sharing/facebook.directive.js"></script>
	<script type="text/javascript" src="/static/js/components/topbar/topbar.directive.js"></script>
	<script type="text/javascript" src="/static/js/components/topbar/topbar.controller.js"></script>
	<script type="text/javascript" src="/static/js/components/scrollTo.directive.js"></script>
	<script type="text/javascript" src="/static/js/components/colors.directive.js"></script>
	<script type="text/javascript" src="/static/js/components/viewFinder.directive.js"></script>
	<script type="text/javascript" src="/static/js/components/fullscreen.directive.js"></script>
	<!-- endbuild -->
</body>
</html>