{% extends "base.html" %}
{% block html_attr_block %}ng-app="CompositionApp"{% endblock %}

{% block title_block %}
	<title>{{composition.title | title}} by {{composition.artist.name | title}} | Interpretations and Stories</title>
{%endblock%}

{% block meta_block %}
	<meta charset="UTF-8">
	<meta name="Description" content="Title: {{composition.title}}, Artist: {{composition.artist.name}}, Category: Art Interpretations and Stories">
	<link rel="canonical" href="http://thirddime.com/arts/{{composition.slug}}" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<meta property="og:title" content="{{composition.title | title}}">
	<meta property="og:site_name" content="ThirdDime">
	<meta property="og:url" content="http://thirddime.com/arts/{{composition.slug}}">
	<meta property="og:description" content="by {{composition.artist.name}}">
	<meta property="og:image" content="http://thirddime.com/{{composition.matter.url}}">
	<meta property="og:type" content="website">
    <meta property="fb:app_id" content="462422103909005">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@thirddime">
    <meta name="twitter:title" content="{{composition.title | title}}">
    <meta name="twitter:description" content="by {{composition.artist.name}}">
    <meta name="twitter:image" content="http://thirddime.com/{{composition.matter.url}}">
{%endblock%}

{% block css_block %}
	 <!-- build:css /static/build/composition.css -->
	<link rel="stylesheet" type="text/css" href="/static/css/composition/main.css">
	<!-- endbuild -->
{%endblock%}

{% block body_attr_block %}ng-controller="compositionController" ng-init="init({{composition.id}}, '{{composition.matter.url}}', '{{composition.slug}}', '{{composition.title | escapejs}}', '{{is_bookmarked}}')"{% endblock %}

{% block content_block %}
	<section class="painting-area">

		<div class="painting-container">
            {% if is_nsfw %}
            <div ng-click="hideNsfw = true" ng-hide="hideNsfw" class="nsfw-overlay">
                <h3>This work has been marked not safe</h3>
                <h4>Click anywhere to show the work</h4>
            </div>
            {% endif %}
			<img class="painting painting-original" fit-image src="{{composition.matter.url}}" alt="{{composition.slug}}">
		</div>

        <section tools-drawer class="art-tools">
           <button class="drawer-control" pan-zoom>
             <i class="material-icons">keyboard_capslock</i>
           </button>
           <button>
             <i class="material-icons zoom-in">zoom_in</i>
           </button>
           <button>
             <i class="material-icons zoom-reset">youtube_searched_for</i>
           </button>
           <button>
             <i class="material-icons zoom-out">zoom_out</i>
           </button>
        </section>

	</section>

    <section class="painting-details" >
        <div class="painting-details-container">
            <header class="clearfix">
                <h2>{{ composition.title | title }}</h2>
            </header>

            <section class="painting-actions" ng-cloak ng-show="'{{has_ownership}}' === 'True'">
                <i class="material-icons"  ng-click="editArt()">edit</i>
                <!-- <i class="material-icons" ng-click="deleteArt()">delete</i> -->
            </section>

            <section class="painting-parent">
                <div class="by-header">Created By</div>
                <a class="by-user" ng-href="/@{{composition.artist.slug}}">
                    <h3>{{composition.artist.name | title}}</h3>
                </a>
            </section>

            <section class="painting-parent">
                <div class="by-header">Contributed By</div>
                <a class="by-user" ng-href="/@{{composition.uploader.slug}}" class="uploader">
                    <h3>{{composition.uploader.name | title}}</h3>
                </a>
            </section>

            <section class="details-actions-details">
                <h4 class="inactive">Views {{composition.views}}</h4>
                <h4 ng-click="showBookMarkers()">Admirers {{composition.bookmarks_count}}</h4>
                <h4 ui-sref="buckets({compositionSlug: '{{composition.slug}}' })">Series {{composition.buckets_count}}</h4>
            </section>

            <section class="details-actions">
                <button class="action admire" ng-class="{'active': composition.is_bookMarked}" ng-click="handleBookMark()">ADMIRE</button>
                <button class="action collect" ng-click="showAddToBucket()">Add To Series</button>
            </section>

        </div>

    </section>

    <section class="art-associates">
        <section class="associate-category art-buckets" ng-cloak ng-show="artBuckets.length > 0">
            <h2>Series explaining this work</h2>
            <div class="art-buckets-container" ng-class="{'add-scroll' : artBuckets.length > 3}">
                <section class="art-bucket" ng-repeat="bucket in artBuckets">
                    <div class="art-bucket-picture" ng-style="{'background-image': 'url([[bucket.picture]])'}">
                        <section class="details" ui-sref="bucket({userSlug: bucket.owner.slug, bucketSlug: bucket.slug})">
                            <h2>[[bucket.name | titlecase]]</h2>
                            <h3>[[bucket.description]]</h3>
                            <div class="by-user">By</div>
                            <h3>[[bucket.owner.name | titlecase ]]</h3>
                            <div class="arts-count">[[bucket.compositions_count]] Artworks</div>
                            <div class="arts-count">[[bucket.views]] Views</div>
                        </section>
                    </div>
                </section>
            </div>
        </section>

        <section class="associate-category associate-works artist-works" ng-cloak ng-show="artistWorks.length > 0">
            <h2>Other works by artist</h2>
            <div class="associate-works-container" ng-class="{'add-scroll' : artistWorks.length > 3}">
                <section class="work" ng-repeat="work in artistWorks">
                    <div class="work-picture" ng-style="{'background-image': 'url([[work.matter_350]])'}">
                        <div class="work-nsfw-overlay" ng-cloak ng-show="work.nsfw"  ng-click="work.nsfw = false">
                            <h3>This work has been marked not safe</h3>
                            <h4>Click anywhere to show the work</h4>
                        </div>
                        <a class="work-details" custom-href="/arts/[[work.slug]]">
                            <h2>[[work.title | titlecase]]</h2>
                            <div class="by-user">By</div>
                            <h3>[[work.artist.name | titlecase ]]</h3>
                            <div class="arts-count">[[work.views]] Views</div>
                            <div class="arts-count">[[work.bookmarks_count]] Admirations</div>
                            <div class="arts-count">[[work.buckets_count]] Series</div>
                        </a>
                    </div>
                </section>
            </div>
        </section>

        <section class="associate-category associate-works uploader-works" ng-cloak ng-show="uploaderWorks.length > 0">
            <h2>Other works by contributor</h2>
            <div class="associate-works-container" ng-class="{'add-scroll' : uploaderWorks.length > 3}">
                <section class="work" ng-repeat="work in uploaderWorks">
                    <div class="work-picture" ng-style="{'background-image': 'url([[work.matter_350]])'}">
                        <div class="work-nsfw-overlay" ng-cloak ng-show="work.nsfw"  ng-click="work.nsfw = false">
                            <h3>This work has been marked not safe</h3>
                            <h4>Click anywhere to show the work</h4>
                        </div>
                        <a class="work-details" custom-href="/arts/[[work.slug]]">
                            <h2>[[work.title | titlecase]]</h2>
                            <div class="by-user">By</div>
                            <h3>[[work.artist.name | titlecase ]]</h3>
                            <div class="arts-count">[[work.views]] Views</div>
                            <div class="arts-count">[[work.bookmarks_count]] Admirations</div>
                            <div class="arts-count">[[work.buckets_count]] Series</div>
                        </a>
                    </div>
                </section>
            </div>
        </section>

    </section>

    <div ui-view></div>

{% endblock %}

{% block script_block %}
	<!-- build:js /static/build/composition.js -->
	<script type="text/javascript" src="/static/vendor/fullscreen/jquery.fullscreen.js"></script>
	<script type="text/javascript" src="/static/bower_components/color-thief/dist/color-thief.min.js"></script>
	<script type="text/javascript" src="/static/bower_components/jquery.panzoom/dist/jquery.panzoom.min.js"></script>

	<script type="text/javascript" src="/static/js/composition/composition.module.js"></script>
	<script type="text/javascript" src="/static/js/composition/composition.controller.js"></script>
	<script type="text/javascript" src="/static/js/composition/sticky.directive.js"></script>

    <script type="text/javascript" src="/static/js/composition/tools/tools.module.js"></script>
    <script type="text/javascript" src="/static/js/composition/tools/colors.directive.js"></script>
    <script type="text/javascript" src="/static/js/composition/tools/viewFinder.directive.js"></script>
    <script type="text/javascript" src="/static/js/composition/tools/fullscreen.directive.js"></script>
    <script type="text/javascript" src="/static/js/composition/tools/panZoom.directive.js"></script>
    <!-- endbuild -->
{% endblock %}