{% extends "base.html" %}

{% block html_attr_block %}ng-app="AboutUsApp" ng-controller="aboutusController"{% endblock %}

    {% block title_block %}
        <title>Contact Us - ThirdDime</title>
    {%endblock%}

    {% block meta_block %}
        <meta property="og:title" content="Contact Us">
        <meta property="og:site_name" content="ThirdDime">
        <meta property="og:url" content="http://thirddime.com/contact-us">
        <meta property="og:description" content="Browse through breathtaking artworks and context around them. Contribute and find thoughts an artwork provokes with our community of art lovers.">
        <meta property="fb:app_id" content="462422103909005">
        <meta property="og:image" content="http://thirddime.com/static/images/reader/banner.jpg">
        <meta property="og:type" content="website">

        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@thirddime">
        <meta name="twitter:title" content="Contact Us">
        <meta name="twitter:description" content="Browse through breathtaking artworks and context around them. Contribute and find thoughts an artwork provokes with our community of art lovers.">
        <meta name="twitter:image" content="http://thirddime.com/static/images/reader/banner.jpg">
    {%endblock%}

    {% block css_block %}
         <!-- build:css /static/build/contactus.css -->
        <link rel="stylesheet" type="text/css" href="/static/css/reader/topbar.css">
        <link rel="stylesheet" type="text/css" href="/static/css/contactus/main.css">
        <!-- endbuild -->
    {%endblock%}

    {% block site_header_block %}
    <topbar></topbar>
    <div class="curtain-overlay-placeholder"></div>
    {%endblock%}

    {% block content_block %}

    <header class="banner">
        <h1>We are never too far</h1>
        <footer class="head-footer">
            <ul class="social clearfix">
                <li><a target="_blank" href="https://www.pinterest.com/thirddime/thirddime-art/">
                    <img title="Pinterest" src="/static/css/reader/icons/pinterest-filled.svg">
                </a></li>
                <li><a target="_blank" href="https://twitter.com/thirddime">
                    <img title="Twitter" src="/static/css/reader/icons/twitter-filled.svg">
                </a></li>
                <li><a target="_blank" href="https://www.facebook.com/thirddimeart">
                    <img title="Facebook" src="/static/css/reader/icons/facebook-filled.svg">
                </a></li>
            </ul>
        </footer>
    </header>

    <section class="about-us">
        <h3>Feedback/Contact Us</h3>
        <p>If something is broken, unclear or you want to provide feedback  or just say hello, please mail us at</p>

        <p class="email">hello@thirddime.com</p>

        <p>You can also connect with us on.</p>

        <section class="social">
            <ul>
                <li><a target="_blank" href="https://www.facebook.com/thirddimeart"><img src="/static/css/contactus/icons/facebook.png"></a></li>
                <li><a target="_blank" href="https://twitter.com/thirddime"><img src="/static/css/contactus/icons/twitter.png"></a></li>
                <li><a target="_blank" href="https://www.pinterest.com/thirddime/thirddime-art/"><img src="/static/css/contactus/icons/pinterest.png"></a></li>
            </ul>
        </section>
    </section>
    {%endblock%}

    {% block script_block %}
        <!-- build:js /static/build/aboutus.js -->
        <script type="text/javascript" src="/static/js/aboutus/aboutus.module.js"></script>
        <script type="text/javascript" src="/static/js/aboutus/aboutus.controller.js"></script>
        <script type="text/javascript" src="/static/js/components/curtain-right/curtain-right.module.js"></script>
        <script type="text/javascript" src="/static/js/components/curtain-right/curtain-right.service.js"></script>
        <script type="text/javascript" src="/static/js/components/curtain-right/curtain-right.controller.js"></script>
        <script type="text/javascript" src="/static/js/components/curtain-right/curtain-right.directive.js"></script>
        <script type="text/javascript" src="/static/js/components/curtain-right/curtain-user.controller.js"></script>
        <script type="text/javascript" src="/static/js/components/curtain-left/curtain-left.module.js"></script>
        <script type="text/javascript" src="/static/js/components/curtain-left/curtain-left.service.js"></script>
        <script type="text/javascript" src="/static/js/components/curtain-left/curtain-left.controller.js"></script>
        <script type="text/javascript" src="/static/js/components/curtain-left/curtain-left.directive.js"></script>
        <script type="text/javascript" src="/static/js/components/topbar/topbar.directive.js"></script>
        <script type="text/javascript" src="/static/js/components/topbar/topbar.controller.js"></script>
        <!-- endbuild -->
    {% endblock %}
