{% extends "base.html" %}
{% block html_attr_block %}ng-app="ExploreApp"{% endblock %}

{% block title_block %}
    <title>Explore Art | Thirddime</title>
{%endblock%}


{% block meta_block %}
    <base href="/">
    <meta name="description" content="Browse through breathtaking artworks and their interpretations. Discover deeper layers behind each painting with a community of art lovers." />
    <link rel="canonical" href="http://thirddime.com" />
    <link ng-cloak ng-if="postsMeta.next" rel="next" href="http://thirddime.com#[[postsMeta.next]]" />
    <link ng-cloak ng-if="postsMeta.previous" rel="prev" href="http://thirddime.com#[[postsMeta.previous]]" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta property="og:title" content="ThirdDime - Explore art through interpretations and stories">
    <meta property="og:site_name" content="ThirdDime">
    <meta property="og:url" content="http://thirddime.com/">
    <meta property="og:description" content="Behind the BrushStrokes.">
    <meta property="og:image" content="http://thirddime.com/static/images/reader/banner.jpg">
    <meta property="og:type" content="website">
    <meta property="og:type" content="[462422103909005]">
{%endblock%}

{% block css_block %}
     <!-- build:css /static/build/explore.css -->
    <link rel="stylesheet" type="text/css" href="/static/css/explore/main.css">
    <!-- endbuild -->
{%endblock%}

{% block body_attr_block %}ng-controller="exploreController"{% endblock %}

{% block content_block %}
    <div ng-cloak masonry masonry-options="{ transitionDuration: '0' }" class="arts-container explore-container" infinite-scroll="loadMorePosts()" infinite-scroll-distance='1' infinite-scroll-disabled='postsMeta.busy || postsMeta.disableGetMore'>
        <div class="masonry-brick container explore-art-container" ng-switch='art.feed_type' ng-repeat="art in arts">
            <div class="art" ng-switch-when='AR'>
                <article class="art-content">
                    <img ng-src="[[art.content.matter_550]]" alt="[[art.content.title]]" >
                    <div ng-cloak ng-show="art.nsfw" class="nsfw-overlay" ng-click="toggleNsfw($index)">
                        <h6>This work is marked not safe</h6>
                        <h6>Click anywhere to show the work</h6>
                    </div>
                    <div class="details-inset">
                        <section class="inset-details">
                            <h6>[[art.content.views]] Views</h6><br>
                            <h6 class="active" ng-click="showBookMarkers($index)">[[art.content.bookmarks_count]] Admirers</h6><br>
                            <h6 class="active" ui-sref="buckets({artSlug: art.slug})">[[art.content.buckets_count]] Series</h6>
                        </section>

                        <section class="inset-actions">
                            <button ng-click="showAddToBucket($index)">To Series</button><!--
                            --><button>Share</button>
                        </section>

                    </div>
                </article>
                <section class="details">
                    <h4><a custom-href="/arts/[[art.content.slug]]" target="_blank">[[art.content.title | titlecase]]</a></h4>
                    <h5> by <a custom-href="/@[[art.content.artist.slug]]" target="_blank">[[art.content.artist.name | titlecase]]</a></h5>
                </section><!--
                --><section class="actions">
                    <button ng-click="handleBookMark($index)" ng-class="{'bookmark-active': art.is_bookmarked}">ADMIRE</button>
                </section>
            </div> <!-- art -->

            <section class="feed-bucket" ng-switch-when='BK'>
                <div class="bucket-picture" ng-style="{'background-image': 'url([[art.content.picture]])'}">
                    <section class="bucket-inset-details" ui-sref="bucket({userSlug: art.content.owner.slug, bucketSlug: art.content.slug})">
                        <h2>[[art.content.name | titlecase]]</h2>
                        <h3>[[art.content.description]]</h3>
                        <div class="by-user">By</div>
                        <h3>[[art.content.owner.name | titlecase ]]</h3>
                        <div class="arts-count">[[art.content.compositions_count]] Artworks</div>
                        <div class="arts-count">[[art.content.views]] Views</div>
                    </section>
                </div>
            </section>
        </div>
    </div>
    <div ui-view></div>
{% endblock %}

{% block script_block %}
    <!-- build:js /static/build/explore.js -->

    <script type="text/javascript" src="/static/js/explore/explore.module.js"></script>
    <script type="text/javascript" src="/static/js/explore/explore.controller.js"></script>

    <!-- endbuild -->
{% endblock %}