{% extends "base.html" %}
{% block html_attr_block %}ng-app="ExploreApp"{% endblock %}

{% block title_block %}
    <title>Explore Art | Artworks and Tales | Thirddime</title>
{%endblock%}


{% block meta_block %}
    <meta name="description" content="Browse through breathtaking artworks and tales around them. Contribute and find thoughts an artwork provokes with our community of art lovers." />
    <link rel="canonical" href="http://thirddime.com/arts" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="theme-color" content="#fff" />

    <meta property="og:title" content="Explore art and tales around it">
    <meta property="og:site_name" content="ThirdDime">
    <meta property="og:url" content="http://thirddime.com/arts">
    <meta property="og:description" content="Browse through breathtaking artworks and tales around them. Contribute and find thoughts an artwork provokes with our community of art lovers.">
    <meta property="fb:app_id" content="462422103909005">
    <meta property="og:image" content="http://thirddime.com/static/images/reader/banner.jpg">
    <meta property="og:type" content="website">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@thirddime">
    <meta name="twitter:title" content="Explore art and tales around it">
    <meta name="twitter:description" content="Browse through breathtaking artworks and tales around them. Contribute and find thoughts an artwork provokes with our community of art lovers.">
    <meta name="twitter:image" content="http://thirddime.com/static/images/reader/banner.jpg">
{%endblock%}

{% block css_block %}
     <!-- build:css /static/build/explore.css -->
    <link rel="stylesheet" type="text/css" href="/static/css/explore/main.css">
    <!-- endbuild -->
{%endblock%}

{% block body_attr_block %}ng-controller="exploreController"{% endblock %}

{% block content_block %}
    <div ng-cloak masonry load-images="onMobile" masonry-options="{ transitionDuration: '0' }" class="arts-container explore-container" infinite-scroll="loadMorePosts()" infinite-scroll-distance='1' infinite-scroll-disabled='postsMeta.busy || postsMeta.disableGetMore'>
        <div class="masonry-brick container explore-art-container" ng-repeat="art in arts">
            <section class="art" ng-show="art.feed_type == 'AR'">
                <article class="art-content" ng-style="{'height': '[[math.round(300*art.content.matter_aspect)]]px', 'width': '300px', 'background-color': '[[art.content.major]]'}">
                    <img ng-src="[[art.content.matter_400]]" alt="[[art.content.title]]" onload="imgLoaded(this)">
                    <div ng-cloak ng-show="art.nsfw" class="nsfw-overlay" ng-click="toggleNsfw($index)">
                        <h6>This work is marked not safe</h6>
                        <h6>Click anywhere to show the work</h6>
                    </div>
                    <a custom-href="/arts/[[art.content.slug]]" class="details-inset">
                        <section class="inset-actions">
                            <i class="material-icons" ng-click="shareArt($event, $index)" >share</i>
                            <i class="material-icons" ng-cloak ng-hide="art.content.is_admired" ng-click="handleAdmireArt($event, $index)">favorite_border</i>
                            <i class="material-icons admire-on-icon" ng-cloak ng-show="art.content.is_admired" ng-click="handleAdmireArt($event, $index)">favorite</i>
                        </section>

                        <section class="bookmark-action">
                            <i class="material-icons" ng-click="handleBookMark($event, $index)" ng-cloak ng-hide="art.content.is_bookmarked">bookmark_border</i>
                            <i class="material-icons bookmark-on-icon" ng-click="handleBookMark($event, $index)" ng-cloak ng-show="art.content.is_bookmarked">bookmark</i>
                        </section>

                        <section class="series-action">
                            <button ng-click="showAddToBucket($event, $index)">Add To Series</button>
                        </section>
                    </a>
                </article>
                <section class="details">
                    <h4><a ng-href="/arts/[[art.content.slug]]" target="_blank">[[art.content.title | titlecase]]</a></h4>
                    <h5> by <a ng-href="/@[[art.content.artist.slug]]" target="_blank">[[art.content.artist.name | titlecase]]</a></h5>
                </section><!--
                --><section class="scores" ng-cloak ng-show="art.content.buckets_count> 0" ui-sref="buckets({artSlug: art.content.slug})">
                    <span>[[art.content.buckets_count]] Series</span>
                </section>
            </section> 

            <section class="feed-bucket" ng-show="art.feed_type == 'BK'">
                <div class="bucket-picture" ng-style="{'background-image': 'url([[art.content.picture]])'}">
                    <section class="bucket-inset-details" ui-sref="bucket({userSlug: art.content.owner.slug, bucketSlug: art.content.slug})">
                        <section class="bucket-inset-details-actions">
                            <i class="material-icons" ng-click="shareBucket($event, $index)" >share</i>
                            <i class="material-icons admire-on-icon" ng-cloak ng-show="art.content.is_admired">favorite</i>
                        </section>

                        <section class="bookmark-action">
                            <i class="material-icons" ng-cloak ng-hide="art.content.is_bookmarked" ng-click="handleBookMarkBucket($event, $index)">bookmark_border</i>
                            <i class="material-icons bookmark-on-icon" ng-cloak ng-show="art.content.is_bookmarked" ng-click="handleBookMarkBucket($event, $index)">bookmark</i>
                        </section>

                        <h2>[[art.content.name | titlecase]]</h2>
                        <h3>[[art.content.description]]</h3>
                        <div class="by-user">By</div>
                        <h3>[[art.content.owner.name | titlecase ]]</h3>
                        <div class="arts-count">[[art.content.compositions_count]] Artworks</div>
                        <div class="arts-count">[[art.content.views]] Views</div>
                    </section>
                </div>
            </section>

            <section class="interpret" ng-show="art.feed_type == 'IN'">
                <div class="interpret-holder">
                    <img class="interpret-image" ng-src="[[art.content.composition.matter_400]]" alt="[[art.content.composition.title]]" onload="imgLoaded(this)">
                    <section class="feed-interpret-content">
                        <section class="details" ng-class="{white: getTextColor('[[art.content.composition.major]]') == 'white'}" ng-style="{'background-color': '[[art.content.composition.major]]'}">
                            <a target="_blank" ng-href="[[art.content.url]]" class="details-content-title">[[art.content.title]]</a>
                            <a target="_blank" ng-href="[[art.content.url]]" class="details-content">[[art.content.text]]</a>
                            <a target="_blank" class="author-details" ng-href="/@[[art.content.user.slug]]">
                                <span>by </span>
                                <h4>[[art.content.user.name | titlecase]]</h4>
                            </a>
                            <section class="details-actions">
                                <i class="material-icons" ng-click="handleBookmarkInterpret($index)" ng-cloak ng-hide="art.content.is_bookmarked">bookmark_border</i>
                                <i class="material-icons active" ng-click="handleBookmarkInterpret($index)" ng-cloak ng-show="art.content.is_bookmarked">bookmark</i>
                            </section>
                        </section>
                    </section>
                </div>
            </section> 
        </div>
    </div>
    <site-loader ng-class="{'animate': true}" site-loader-hide='!postsMeta.busy || postsMeta.disableGetMore'></site-loader>
    <div ui-view></div>
{% endblock %}

{% block script_block %}
    <!-- build:js /static/build/explore.js -->

    <script type="text/javascript" src="/static/js/explore/explore.module.js"></script>
    <script type="text/javascript" src="/static/js/explore/explore.controller.js"></script>

    <!-- endbuild -->
{% endblock %}