{% extends "base.html" %}

{% block html_attr_block %}ng-app="AboutUsApp" ng-controller="aboutusController"{% endblock %}

    {% block title_block %}
        <title>Guidelines - ThirdDime</title>
    {%endblock%}

    {% block meta_block %}
        <meta property="og:title" content="Guidelines">
        <meta property="og:site_name" content="ThirdDime">
        <meta property="og:url" content="http://thirddime.com/guidelines">
        <meta property="og:description" content="Browse through breathtaking artworks and context around them. Contribute and find thoughts an artwork provokes with our community of art lovers.">
        <meta property="fb:app_id" content="462422103909005">
        <meta property="og:image" content="http://thirddime.com/static/images/reader/banner.jpg">
        <meta property="og:type" content="website">


        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@thirddime">
        <meta name="twitter:title" content="Guidelines">
        <meta name="twitter:description" content="Browse through breathtaking artworks and context around them. Contribute and find thoughts an artwork provokes with our community of art lovers.">
        <meta name="twitter:image" content="http://thirddime.com/static/images/reader/banner.jpg">
    {%endblock%}

    {% block css_block %}
         <!-- build:css /static/build/guidelines.css -->
            <link rel="stylesheet" type="text/css" href="/static/css/reader/topbar.css">
            <link rel="stylesheet" type="text/css" href="/static/css/guidelines/main.css">
        <!-- endbuild -->
    {%endblock%}

    {% block site_header_block %}
    <topbar></topbar>
    <div class="curtain-overlay-placeholder"></div>
    {%endblock%}

    {% block content_block %}

    <header class="banner">
        <h1>Its a direction, find your own path</h1>
        <footer class="head-footer">
            <ul class="social clearfix">
                <li><a target="_blank" href="https://www.pinterest.com/thirddime/thirddime-art/">
                    <img title="Pinterest" src="/static/css/reader/icons/pinterest-filled.svg">
                </a></li>
                <li><a target="_blank" href="https://twitter.com/thirddime">
                    <img title="Twitter" src="/static/css/reader/icons/twitter-filled.svg">
                </a></li>
                <li><a target="_blank" href="https://www.facebook.com/thirddimeart">
                    <img title="Facebook" src="/static/css/reader/icons/facebook-filled.svg">
                </a></li>
            </ul>
        </footer>
    </header>

    <section class="about-us">
        <h2>GUIDELINES</h2>
        <p><b>Provide Feedback for anything you think can be improved upon.</b>  We are in process of making ThirdDime experience complete. Your feedback will greatly help in the process.</p>

        <p>1. <b>Do not leave links to pages selling art.</b></p>
        <p>2. <b>Use proper spelling and grammar.</b> Do not write in all CAPS.</p>
        <p>3. <b>Report any Spam you find.</b></p>

        <h3>Artworks</h3>
        <p>1. <b>Give Credit to the artist.</b> Always make sure to give credit to the right artist and ensure proper permissions before submitting an artwork.</p>
        <p>2. <b>Give the Correct title of the artwork without any extra information. You can add the additional information in description.</b></p>
        <p>3. <b>Moderators reserve the right to remove submissions, that aren't high quality.</b></p>
        <p>4. <b>Do not submit sketches, doodles or unfinished work.</b></p>
        <p>5. <b>Report any spam you find. Report artworks which are not credited to the right artist.</b></p>


        <h3>Series</h3>
        <p>1. <b>Create every series with a central idea/theme/soul.</b> Feel free to write any opinion on the artwork as long as it contributes to the context of the artwork. </p>
        <p>2. Add artworks to as many series as you think is appropriate.</p>
        <p>3. <b>Series that don't add to the context may be subject to removal.</b></p>
        <p>4. <b>Feel free to Submit your own opinion on the artwork, even if something already exists on similar lines.</b></p>
    </section>
    {%endblock%}

    {% block script_block %}
        <!-- build:js /static/build/aboutus.js -->
        <script type="text/javascript" src="/static/js/aboutus/aboutus.module.js"></script>
        <script type="text/javascript" src="/static/js/aboutus/aboutus.controller.js"></script>
        <script type="text/javascript" src="/static/js/components/curtain-right/curtain-right.module.js"></script>
        <script type="text/javascript" src="/static/js/components/curtain-right/curtain-right.service.js"></script>
        <script type="text/javascript" src="/static/js/components/curtain-right/curtain-right.controller.js"></script>
        <script type="text/javascript" src="/static/js/components/curtain-right/curtain-right.directive.js"></script>
        <script type="text/javascript" src="/static/js/components/curtain-right/curtain-user.controller.js"></script>
        <script type="text/javascript" src="/static/js/components/curtain-left/curtain-left.module.js"></script>
        <script type="text/javascript" src="/static/js/components/curtain-left/curtain-left.service.js"></script>
        <script type="text/javascript" src="/static/js/components/curtain-left/curtain-left.controller.js"></script>
        <script type="text/javascript" src="/static/js/components/curtain-left/curtain-left.directive.js"></script>
        <script type="text/javascript" src="/static/js/components/topbar/topbar.directive.js"></script>
        <script type="text/javascript" src="/static/js/components/topbar/topbar.controller.js"></script>
        <!-- endbuild -->
    {% endblock %}
