    {% load staticfiles  %}
    {% load rest_framework %}

    <!DOCTYPE html>
    <html lang="en" ng-app='showcaseApp'>
      <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

        <title>ShowCase</title>

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="{% static "js/vendor/bootstrap/bootstrap.min.css" %}">

        <!-- Custom styles for this template -->
        <link href="{% static "compositions/css/style.css" %}" rel="stylesheet">
        <!--Font Awwsome :)-->  
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
          
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
      </head>

      <body>

        {% verbatim %}  
        <!--<div ng-include src=" '/static/partials/navbarTop.html' " ng-controller='navbarTopCtrl'></div>-->
        <div  ng-include src=" '/static/partials/navbarTop.html' "></div>
            
        <div class="container">
            <div ng-include src=" '/static/partials/jumbo.html' "></div>
            <div ui-view></div><!--jumbotron-->
        </div><!-- /.container -->  
        <div ng-include src=" '/static/partials/navbarBottom.html' "></div>
        {% endverbatim %}

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="{% static "js/vendor/jQuery/jquery-1.11.1.min.js" %}"></script>
        <script src="{% static "js/vendor/bootstrap/bootstrap.min.js" %}"></script>
        <script src="{% static "js/vendor/angular/angular.min.js" %}"></script>
        <script src="{% static "js/vendor/angular/angular-resource.js" %}"></script>
        <script src="{% static "js/vendor/angular/angular-ui-router.min.js" %}"></script>
        <script src="{% static "js/vendor/angular/angular-file-upload.min.js" %}"></script>
          
        <script src="{% static "js/vendor/angular/angular-file-upload-shim.min.js" %}"></script> 
        <script src="{% static "js/vendor/angular/angular-file-upload-html5-shim.min.js" %}"></script>
          
        <script src="{% static "js/src/apps/showcase.js" %}"></script>
        <script src="{% static "js/src/controllers/reader.js" %}"></script>
        <script src="{% static "js/src/controllers/composition.js" %}"></script>
        <script src="{% static "js/src/controllers/navbarTop.js" %}"></script>
        <script src="{% static "js/src/controllers/test.js" %}"></script>
        <script src="{% static "js/src/controllers/index.js" %}"></script>
        <script src="{% static "js/src/common/artifacts/users.js" %}"></script>
        <script src="{% static "js/src/common/artifacts/compositions.js" %}"></script>
        <script src="{% static "js/src/common/security/security.js" %}"></script>
          
        <script src="{% static "js/src/common/helpers/logger.js" %}"></script>
      </body>
    </html>

