    {% load staticfiles  %}
    {% load rest_framework %}

    <!DOCTYPE html>
    <html lang="en" ng-app='showcaseApp'>
      <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

        <title>ShowCase</title>

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="{% static "js/vendor/bootstrap/bootstrap.min.css" %}">

        <!-- Custom styles for this template -->
        <link href="{% static "compositions/css/style.css" %}" rel="stylesheet">
        <!--Font Awwsome :)-->  
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
          
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
      </head>

      <body>

        {% verbatim %}  
        <div ng-controller="rootController">
            <div  ng-include src=" '/static/js/src/components/navbarTop.html' "></div>

            <div class="container">
                <div ui-view></div><!--jumbotron-->
            </div><!-- /.container -->  
            <div ng-include src=" '/static/js/src/layouts/navbarBottom.html' "></div>
        </div>
        {% endverbatim %}

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="{% static "js/vendor/jQuery/jquery-1.11.1.min.js" %}"></script>
        <script src="{% static "js/vendor/bootstrap/bootstrap.min.js" %}"></script>
        <script src="{% static "js/vendor/angular/angular.min.js" %}"></script>
        <script src="{% static "js/vendor/angular/angular-resource.js" %}"></script>
        <script src="{% static "js/vendor/angular/angular-ui-router.min.js" %}"></script>
        <script src="{% static "js/vendor/angular/angular-cookies.min.js" %}"></script>
        <script src="{% static "js/vendor/bootstrap/ui-bootstrap-tpls.min.js" %}"></script>
          
        <script src="{% static "js/vendor/angular/angular-file-upload.min.js" %}"></script>
        <script src="{% static "js/vendor/angular/angular-file-upload-shim.min.js" %}"></script>
        <script src="{% static "js/vendor/angular/angular-file-upload-html5-shim.min.js" %}"></script>
        <script src="{% static "js/vendor/ui-utils.min.js" %}"></script>
          
        <script src="{% static "js/src/root.module.js" %}"></script>
        <script src="{% static "js/src/root.controller.js" %}"></script>
        <script src="{% static "js/src/showcase/showcase.js" %}"></script>
        <script src="{% static "js/src/follow/follow.js" %}"></script>
        <script src="{% static "js/src/reader/reader.js" %}"></script>
        <script src="{% static "js/src/composition/composition.js" %}"></script>
        <script src="{% static "js/src/components/navbarTop.js" %}"></script>
        <script src="{% static "js/src/components/notification/notification.js" %}"></script>
        <script src="{% static "js/src/registration/register.module.js" %}"></script>
        <script src="{% static "js/src/registration/register.modal.controller.js" %}"></script>
        <script src="{% static "js/src/registration/register.service.js" %}"></script>
        <script src="{% static "js/src/collection/collection.js" %}"></script>
        <script src="{% static "js/src/artifacts/users.js" %}"></script>
        <script src="{% static "js/src/artifacts/compositions.js" %}"></script>
        <script src="{% static "js/src/artifacts/follow.js" %}"></script>
        <script src="{% static "js/src/artifacts/bookmark.js" %}"></script>
        <script src="{% static "js/src/artifacts/notification.js" %}"></script>
        <script src="{% static "js/src/authentication/authentication.module.js" %}"></script>
        <script src="{% static "js/src/authentication/authentication.modal.controller.js" %}"></script>
        <script src="{% static "js/src/authentication/authentication.service.js" %}"></script>
      </body>
    </html>

