<!DOCTYPE html>
<html ng-app="LoginApp">
<head>
	<title>Login - ThirdDime</title>

	<link rel="shortcut icon" type="image/png" href="/static/images/favicon.ico">

	<!-- build:css /static/build/login.css -->
	<link rel="stylesheet" type="text/css" href="/static/css/base.css">
	<link rel="stylesheet" type="text/css" href="/static/css/login/main.css">
	<!-- endbuild -->
</head>
<body ng-controller="loginController">
	<!-- {% verbatim %} --> 
	<topbar></topbar>
	<div class="curtain-overlay-placeholder"></div>
	<header class="primary-header">
		<h1>Welcome to ThirdDime</h1>
		<h2>Please login to continue.</h2>
	</header>
	<section class="auth clearfix">
		<!-- <section class="social">
			<a class="facebook" href="">LOGIN WITH FACEBOOK</a>
			<a class="twitter" href="">LOGIN WITH TWITTER</a>
		</section>
		<h5>Or</h5>	 -->
		<section class="native">
			<form name="loginForm" ng-keyup="$event.keyCode == 13 ? login(user) : null">
				<section class="login-error" ng-cloak ng-show="loginError">[[loginError]]</section>
				<input type="email" autofocus="autofocus" placeholder="E-mail" ng-model="user.email" name="uEmail" required ng-model-options="{ updateOn: 'blur' }">
				<div ng-cloak ng-show="loginForm.$submitted || loginForm.uEmail.$dirty">
				    <span ng-show="loginForm.uEmail.$error.required">Please provide an email.</span>
				    <span ng-show="loginForm.uEmail.$error.email">This is not a valid email.</span>
			   </div>
				<input type="password" placeholder="Password" ng-model="user.password" name="uPassword" required >
				<div ng-loak ng-show="loginForm.$submitted || loginForm.uPassword.$dirty">
				    <span ng-show="loginForm.uPassword.$error.required">Please provide a password.</span>
			   </div>
				<input class="login-button" type="button" name="login" value="LOGIN" ng-click="login(user)">
			</form>
			<footer>
				<a href="">Forgotten your password?</a>
				<a href="/register">Sign Up</a>
			</footer>
		</section>
	</section>
	<script type="text/javascript" src="/static/bower_components/jquery/dist/jquery.min.js"></script>
	<!-- build:js /static/build/login.js -->
	<script type="text/javascript" src="/static/bower_components/angular/angular.min.js"></script>
	<script type="text/javascript" src="/static/js/models/model.module.js"></script>
	<script type="text/javascript" src="/static/js/models/user.model.js"></script>
	<script type="text/javascript" src="/static/js/authentication/auth.service.js"></script>
	<script type="text/javascript" src="/static/js/login/login.module.js"></script>
	<script type="text/javascript" src="/static/js/login/login.controller.js"></script>
	<script type="text/javascript" src="/static/js/components/curtain-right/curtain-right.module.js"></script>
	<script type="text/javascript" src="/static/js/components/curtain-right/curtain-right.service.js"></script>
	<script type="text/javascript" src="/static/js/components/curtain-right/curtain-right.controller.js"></script>
	<script type="text/javascript" src="/static/js/components/curtain-right/curtain-right.directive.js"></script>
	<script type="text/javascript" src="/static/js/components/curtain-right/curtain-user.controller.js"></script>
	<script type="text/javascript" src="/static/js/components/curtain-left/curtain-left.module.js"></script>
	<script type="text/javascript" src="/static/js/components/curtain-left/curtain-left.service.js"></script>
	<script type="text/javascript" src="/static/js/components/curtain-left/curtain-left.controller.js"></script>
	<script type="text/javascript" src="/static/js/components/curtain-left/curtain-left.directive.js"></script>
	<script type="text/javascript" src="/static/js/components/topbar/topbar.directive.js"></script>
	<script type="text/javascript" src="/static/js/components/topbar/topbar.controller.js"></script>
	<script type="text/javascript" src="/static/js/components/scrollTo.directive.js"></script>
	<script type="text/javascript" src="/static/js/components/fadeOnScroll.directive.js"></script>
	<script type="text/javascript" src="/static/js/components/titlecase.filter.js"></script>
	<!-- endbuild -->
	<!-- {% endverbatim %} -->
</body>
</html>