{% extends "base.html" %}
{% block html_attr_block %}ng-app="MypostsApp"{% endblock %}

{% block title_block %}
    <title>My Feed | Thirddime</title>
{%endblock%}


{% block meta_block %}
    <base href="/">
    <meta name="description" content="Browse through breathtaking artworks and their interpretations. Discover deeper layers behind each painting with a community of art lovers." />
    <link rel="canonical" href="http://thirddime.com" />
    <link ng-cloak ng-if="postsMeta.next" rel="next" href="http://thirddime.com#[[postsMeta.next]]" />
    <link ng-cloak ng-if="postsMeta.previous" rel="prev" href="http://thirddime.com#[[postsMeta.previous]]" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="ThirdDime - Explore art through interpretations and stories">
    <meta property="og:site_name" content="ThirdDime">
    <meta property="og:url" content="http://thirddime.com/">
    <meta property="og:description" content="Behind the BrushStrokes.">
    <meta property="og:image" content="http://thirddime.com/static/images/reader/banner.jpg">
    <meta property="og:type" content="website">
    <meta property="og:type" content="[462422103909005]">
{%endblock%}

{% block css_block %}
     <!-- build:css /static/build/myposts.css -->
    <link rel="stylesheet" type="text/css" href="/static/css/user/activity.css">
    <link rel="stylesheet" type="text/css" href="/static/css/myposts/main.css">
    <!-- endbuild -->
{%endblock%}

{% block body_attr_block %}ng-controller="mypostsController" class="myposts-body"{% endblock %}

{% block content_block %}
    <div ng-include="'/static/js/user/profile.activities.html'" class="activities-template" ng-cloak ng-hide="activitiesMeta.noPosts"></div>
    <div ng-cloak ng-show="activitiesMeta.noPosts" class="no-user-posts">
        <h3>There are no posts yet</h3>
        <h3>You have not followed any user</h3>
        <h2  class="starter">Finding people with intriguing taste takes time</h2>
        <h4>Keep exploring</h4>
        <a class="explore-art" custom-href="/arts">Explore Art</a>
    </div>

    <div ui-view></div>
{% endblock %}

{% block script_block %}
    <!-- build:js /static/build/myposts.js -->

    <script type="text/javascript" src="/static/js/myposts/myposts.module.js"></script>
    <script type="text/javascript" src="/static/js/myposts/myposts.controller.js"></script>

    <!-- endbuild -->
{% endblock %}