<!DOCTYPE html>
<html ng-app="ReaderApp">
<head>
	<title>ThirdDime - Explore art through interpretations and stories</title>
	<meta name="description" content="Browse through breathtaking artworks and their interpretations. Discover deeper layers behind each painting with a community of art lovers." />

	<meta name="fragment" content="!">

	<link rel="canonical" href="http://thirddime.com" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta property="og:title" content="ThirdDime - Explore art through interpretations and stories">
	<meta property="og:site_name" content="ThirdDime">
	<meta property="og:url" content="http://thirddime.com/">
	<meta property="og:description" content="Behind the BrushStrokes.">
	<meta property="og:image" content="http://thirddime.com/static/images/reader/banner.jpg">
	<meta property="og:type" content="website">
	<meta property="og:type" content="[462422103909005]">

	<link rel="shortcut icon" type="image/png" href="/static/images/favicon.ico">

	 <!-- build:css /static/build/reader.css -->
	<link rel="stylesheet" type="text/css" href="/static/bower_components/animate.css/animate.css">
	<link rel="stylesheet" type="text/css" href="/static/css/base.css">
	<link rel="stylesheet" type="text/css" href="/static/css/reader/main.css">
	<!-- endbuild -->

	<script>
		 (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		 (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		 })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		 ga('create', 'UA-58563444-1', 'auto');
		 ga('require', 'displayfeatures');
		 ga('send', 'pageview');
	</script>
</head>
<body ng-controller="readerController">
	<topbar></topbar>
	<header class="banner">
			<div class="curtain-overlay-placeholder"></div>
			<section>
					<h1>Explore Art through Interpretations and Stories</h1>
					<h3>Browse through our growing collection of paintings and discover deeper layers behind each brushstroke.</h3>
					<h4 scroll-to="#posts" class="explore" analytics-click analytics-data="['Reader', 'Button-Explore Art']">EXPLORE ART</h4>
			</section>
			<footer class="head-footer">
				<ul class="social clearfix">
					<li><a target="_blank" analytics-click analytics-data="['Reader', 'To Social Page: Pinterest']" href="https://www.pinterest.com/thirddime/thirddime-art/" >
						<img title="Pinterest" src="/static/css/reader/icons/pinterest-filled.svg">
					</a></li>
					<li><a target="_blank" analytics-click analytics-data="['Reader', 'To Social Page: Twitter']" href="https://twitter.com/thirddime">
						<img title="Twitter" src="/static/css/reader/icons/twitter-filled.svg">
					</a></li>
					<li><a target="_blank" analytics-click analytics-data="['Reader', 'To Social Page: Facebook']" href="https://www.facebook.com/thirddimeart">
						<img title="Facebook" src="/static/css/reader/icons/facebook-filled.svg">
					</a></li>
				</ul>
			</footer>
	</header>
	<div id="posts"></div>
	<section class="feeds">
			<h4 ng-class="{ 'active' : feedsMeta.showStaffPick }">EDITOR'S PICK</h4>
			<hr>
	</section>
	<section class="posts" infinite-scroll="loadMorePosts()" infinite-scroll-distance='1' infinite-scroll-disabled='postsMeta.busy || postsMeta.disableGetMore' ng-cloak>
		<section class="post clearfix" ng-repeat="post in posts" analytics-scroll analytics-data="['Reader', 'Feed-Post-View:' + $index]">
				<a target="_blank" ng-href="/arts/[[ post.composition.slug ]]#?[[post.search_parameter]]">
					<img class="artwork" ng-src="[[post.composition.matter_550]]" alt="[[post.interpretation.interpretation.slice(0, 140) + '.....Read more on ThirdDime.']]" analytics-click analytics-data="['Reader', 'Post-Image-Click', post.composition.slug]" />
				</a>
				<sidebar class="description">
					<header class="description-header">
						<a target="_blank" href="/arts/[[ post.composition.slug ]]#?[[post.search_parameter]]">
							<h4 analytics-click analytics-data="['Reader', 'Post-Title-Click', post.composition.slug]">[[post.composition.title | titlecase]]</h4>
						</a>
						<h5>by <span class="artist">[[post.composition.artist | titlecase]]</span></h5>
					</header>
					<section class="comment">
	   					<div class="comment-text" ng-cloak ng-hide="post.showComplete">
	     					[[post.interpretation.interpretation.slice(0, 140)]]<a ng-href="/arts/[[post.composition.slug]]#?scrollTo=inter[[post.interpretation_rank]]&[[post.search_parameter]]" target="_blank"><span class="more" ng-cloak ng-show="post.interpretation.interpretation.length > 140" >.... (more)</span></a>
	   					</div>
	   					<div class="comment-text" ng-cloak ng-show="post.showComplete">
	     					[[post.interpretation.interpretation]]
	   					</div>
	    				<footer class="comment-footer clearfix">
	      					<h5>written by<a href=""> [[post.interpretation.user.full_name | titlecase]] </a></h5>
	   					</footer>
	  				</section>

	  				<footer class="description-footer">
	  						<header class="clearfix nt-mb">
		      					<h5 class="right">[[post.interpretation.timesince]] ago</h5>
		      					<h5 class="left">[[post.interpretation.vote.total]] Votes. [[post.comments_count]] Comments</h5>
	      					</header>
	  					<ul>
	  					    <li><img class="icon icon-left" ng-class="{'vote-active': post.voting_status=='Positive'}" src="/static/css/reader/icons/upvote.svg" ng-click="vote($index, true)"></li>
	  					    <li><img class="icon icon-left" ng-class="{'vote-active': post.voting_status=='Negative'}" src="/static/css/reader/icons/downvote.svg" ng-click="vote($index, false)"></li>
	  					    <li><a ng-href="/arts/[[post.composition.slug]]#?scrollTo=inter[[post.interpretation_rank]]&[[post.search_parameter]]" target="_blank">
	  					    <img class="icon icon-left" src="/static/css/reader/icons/comment.svg" analytics-click analytics-data="['Reader', 'Post-Comment-Click', post.composition.slug]">
	  					    </a></li>
	  					    <li><img class="icon icon-right" tumblr-share source="[[post.composition.matter]]" description="[[post.interpretation.interpretation]]" src="/static/css/reader/icons/tumblr.svg" share-url='/arts/[[post.composition.slug]]'></li>
	  					    <li><img class="icon icon-right" pinterest-share source="[[post.composition.matter]]" description="[[post.interpretation.interpretation]]" src="/static/css/reader/icons/pinterest.svg" share-url='/arts/[[post.composition.slug]]'></li>
	  					    <li><img class="icon icon-right" facebook-share src="/static/css/reader/icons/facebook.svg" share-url='/arts/[[post.composition.slug]]'></li>
	  					    <!-- <li><img class="icon icon-right" src="/static/css/reader/icons/twitter.svg" ></li> -->
	  					</ul>
	  				</footer>
				</sidebar>
		</section>
	</section>
	<!-- Scripts Here -->
	<script type="text/javascript" src="/static/bower_components/jquery/dist/jquery.min.js"></script>
	<!-- build:js /static/build/reader.js -->
	<script type="text/javascript" src="/static/bower_components/angular/angular.min.js"></script>
	<script type="text/javascript" src="/static/bower_components/angular-animate/angular-animate.min.js"></script>
	
	<script type="text/javascript" src="/static/bower_components/nginfinitescroll/build/ng-infinite-scroll.min.js"></script>
	<script type="text/javascript" src="/static/bower_components/ng-facebook/ngFacebook.js"></script>

	<script type="text/javascript" src="/static/js/reader/reader.module.js"></script>
	<script type="text/javascript" src="/static/js/reader/reader.controller.js"></script>
	<script type="text/javascript" src="/static/js/models/model.module.js"></script>
	<script type="text/javascript" src="/static/js/models/user.model.js"></script>
	<script type="text/javascript" src="/static/js/models/interpretation.model.js"></script>
	<script type="text/javascript" src="/static/js/models/post.model.js"></script>
	<script type="text/javascript" src="/static/js/authentication/auth.module.js"></script>
	<script type="text/javascript" src="/static/js/authentication/auth.service.js"></script>
	<script type="text/javascript" src="/static/js/authentication/facebook.service.js"></script>
	<script type="text/javascript" src="/static/js/components/curtain-right/curtain-right.module.js"></script>
	<script type="text/javascript" src="/static/js/components/curtain-right/curtain-right.service.js"></script>
	<script type="text/javascript" src="/static/js/components/curtain-right/curtain-right.controller.js"></script>
	<script type="text/javascript" src="/static/js/components/curtain-right/curtain-right.directive.js"></script>
	<script type="text/javascript" src="/static/js/components/curtain-right/curtain-user.controller.js"></script>
	<script type="text/javascript" src="/static/js/components/curtain-left/curtain-left.module.js"></script>
	<script type="text/javascript" src="/static/js/components/curtain-left/curtain-left.service.js"></script>
	<script type="text/javascript" src="/static/js/components/curtain-left/curtain-left.controller.js"></script>
	<script type="text/javascript" src="/static/js/components/curtain-left/curtain-left.directive.js"></script>
	<script type="text/javascript" src="/static/js/components/sharing/sharing.module.js"></script>
	<script type="text/javascript" src="/static/js/components/sharing/tumblr.directive.js"></script>
	<script type="text/javascript" src="/static/js/components/sharing/pinterest.directive.js"></script>
	<script type="text/javascript" src="/static/js/components/sharing/facebook.directive.js"></script>
	<script type="text/javascript" src="/static/js/components/topbar/topbar.directive.js"></script>
	<script type="text/javascript" src="/static/js/components/topbar/topbar.controller.js"></script>
	<script type="text/javascript" src="/static/js/components/scrollTo.directive.js"></script>
	<script type="text/javascript" src="/static/js/components/fadeOnScroll.directive.js"></script>
	<script type="text/javascript" src="/static/js/components/titlecase.filter.js"></script>
	<script type="text/javascript" src="/static/js/components/analytics/analytics.service.js"></script>
	<script type="text/javascript" src="/static/js/components/analytics/analytics.directive.js"></script>
	<!-- endbuild -->
</body>
</html>
