{% extends "base.html" %}

{% block html_attr_block %}ng-app="ReaderApp" ng-controller="readerController"{% endblock %}

    {% block title_block %}
        <title>ThirdDime - Explore art through interpretations and stories</title>
    {%endblock%}

    {% block meta_block %}
        <meta name="description" content="Browse through breathtaking artworks and their interpretations. Discover deeper layers behind each painting with a community of art lovers." />
        <link rel="canonical" href="http://thirddime.com" />
        <link ng-cloak ng-if="postsMeta.next" rel="next" href="http://thirddime.com#[[postsMeta.next]]" />
        <link ng-cloak ng-if="postsMeta.previous" rel="prev" href="http://thirddime.com#[[postsMeta.previous]]" />
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta property="og:title" content="ThirdDime - Explore art through interpretations and stories">
        <meta property="og:site_name" content="ThirdDime">
        <meta property="og:url" content="http://thirddime.com/">
        <meta property="og:description" content="Behind the BrushStrokes.">
        <meta property="og:image" content="http://thirddime.com/static/images/reader/banner.jpg">
        <meta property="og:type" content="website">
        <meta property="og:type" content="[462422103909005]">

        <link href='https://fonts.googleapis.com/css?family=Lato:700,900' rel='stylesheet' type='text/css'>
    {%endblock%}


    {% block css_block %}
         <!-- build:css /static/build/reader.css -->
        <link rel="stylesheet" type="text/css" href="/static/css/reader/topbar.css">
        <link rel="stylesheet" type="text/css" href="/static/css/reader/main.css">
        <!-- endbuild -->
    {%endblock%}

    {% block site_header_block %}
    <topbar></topbar>
    <div class="curtain-overlay-placeholder"></div>
    {%endblock%}

    {% block content_block %}
	<header class="banner" >
        <section class="content">
            <p class="line1">Art is what</p>
            <p class="line1">you make of it</p>
            <p class="line1">Let us help you</p>
            <p class="line1">make of it</p>
            <a custom-href="/arts" class="explore" analytics-click analytics-data="['Reader', 'Button-Explore Art']">EXPLORE ART</a>
        </section>
          <footer class="head-footer">
              <ul class="social clearfix">
                  <li><a target="_blank" analytics-click analytics-data="['Reader', 'To Social Page: Pinterest']" custom-href="https://www.pinterest.com/thirddime/thirddime-art/" >
                      <img title="Pinterest" src="/static/css/reader/icons/pinterest-filled.svg">
                  </a></li>
                  <li><a target="_blank" analytics-click analytics-data="['Reader', 'To Social Page: Twitter']" custom-href="https://twitter.com/thirddime">
                      <img title="Twitter" src="/static/css/reader/icons/twitter-filled.svg">
                  </a></li>
                  <li><a target="_blank" analytics-click analytics-data="['Reader', 'To Social Page: Facebook']" custom-href="https://www.facebook.com/thirddimeart">
                      <img title="Facebook" src="/static/css/reader/icons/facebook-filled.svg">
                  </a></li>
              </ul>
          </footer>
    </header>

    <section class="concept-break">
        <section class="content">
            <p>Art is the only means of leaving monotonicity of reason, breaking continuity of narratives and transforming life into unknown</p>
            <hr>
            <p>We aim at building interfaces where you can share your perspective on art</p>
        </section>
    </section>

    <section class="concept-what">
        <header>
            And we are starting with series...
            <hr>
        </header>

        <ul class="to-do">
            <li>Create correlated collection of artworks by finding your themes</li>
            <li>Give appropriate titles, descriptions and backgrounds for others to find out the correlation</li>
            <li>Soon we will build a list of unique and new perspectives for every artwork</li>
        </ul>

        <section class="concept-series">
            <div class="concept-series-container" ng-repeat="bucket in readerBuckets">
                <div class="bucket-picture"  ng-style="{'background-image': 'url([[bucket.picture]])'}">
                    <section class="bucket-inset-details" ng-click="showSeries($index)">
                        <h2>[[bucket.name | titlecase]]</h2>
                        <h3>[[bucket.description]]</h3>
                        <div class="by-user">By</div>
                        <h3>[[bucket.owner.name | titlecase ]]</h3>
                        <div class="arts-count">[[bucket.compositions_count]] Artworks</div>
                        <div class="arts-count">[[bucket.views]] Views</div>
                    </section>
                </div>
            </div>
        </section>

        <!-- <footer>And it won't end there.</footer> -->
    </section>

    <footer class="concept-close">
        <header>
            <h2>What we have here is the opportunity to create something new, just be yourself.</h2>
            <a custom-href="/arts" class="explore" analytics-click analytics-data="['Reader', 'Button-Explore Art']">EXPLORE ART</a>
        </header>
        <footer class="bottom-footer">
            <ul class="social clearfix">
                <li><a target="_blank" analytics-click analytics-data="['Reader', 'To Social Page: Pinterest']" custom-href="https://www.pinterest.com/thirddime/thirddime-art/" >
                    <img title="Pinterest" src="/static/css/reader/icons/pinterest-filled.svg">
                </a></li>
                <li><a target="_blank" analytics-click analytics-data="['Reader', 'To Social Page: Twitter']" custom-href="https://twitter.com/thirddime">
                    <img title="Twitter" src="/static/css/reader/icons/twitter-filled.svg">
                </a></li>
                <li><a target="_blank" analytics-click analytics-data="['Reader', 'To Social Page: Facebook']" custom-href="https://www.facebook.com/thirddimeart">
                    <img title="Facebook" src="/static/css/reader/icons/facebook-filled.svg">
                </a></li>
            </ul>

            <nav class="links">
                <a href="/about-us">About Us</a>
                <a href="/blog">Blog</a>
                <a href="/guidelines">Guidelines</a>
                <a href="/contact-us">Contact Us</a>
            </nav>
        </footer>
    </footer>

    {% block site_footer_block %}{% endblock %}

    {%endblock%}

    {% block script_block %}
        <!-- build:js /static/build/reader.js -->
        <script type="text/javascript" src="/static/js/reader/reader.module.js"></script>
        <script type="text/javascript" src="/static/js/reader/reader.controller.js"></script>
        <script type="text/javascript" src="/static/js/components/curtain-right/curtain-right.module.js"></script>
        <script type="text/javascript" src="/static/js/components/curtain-right/curtain-right.service.js"></script>
        <script type="text/javascript" src="/static/js/components/curtain-right/curtain-right.controller.js"></script>
        <script type="text/javascript" src="/static/js/components/curtain-right/curtain-right.directive.js"></script>
        <script type="text/javascript" src="/static/js/components/curtain-right/curtain-user.controller.js"></script>
        <script type="text/javascript" src="/static/js/components/curtain-left/curtain-left.module.js"></script>
        <script type="text/javascript" src="/static/js/components/curtain-left/curtain-left.service.js"></script>
        <script type="text/javascript" src="/static/js/components/curtain-left/curtain-left.controller.js"></script>
        <script type="text/javascript" src="/static/js/components/curtain-left/curtain-left.directive.js"></script>
        <script type="text/javascript" src="/static/js/components/topbar/topbar.directive.js"></script>
        <script type="text/javascript" src="/static/js/components/topbar/topbar.controller.js"></script>
        <!-- endbuild -->
    {% endblock %}
