{% extends "base.html" %}
{% block html_attr_block %}ng-app="RegisterApp"{% endblock %}

{% block title_block %}
	<title>SignUp - ThirdDime</title>
{%endblock%}

{% block meta_block %}
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{%endblock%}

{% block css_block %}
	<!-- build:css /static/build/register.css -->
    <link rel="stylesheet" type="text/css" href="/static/css/reader/topbar.css">
	<link rel="stylesheet" type="text/css" href="/static/css/register/main.css">
<!-- endbuild -->
{%endblock%}

{% block body_attr_block %}ng-controller="registerController"{% endblock %}

{% block site_header_block %}
    <topbar></topbar>
    <div class="curtain-overlay-placeholder"></div>
{%endblock%}

{% block content_block %}
	<header class="primary-header">
		<h1>Welcome to ThirdDime</h1>
		<h2>We are glad to have you on this journey together</h2>
	</header>
	<section class="auth clearfix">
		<section class="social">
			<a class="facebook" ng-click="socialLogger('facebook')">CONNECT WITH FACEBOOK</a>
			<a class="google" ng-click="socialLogger('google')">CONNECT WITH GOOGLE</a>
			<a class="twitter" ng-click="socialLogger('twitter')">CONNECT WITH TWITTER</a>
		</section>
		<h5>Or</h5>
		<section class="native">
			<form name="registerForm" ng-keyup="$event.keyCode == 13 ? register(user) : null" novalidate>
				<input type="text" autofocus="autofocus" placeholder="Name" ng-model="user.name" name="uname" maxlength="80" required>
				<div ng-cloak ng-show="registerForm.$submitted">
				    <span ng-show="registerForm.uname.$error.required">Please provide a name.</span>
			   </div>
				<input type="email" placeholder="E-mail" ng-model="user.email" name="uemail" required ng-model-options="{ updateOn: 'blur' }">
				<div ng-cloak ng-show="registerForm.$submitted">
				    <span ng-show="registerForm.uemail.$error.required">Please provide an email.</span>
				    <span ng-show="registerForm.uemail.$error.email">This is not a valid email.</span>
			   </div>
				<input type="password" placeholder="Password" ng-model="user.password" required name="upassword">
				<div ng-cloak ng-show="registerForm.$submitted">
				    <span ng-show="registerForm.upassword.$error.required">Please provide a password.</span>
			   </div>
				<input class="signup-button" ng-class="{'disable': registerForm.$invalid}" ng-disabled="registerForm.$invalid" type="submit" name="login" value="CREATE ACCOUNT" ng-click="register(user)">
			</form>
			<footer>
				<h6>By creating an account, I accept ThirdDime <a href="/guidelines">Terms of Service</a>.</h6>
			</footer>
		</section>
	</section>
{% endblock %}

{% block script_block %}
	<!-- build:js /static/build/register.js -->
	<script type="text/javascript" src="/static/js/register/register.module.js"></script>
	<script type="text/javascript" src="/static/js/register/register.controller.js"></script>
    <script type="text/javascript" src="/static/js/components/curtain-right/curtain-right.module.js"></script>
    <script type="text/javascript" src="/static/js/components/curtain-right/curtain-right.service.js"></script>
    <script type="text/javascript" src="/static/js/components/curtain-right/curtain-right.controller.js"></script>
    <script type="text/javascript" src="/static/js/components/curtain-right/curtain-right.directive.js"></script>
    <script type="text/javascript" src="/static/js/components/curtain-right/curtain-user.controller.js"></script>
    <script type="text/javascript" src="/static/js/components/curtain-left/curtain-left.module.js"></script>
    <script type="text/javascript" src="/static/js/components/curtain-left/curtain-left.service.js"></script>
    <script type="text/javascript" src="/static/js/components/curtain-left/curtain-left.controller.js"></script>
    <script type="text/javascript" src="/static/js/components/curtain-left/curtain-left.directive.js"></script>
    <script type="text/javascript" src="/static/js/components/topbar/topbar.directive.js"></script>
    <script type="text/javascript" src="/static/js/components/topbar/topbar.controller.js"></script>
	<!-- endbuild -->
{% endblock %}