<!DOCTYPE html>
<html ng-app="RegisterApp">
<head>
	<title>SignUp - ThirdDime</title>

	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<link rel="shortcut icon" type="image/png" href="/static/images/favicon.ico">

	<!-- build:css /static/build/register.css -->
	<link rel="stylesheet" type="text/css" href="/static/css/base.css">
	<link rel="stylesheet" type="text/css" href="/static/css/register/main.css">
	<!-- endbuild -->

	<script>
		 (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		 (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		 })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		 ga('create', 'UA-58563444-1', 'auto');
		 ga('require', 'displayfeatures');
		 ga('send', 'pageview');
	</script>
</head>
<body ng-controller="registerController">
	<!-- {% verbatim %} --> 
	<topbar></topbar>
	<div class="curtain-overlay-placeholder"></div>
	<header class="primary-header">
		<h1>Welcome to ThirdDime</h1>
		<h2>We are glad to have you on this journey together.</h2>
	</header>
	<section class="auth clearfix">
		<section class="social">
			<button class="facebook" ng-click="loginFB()">CONNECT WITH FACEBOOK</button>
			<!-- <button class="twitter" href="">CONNECT WITH TWITTER</button> -->
		</section>
		<h5>Or</h5>	
		<section class="native">
			<form name="registerForm" ng-keyup="$event.keyCode == 13 ? register(user) : null" novalidate>
				<input type="text" autofocus="autofocus" placeholder="Name" ng-model="user.name" name="uname" maxlength="80" required>
				<div ng-cloak ng-show="registerForm.$submitted">
				    <span ng-show="registerForm.uname.$error.required">Please provide a first name.</span>
			   </div>
				<input type="email" placeholder="E-mail" ng-model="user.email" name="uemail" required ng-model-options="{ updateOn: 'blur' }">
				<div ng-cloak ng-show="registerForm.$submitted">
				    <span ng-show="registerForm.uemail.$error.required">Please provide an email.</span>
				    <span ng-show="registerForm.uemail.$error.email">This is not a valid email.</span>
			   </div>
				<input type="password" placeholder="Password" ng-model="user.password" required name="upassword">
				<div ng-cloak ng-show="registerForm.$submitted">
				    <span ng-show="registerForm.upassword.$error.required">Please provide a password.</span>
			   </div>
				<input class="signup-button" type="submit" name="login" value="CREATE ACCOUNT" ng-click="register(user)">
			</form>
			<footer>
				<h6>By creating an account, I accept ThirdDime <a href="/guidelines">Terms of Service</a>.</h6>
			</footer>
		</section>
	</section>
	<script type="text/javascript" src="/static/bower_components/jquery/dist/jquery.min.js"></script>
	<!-- build:js /static/build/register.js -->
	<script type="text/javascript" src="/static/bower_components/angular/angular.min.js"></script>
	<script type="text/javascript" src="/static/bower_components/ng-facebook/ngFacebook.js"></script>
	
	<script type="text/javascript" src="/static/js/models/model.module.js"></script>
	<script type="text/javascript" src="/static/js/models/user.model.js"></script>
	<script type="text/javascript" src="/static/js/authentication/auth.module.js"></script>
	<script type="text/javascript" src="/static/js/authentication/auth.service.js"></script>
	<script type="text/javascript" src="/static/js/authentication/facebook.service.js"></script>
	<script type="text/javascript" src="/static/js/register/register.module.js"></script>
	<script type="text/javascript" src="/static/js/register/register.controller.js"></script>
	<script type="text/javascript" src="/static/js/components/curtain-right/curtain-right.module.js"></script>
	<script type="text/javascript" src="/static/js/components/curtain-right/curtain-right.service.js"></script>
	<script type="text/javascript" src="/static/js/components/curtain-right/curtain-right.controller.js"></script>
	<script type="text/javascript" src="/static/js/components/curtain-right/curtain-right.directive.js"></script>
	<script type="text/javascript" src="/static/js/components/curtain-right/curtain-user.controller.js"></script>
	<script type="text/javascript" src="/static/js/components/curtain-left/curtain-left.module.js"></script>
	<script type="text/javascript" src="/static/js/components/curtain-left/curtain-left.service.js"></script>
	<script type="text/javascript" src="/static/js/components/curtain-left/curtain-left.controller.js"></script>
	<script type="text/javascript" src="/static/js/components/curtain-left/curtain-left.directive.js"></script>
	<script type="text/javascript" src="/static/js/components/topbar/topbar.directive.js"></script>
	<script type="text/javascript" src="/static/js/components/topbar/topbar.controller.js"></script>
	<script type="text/javascript" src="/static/js/components/scrollTo.directive.js"></script>
	<script type="text/javascript" src="/static/js/components/fadeOnScroll.directive.js"></script>
	<script type="text/javascript" src="/static/js/components/titlecase.filter.js"></script>
	<script type="text/javascript" src="/static/js/components/analytics/analytics.service.js"></script>
	<script type="text/javascript" src="/static/js/components/analytics/analytics.directive.js"></script>
	<!-- endbuild -->
	<!-- {% endverbatim %} -->
</body>
</html>