<!DOCTYPE html>
<html ng-app="RegisterApp">
<head>
	<title>SignUp - ThirdDime</title>

	<link rel="shortcut icon" type="image/png" href="/static/images/favicon.ico">

	<!-- build:css /static/build/register.css -->
	<link rel="stylesheet" type="text/css" href="/static/css/base.css">
	<link rel="stylesheet" type="text/css" href="/static/css/register/main.css">
	<!-- endbuild -->
</head>
<body ng-controller="registerController">
	<!-- {% verbatim %} --> 
	<topbar></topbar>
	<div class="curtain-overlay-placeholder"></div>
	<header class="primary-header">
		<h1>Welcome to ThirdDime</h1>
		<h2>We are glad to have you on this journey togather.</h2>
	</header>
	<section class="auth clearfix">
		<section class="social">
			<a class="facebook" href="">CONNECT WITH FACEBOOK</a>
			<a class="twitter" href="">CONNECT WITH TWITTER</a>
		</section>
		<h5>Or</h5>	
		<section class="native">
			<form name="register" ng-keyup="$event.keyCode == 13 ? register(user) : null" novalidate>
				<fieldset class="username">
					<input type="text" placeholder="First name" autofocus="autofocus" ng-model="user.first_name" name="ufirstname" required maxlength="40">
					<input type="text" placeholder="Last name" ng-model="user.last_name" name="ulastname" maxlength="40">
				</fieldset>
				<div ng-cloak ng-show="register.$submitted || register.ufirstname.$touched">
				    <span ng-show="register.ufirstname.$error.required">Please provide a first name.</span>
			   </div>
				<input type="email" placeholder="E-mail" ng-model="user.email" name="uemail" required ng-model-options="{ updateOn: 'blur' }">
				<div ng-cloak ng-show="register.$submitted || register.uemail.$touched">
				    <span ng-show="register.uemail.$error.required">Please provide an email.</span>
				    <span ng-show="register.uemail.$error.email">This is not a valid email.</span>
			   </div>
				<input type="password" placeholder="Password" ng-model="user.password" required name="upassword">
				<div ng-cloak ng-show="register.$submitted || register.upassword.$touched">
				    <span ng-show="register.upassword.$error.required">Please provide a password.</span>
			   </div>
				<input class="signup-button" type="button" name="login" value="CREATE ACCOUNT" ng-click="register(user)">
			</form>
			<footer>
				<h6>By creating an account, I accept ThirdDime <a href="">Terms of Service</a>.</h6>
			</footer>
		</section>
	</section>
	<script type="text/javascript" src="/static/bower_components/jquery/dist/jquery.min.js"></script>
	<!-- build:js /static/build/register.js -->
	<script type="text/javascript" src="/static/bower_components/angular/angular.min.js"></script>
	<script type="text/javascript" src="/static/js/models/model.module.js"></script>
	<script type="text/javascript" src="/static/js/models/user.model.js"></script>
	<script type="text/javascript" src="/static/js/authentication/auth.service.js"></script>
	<script type="text/javascript" src="/static/js/register/register.module.js"></script>
	<script type="text/javascript" src="/static/js/register/register.controller.js"></script>
	<script type="text/javascript" src="/static/js/components/curtain-right/curtain-right.module.js"></script>
	<script type="text/javascript" src="/static/js/components/curtain-right/curtain-right.service.js"></script>
	<script type="text/javascript" src="/static/js/components/curtain-right/curtain-right.controller.js"></script>
	<script type="text/javascript" src="/static/js/components/curtain-right/curtain-right.directive.js"></script>
	<script type="text/javascript" src="/static/js/components/curtain-right/curtain-user.controller.js"></script>
	<script type="text/javascript" src="/static/js/components/curtain-left/curtain-left.module.js"></script>
	<script type="text/javascript" src="/static/js/components/curtain-left/curtain-left.service.js"></script>
	<script type="text/javascript" src="/static/js/components/curtain-left/curtain-left.controller.js"></script>
	<script type="text/javascript" src="/static/js/components/curtain-left/curtain-left.directive.js"></script>
	<script type="text/javascript" src="/static/js/components/topbar/topbar.directive.js"></script>
	<script type="text/javascript" src="/static/js/components/topbar/topbar.controller.js"></script>
	<script type="text/javascript" src="/static/js/components/scrollTo.directive.js"></script>
	<script type="text/javascript" src="/static/js/components/fadeOnScroll.directive.js"></script>
	<script type="text/javascript" src="/static/js/components/titlecase.filter.js"></script>
	<!-- endbuild -->
	<!-- {% endverbatim %} -->
</body>
</html>