{% extends "base.html" %}

{% block html_attr_block %}ng-app="PasswordApp" {% endblock %}

{% block title_block %}
        <title>Reset Password - ThirdDime</title>
{%endblock%}

{% block css_block %}
     <!-- build:css /static/build/password.css -->
    <link rel="stylesheet" type="text/css" href="/static/css/reader/topbar.css">
    <link rel="stylesheet" type="text/css" href="/static/css/password/main.css">
    <!-- endbuild -->
{%endblock%}

{% block site_header_block %}
	<topbar></topbar>
	<div class="curtain-overlay-placeholder"></div>
{%endblock%}

{% block body_attr_block %}ng-controller="passwordController" ng-init="init('{{page_type}}', '{{id}}', '{{token}}')"{% endblock %}

{% block content_block %}
<section class="reset-password-content ng-hide" ng-cloak ng-show="pageType == 1">
		<h1>Reset Password</h1>

		<h2 ng-cloak ng-hide="sendingMail">Please specify your email address to receive instructions for resetting it.</h2>

		 <form name="passwordForm" class="passwordForm" ng-cloak ng-hide="sendingMail">
	         <input type="email" placeholder="Registered Email" ng-model="user.email" name="umail" required ng-model-options="{ debounce: 800 }">
	         <div class="passwordForm-error"   >
	             <span class="ng-hide" ng-cloak ng-show=" (passwordForm.$submitted || passwordForm.umail.$dirty) && passwordForm.umail.$error.required">Please provide an email</span>
	             <span class="ng-hide" ng-cloak ng-show=" (passwordForm.$submitted || passwordForm.umail.$dirty) && passwordForm.umail.$error.email">Not a valid email</span>
	        </div>
	        <button class="submit" ng-disabled="passwordForm.$invalid" ng-class="{'active': !passwordForm.$invalid}" ng-click="resetPassword(user.email)">Send Me Reset Details</button>
		</form>

        <h2 class="ng-hide" ng-cloak ng-show="sendingMail"> Email with instructions to reset your password has been sent</h2>
</section>

<section class="reset-password-content ng-hide" ng-cloak ng-show="pageType == 2">
        <h1>Reset Password</h1>

        <h2 ng-cloak ng-hide="passwordChanged">Please enter your new password</h2>

         <form name="newPasswordForm" class="passwordForm" ng-cloak ng-hide="passwordChanged">
             <input type="password" placeholder="" ng-model="user.password" name="umail" required ng-model-options="{ debounce: 800 }">
             <div class="passwordForm-error"   >
                 <span class="ng-hide" ng-cloak ng-show=" (newPasswordForm.$submitted || newPasswordForm.umail.$dirty) && newPasswordForm.umail.$error.required">Please provide a password</span>
            </div>
            <button class="submit" ng-disabled="newPasswordForm.$invalid" ng-class="{'active': !newPasswordForm.$invalid}" ng-click="setNewPassword(user.password)">Reset Password</button>
        </form>

        <h2 class="ng-hide" ng-cloak ng-show="passwordChanged"> Your password has been successfully changed</h2>
</section>

<section class="reset-password-content ng-hide" ng-cloak ng-show="pageType == 3">
        <h1>Reset Password</h1>

        <h2>It seems there is some problem with your request, please try again.</h2>
</section>
{% endblock %}


{% block script_block %}
        <!-- build:js /static/build/password.js -->
        <script type="text/javascript" src="/static/js/password/password.module.js"></script>
        <script type="text/javascript" src="/static/js/password/password.controller.js"></script>
        <script type="text/javascript" src="/static/js/components/curtain-right/curtain-right.module.js"></script>
        <script type="text/javascript" src="/static/js/components/curtain-right/curtain-right.service.js"></script>
        <script type="text/javascript" src="/static/js/components/curtain-right/curtain-right.controller.js"></script>
        <script type="text/javascript" src="/static/js/components/curtain-right/curtain-right.directive.js"></script>
        <script type="text/javascript" src="/static/js/components/curtain-right/curtain-user.controller.js"></script>
        <script type="text/javascript" src="/static/js/components/curtain-left/curtain-left.module.js"></script>
        <script type="text/javascript" src="/static/js/components/curtain-left/curtain-left.service.js"></script>
        <script type="text/javascript" src="/static/js/components/curtain-left/curtain-left.controller.js"></script>
        <script type="text/javascript" src="/static/js/components/curtain-left/curtain-left.directive.js"></script>
        <script type="text/javascript" src="/static/js/components/topbar/topbar.directive.js"></script>
        <script type="text/javascript" src="/static/js/components/topbar/topbar.controller.js"></script>
        <!-- endbuild -->
    {% endblock %}