{% extends "base.html" %}
{% block html_attr_block %}ng-app="SearchApp"{% endblock %}

{% block title_block %}
    <title>Search | Thirddime</title>
{%endblock%}


{% block meta_block %}
    <base href="/search/">

    <meta name="description" content="Browse through breathtaking artworks and context around them. Contribute and find thoughts an artwork provokes with our community of art lovers." />
    <link rel="canonical" href="http://thirddime.com/arts" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <meta property="og:title" content="Explore art and context around it">
    <meta property="og:site_name" content="ThirdDime">
    <meta property="og:url" content="http://thirddime.com/arts">
    <meta property="og:description" content="Browse through breathtaking artworks and context around them. Contribute and find thoughts an artwork provokes with our community of art lovers.">
    <meta property="fb:app_id" content="462422103909005">
    <meta property="og:image" content="http://thirddime.com/static/images/reader/banner.jpg">
    <meta property="og:type" content="website">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@thirddime">
    <meta name="twitter:title" content="Explore art and context around it">
    <meta name="twitter:description" content="Browse through breathtaking artworks and context around them. Contribute and find thoughts an artwork provokes with our community of art lovers.">
    <meta name="twitter:image" content="http://thirddime.com/static/images/reader/banner.jpg">
{%endblock%}

{% block css_block %}
     <!-- build:css /static/build/search.css -->
    <link rel="stylesheet" type="text/css" href="/static/css/search/main.css">
    <!-- endbuild -->
{%endblock%}

{% block body_attr_block %}ng-controller="searchController"{% endblock %}

{% block content_block %}
    <header class="search-page-header">
        <input class="main-search" type="text" placeholder="Search thirddime" autofocus="true" ng-model="searchmeta.query" ng-model-options="{ debounce: 800 }">
    </header>
    <nav class="search-navigation">
        <li ui-sref-active="active" ui-sref="all">ALL</li>
        <li ui-sref-active="active" ui-sref="arts">ARTWORKS</li>
        <li ui-sref-active="active" ui-sref="buckets">SERIES</li>
        <li ui-sref-active="active" ui-sref="users">PEOPLE</li>
    </nav>

    <div ui-view></div>
{% endblock %}

{% block site_footer_block %}{% endblock %}

{% block script_block %}
    <!-- build:js /static/build/search.js -->

    <script type="text/javascript" src="/static/js/search/search.module.js"></script>
    <script type="text/javascript" src="/static/js/search/search.controller.js"></script>

    <!-- endbuild -->
{% endblock %}