  {% load staticfiles  %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Showcase</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static "js/vendor/bootstrap/bootstrap.min.css" %}">

    <!-- Add custom CSS here -->
    <link rel="stylesheet" href="{% static "css/stylish-portfolio.css" %}">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css">
</head>

<body>

    <!-- Side Menu -->
    <a id="menu-toggle" href="#" class="btn btn-primary btn-lg toggle"><i class="fa fa-bars"></i></a>
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-default btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand"><a href="/">ShowCase</a>
            </li>
            <li><a href="#top">Home</a>
            </li>
            <li><a href="#about">About</a>
            </li>
            <li><a href="#services">Services</a>
            </li>
            <li><a href="#portfolio">Portfolio</a>
            </li>
            <li><a href="#contact">Contact</a>
            </li>
        </ul>
    </div>
    <!-- /Side Menu -->

    <!-- Full Page Image Header Area -->
    <div id="top" class="header">
        <div class="vert-text">
            <h1>ShowCase</h1>
            <h3>Art is the only way to run away without leaving home.</h3>
        </div>
    </div>
    <!-- /Full Page Image Header Area -->

    <!-- Intro -->
    <div id="about" class="intro">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <h2>Your place to enjoy art.</h2>
                    <blockquote><p class="lead">We want to built a sphere where people can <strong>experience</strong> Paintings.</p> </blockquote>
                </div>
            </div>
        </div>
    </div>
    <!-- /Intro -->

    <!-- Services -->
    <div id="services" class="services">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4 text-center">
                    <h2>Take a leap of Faith</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-md-offset-2 text-center">
                    <div class="service-item">
                        <a href="/"><i class="service-icon fa fa-rocket"></i></a>
                        <h4>Read Art</h4>
                        <p>Yes, we have created an experience where you can read through paintings.</p>
                    </div>
                </div>
                <div class="col-md-2 text-center">
                    <div class="service-item">
                        <a href="/"><i class="service-icon fa fa-magnet"></i></a>
                        <h4>Interpret</h4>
                        <p>Put into words how a painting reflects in you. See how others understand it.</p>
                    </div>
                </div>
                <div class="col-md-2 text-center">
                    <div class="service-item">
                        <a href="/"><i class="service-icon fa fa-shield"></i></a>
                        <h4>Share and Care</h4>
                        <p>A painting represents strongest of emotions. Share your words through them.</p>
                    </div>
                </div>
                <div class="col-md-2 text-center">
                    <div class="service-item">
                        <a href="/"><i class="service-icon fa fa-pencil"></i></a>
                        <h4>Learn</h4>
                        <p>Let the best of the world mentor you to speak through the brush.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Services -->

    <!-- Callout -->
    <div class="callout">
        <div class="vert-text">
            <h1>Everything you can IMAGINE is REAL</h1>
        </div>
    </div>
    <!-- /Callout -->

    <!-- Portfolio -->
    <div id="portfolio" class="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4 text-center">
                    <h2>Ready to Drown</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-2 text-center">
                    <div class="portfolio-item">
                        <a href="/">
                            <img class="img-portfolio img-responsive" src="static/img/portfolio-1.jpg">
                        </a>
                        <h4>Freedom</h4>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="portfolio-item">
                        <a href="/">
                            <img class="img-portfolio img-responsive" src="static/img/portfolio-2.jpg">
                        </a>
                        <h4>Molten Nature</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-2 text-center">
                    <div class="portfolio-item">
                        <a href="/">
                            <img class="img-portfolio img-responsive" src="static/img/portfolio-3.jpg">
                        </a>
                        <h4>The Ship</h4>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="portfolio-item">
                        <a href="/">
                            <img class="img-portfolio img-responsive" src="static/img/portfolio-4.jpg">
                        </a>
                        <h4>Focus</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Portfolio -->

    <!-- Call to Action -->
    <div class="call-to-action">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <h3>What are we waiting for ?</h3>
                    <a href="/" class="btn btn-lg btn-danger"><i class="service-icon fa fa-arrow-right"></i></a>
                    <h4 class="text-center">Explore</h4>
                </div>
            </div>
        </div>
    </div>
    <!-- /Call to Action -->

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <ul class="list-inline">
                        <li><i class="fa fa-facebook fa-3x"></i>
                        </li>
                        <li><i class="fa fa-twitter fa-3x"></i>
                        </li>
                        <li><i class="fa fa-dribbble fa-3x"></i>
                        </li>
                    </ul>
                    <div class="top-scroll">
                        <a href="#top"><i class="fa fa-arrow-circle-up scroll fa-4x"></i></a>
                    </div>
                    <hr>
                    <p>Copyright &copy; Showcase 2013</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- /Footer -->

    <!-- JavaScript -->
        <script src="{% static "js/vendor/jQuery/jquery-1.11.1.min.js" %}"></script>
        <script src="{% static "js/vendor/bootstrap/bootstrap.min.js" %}"></script>

    <!-- Custom JavaScript for the Side Menu and Smooth Scrolling -->
    <script>
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    </script>
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    </script>
    <script>
    $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
    </script>

</body>

</html>