{% extends "base.html" %}
{% block html_attr_block %}ng-app="UserApp"{% endblock %}

{% block title_block %}
    <title>{{artist.name | title}} |  Paintings | ThirdDime</title>
{%endblock%}

{% block meta_block %}
    <meta charset="UTF-8">
    <meta name="Description" content="Artworks by {{artist.name}}. {{artist.about}}">
    <link rel="canonical" href="http://thirddime.com/artists/{{artist.slug}}" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="{{artist.name | title}}">
    <meta property="og:site_name" content="ThirdDime">
    <meta property="og:url" content="http://thirddime.com/artists/{{artist.slug}}">
    <meta property="og:description" content="Explore paintings of {{artist.name}} through interpretations and stories.">
    <meta property="og:image" content="http://thirddime.com{{artist.picture.url}}">
    <meta property="og:type" content="website">
    <meta property="og:type" content="[462422103909005]">
{%endblock%}

{% block css_block %}
     <!-- build:css /static/build/user-profile.css -->
    <link rel="stylesheet" type="text/css" href="/static/bower_components/animate.css/animate.css">
    <link rel="stylesheet" type="text/css" href="/static/css/base.css">
    <link rel="stylesheet" type="text/css" href="/static/css/user/profile.css">
    <!-- endbuild -->
{%endblock%}

{% block body_attr_block %}ng-controller="userProfileController"{% endblock %}

{% block content_block %}
    <header class="primary-header" ng-init="init('{{artist.id}}')">
        <div class="container">
            <div class="picture">
                <img src="{{artist.get_picture_url}}">
            </div>
            <h1>{{artist.name | title}}</h1>
            <h2>{{artist.about}}</h2>
            <section class="contributions">
                <a ui-sref-active="active" class="contribution" ui-sref="paintings">
                    <h4>Paintings</h4>
                    <h5>{{artist.arts.count}}</h5>
                </a><!--
                --><a ui-sref-active="active" class="contribution" ui-sref="interpretations">
                    <h4>Interpretations</h4>
                    <h5>{{artist.interpretation_set.count}}</h5>
                </a><!--
                --><a ui-sref-active="active" class="contribution" ui-sref="uploads">
                    <h4>Uploads</h4>
                    <h5>{{artist.compositions.count}}</h5>
                </a><!--
                --><a ui-sref-active="active" class="contribution" ui-sref="collection">
                    <h4>Collection</h4>
                    <h5>{{artist.bookmarks.count}}</h5>
                </a>
            </section>
        </div>
    </header>

    <div ui-view></div>
{% endblock %}

{% block script_block %}
    <!-- build:js /static/build/userProfile.js -->
    <script type="text/javascript" src="/static/bower_components/ng-facebook/ngFacebook.js"></script>
    <script type="text/javascript" src="/static/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>

    <script type="text/javascript" src="/static/bower_components/nginfinitescroll/build/ng-infinite-scroll.min.js"></script>
    <script type="text/javascript" src="/static/bower_components/angular-upload/angular-upload.min.js"></script>

    <script type="text/javascript" src="/static/js/user/user.module.js"></script>
    <script type="text/javascript" src="/static/js/user/userProfile.controller.js"></script>
    <script type="text/javascript" src="/static/js/user/profilePaintings.controller.js"></script>
    <script type="text/javascript" src="/static/js/user/profileUploads.controller.js"></script>
    <script type="text/javascript" src="/static/js/user/profileInterpretations.controller.js"></script>
    <script type="text/javascript" src="/static/js/user/profileCollection.controller.js"></script>
    <script type="text/javascript" src="/static/js/models/model.module.js"></script>
    <script type="text/javascript" src="/static/js/models/user.model.js"></script>
    <script type="text/javascript" src="/static/js/models/post.model.js"></script>
    <script type="text/javascript" src="/static/js/authentication/auth.module.js"></script>
    <script type="text/javascript" src="/static/js/authentication/auth.service.js"></script>
    <script type="text/javascript" src="/static/js/authentication/facebook.service.js"></script>
    <script type="text/javascript" src="/static/js/components/topbar/topbar.directive.js"></script>
    <script type="text/javascript" src="/static/js/components/topbar/topbar.controller.js"></script>
    <script type="text/javascript" src="/static/js/components/scrollTo.directive.js"></script>
    <script type="text/javascript" src="/static/js/components/fadeOnScroll.directive.js"></script>
    <script type="text/javascript" src="/static/js/components/titlecase.filter.js"></script>
    <script type="text/javascript" src="/static/js/components/util/util.module.js"></script>
    <script type="text/javascript" src="/static/js/components/util/progress.service.js"></script>
    <script type="text/javascript" src="/static/js/components/util/progress.directive.js"></script>
    <script type="text/javascript" src="/static/js/components/util/alert.service.js"></script>
    <script type="text/javascript" src="/static/js/components/util/alert.directive.js"></script>
    <script type="text/javascript" src="/static/js/components/analytics/analytics.service.js"></script>
    <script type="text/javascript" src="/static/js/components/analytics/analytics.directive.js"></script>
    <!-- endbuild -->
{% endblock %}
