{% extends "base.html" %}
{% block html_attr_block %}ng-app="UserApp"{% endblock %}

{% block title_block %}
    <title>{{artist.name | title}} |  Artworks | ThirdDime</title>
{%endblock%}

{% block meta_block %}
    <base href="/@{{artist.slug}}/">
    <meta charset="UTF-8">
    <meta name="Description" content="Artworks by {{artist.name}}. {{artist.about}}">
    <link rel="canonical" href="http://thirddime.com/artists/{{artist.slug}}" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta property="og:title" content="{{artist.name | title}}">
    <meta property="og:site_name" content="ThirdDime">
    <meta property="og:url" content="http://thirddime.com/@{{artist.slug}}">
    {% if artist.is_artist %}
    <meta property="og:description" content="Explore artworks by {{artist.name}} and thoughts around them.">
    {% else %}
    <meta property="og:description" content="Explore {{artist.name}}'s thoughts around art.">
    {% endif %}
    <meta property="og:image" content="http://thirddime.com{{artist.picture.url}}">
    <meta property="og:type" content="website">
    <meta property="fb:app_id" content="462422103909005">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@thirddime">
    <meta name="twitter:title" content="{{artist.name | title}}">
    {% if artist.is_artist %}
    <meta property="og:description" content="Explore artworks by {{artist.name}} and thoughts around them.">
    {% else %}
    <meta property="og:description" content="Explore {{artist.name}}'s thoughts around art.">
    {% endif %}
    <meta name="twitter:image" content="http://thirddime.com{{artist.picture.url}}">
{%endblock%}

{% block css_block %}
     <!-- build:css /static/build/user-profile.css -->
    <link rel="stylesheet" type="text/css" href="/static/css/user/profile.css">
    <link rel="stylesheet" type="text/css" href="/static/css/user/activity.css">
    <!-- endbuild -->
{%endblock%}

{% block body_attr_block %}ng-controller="userProfileController"{% endblock %}

{% block content_block %}
    <header class="primary-header" ng-init="init('{{artist.id}}', '{{is_followed}}', '{{is_me}}')">
        <div class="container">
            <header class="primary-header-header">
                <div class="picture" ng-style="{'background-image': 'url({{artist.picture.url}})'}"></div>

                <div class="details">
                    <h1>{{artist.name | title}}</h1>
                    <h2>{{artist.about}}</h2>

                    <section class="actions">
                        <button ng-class="{'active': artist.is_followed}" ng-click="handleFollow()">Follow</button>
                        <h3 ng-click="showFollowers()">Followers {{artist.followers_count}}</h3>
                        <h3 ng-click="showFollows()">Following {{artist.followings_count}}</h3>
                    </section>
                </div>

            </header>
            <section class="contributions">
                <a class="contribution" ui-sref-active="active" ui-sref="activities">
                    <h4>Activities</h4>
                </a><!--
                --><a class="contribution" ng-cloak ng-show="[[{{artist.buckets_count}} != 0]] || artist.is_me" ui-sref-active="active" ui-sref="userbuckets">
                    <h4>Series {{artist.buckets_count}}</h4>
                </a><!--
                --><a class="contribution" ng-cloak ng-show="[[{{artist.admirations_count}} != 0]] || artist.is_me" ui-sref-active="active" ui-sref="admirations">
                    <h4>Admirations {{artist.admirations_count}}</h4>
                </a><!--
                --><a class="contribution" ng-cloak ng-show="artist.is_me" ui-sref-active="active" ui-sref="bookmarks">
                    <h4>Bookmarks {{artist.bookmarks_count}}</h4>
                </a><!--
                --><a class="contribution" ng-cloak ng-show="[[{{artist.paintings_count}} != 0]] || artist.is_me" ui-sref-active="active" ui-sref="paintings">
                    <h4>Originals {{artist.paintings_count}}</h4>
                </a><!--
                --><a class="contribution" ng-cloak ng-show="[[{{artist.uploads_count}} != 0]] || artist.is_me" ui-sref-active="active" ui-sref="uploads">
                    <h4>Contributions {{artist.uploads_count}}</h4>
                </a>
            </section> <!-- contributions -->

        </div> <!-- container -->
    </header>

    <div ui-view></div>

    {% block site_footer_block %}{% endblock %}
{% endblock %}

{% block script_block %}
    <!-- build:js /static/build/userProfile.js -->
    <script type="text/javascript" src="/static/bower_components/nginfinitescroll/build/ng-infinite-scroll.min.js"></script>
    <script type="text/javascript" src="/static/bower_components/angular-upload/angular-upload.min.js"></script>

    <script type="text/javascript" src="/static/js/user/user.module.js"></script>
    <script type="text/javascript" src="/static/js/user/userProfile.controller.js"></script>
    <script type="text/javascript" src="/static/js/user/profile.artifacts.controller.js"></script>
    <script type="text/javascript" src="/static/js/user/profilePaintings.controller.js"></script>
    <script type="text/javascript" src="/static/js/user/profileBuckets.controller.js"></script>
    <script type="text/javascript" src="/static/js/user/profileActivities.controller.js"></script>
    <!-- endbuild -->
{% endblock %}
