<sidebar ng-controller="topbarController">
	<img class="logo" src="/static/images/header-md.png" add-curtain-left analytics-click analytics-data="['Top Bar-Left', 'Logo']">
	<section click-logo class="name" fade-on-scroll ng-cloak ng-hide="hideName" analytics-click analytics-data="['Top Bar-Left', 'Logo - Name']">
		<h1>THIRDDIME</h1>
		<h2>BEHIND THE BRUSHSTROKES</h2>
	</section>

	<h3 class="auth-user" fade-on-scroll add-curtain-right="login" ng-cloak ng-hide="currentUser">
		<a ng-cloak ng-hide="hideSignUp" href="/register" analytics-click analytics-data="['Top Bar-Right', 'SignUp']">SIGN UP</a>
		<span ng-cloak ng-hide="hideLogin" analytics-click analytics-data="['Top Bar-Right', 'LogIn']">
			<span ng-cloak ng-hide="hideSignUp">/</span>
			LOGIN
		</span>
	</h3>
	<h3 class="auth-user" add-curtain-right="user" ng-cloak ng-show="currentUser" analytics-click analytics-data="['Top Bar-Right',  'UserName']" >[[currentUser.first_name | titlecase]]</h3>
</sidebar>