<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Welcome to ThirdDime</title>
</head>
<body style="width:100%; margin:0; padding:0; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%;">

    <div style="margin:0;padding:0;background:#eeeeee">

        <table border="0" cellspacing="0" cellpadding="0" width="100%" style="background-color:#eeeeee">

            <tbody><tr>

                <td>

                    <table border="0" cellspacing="0" cellpadding="0" align="center" style="width:640px;padding-left:20px;padding-right:20px;border-collapse:separate">

                        <tbody><tr><td style="height:20px"><div style="min-height:20px;min-height:20px;max-height:20px;vertical-align:top;overflow:hidden"></div></td></tr>

                            <tr>

                                <td>
                                    <table border="0" cellspacing="0" cellpadding="0" align="center" width="100%">
                                        <tbody><tr>
                                            <td>
                                                <table border="0" cellspacing="0" cellpadding="40" width="100%" style="background:#ffffff;border-radius:8px">
                                                    <tbody><tr>
                                                        <td style="background-color:#ffffff;border-radius:6px">
                                                            <span style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;line-height:22px;color:#424242">
                                                                <table border="0" cellspacing="0" cellpadding="0" width="100%">
                                                                    <tbody><tr>
                                                                        <td valign="middle" height="64" width="64">
                                                                            <a href="http://thirddime.com/@{{target_slug}}" title="{{target_name}}" target="_blank"><img src="http://thirddime.com/{{target_picture}}" width="64" height="64" border="0" style="border-radius:32px"></a>

                                                                        </td>

                                                                        <td width="20">&nbsp;</td>

                                                                        <td valign="middle" style="font-size:20px;line-height:25px;color:#424242">

                                                                        <a href="http://thirddime.com/@{{target_slug}}" title="{{target_name | title }}" style="color:#424242;font-weight:bold" target="_blank">{{target_name | title }}</a> <span class="il">admired</span> <span class="il"> artwork <a href="http://thirddime.com/arts/{{art_slug}}" title="{{art_name | title }}" style="color:#424242;font-weight:bold" target="_blank">{{art_name | title }}</a></span>.

                                                                        </td>

                                                                    </tr>

                                                                </tbody></table>

                                                            </span>
                                                        </td>
                                                    </tr>
                                                </tbody></table>
                                            </td>
                                        </tr>

                                        <tr><td height="7"></td></tr>
                                        <tr>
                                            <td>
                                                <table border="0" cellspacing="0" cellpadding="0" align="center" width="100%" style="padding-bottom:10px">

                                                    <tbody><tr>

                                                        <td valign="top" width="127">

                                                            <a href="http://thirddime.com" title="ThirdDime" target="_blank"><img src="http://thirddime.com/static/images/header-md.png" width="40" height="40" border="0" alt="ThirdDime"></a>

                                                        </td>

                                                        <td valign="top" align="right" width="*" style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:11px;line-height:15px;color:#9d9d9d;padding-top:4px">

                                                            <span>This mail is sent by<br></span>

                                                            <a href="http://thirddime.com" style="color:#666;text-decoration:none;font-weight:bold" target="_blank">ThirdDime</a>

                                                        </td>

                                                    </tr>

                                                </tbody></table>

                                            </td>

                                        </tr>

                                    </tbody></table>
                                </td>

                            </tr>

                            <tr><td style="height:20px"><div style="min-height:20px;min-height:20px;max-height:20px;vertical-align:top;overflow:hidden"></div></td></tr>

                        </tbody></table>

                    </td>

                </tr>

            </tbody></table>



        </div></div>

    </body>
    </html>