html, body {
  height: 100%;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
}

.auth-user,
.auth-user a {
  color: white;
}


/*================ Painting Area ==================*/
.explore-container {
  width: 90%;
  min-height: 100%;
}

