html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: always;
    font-family: 'taile';
    background: #F6FAFF;
}

.auth-user,
.auth-user a {
    color: white;
}
