<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Welcome to ThirdDime</title>
</head>
<body style="width:100%; margin:0; padding:0; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%;">

    <div bgcolor="#ffffff" style="font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;letter-spacing:-0.017em;color:#1c2023;margin:0;padding:0;min-width:100%">
        <span style="width:0;max-height:0;overflow:hidden;float:left">Hi {{username}}, we’re delighted to <span class="il">welcome</span> you into our community of folks who want to know how we perceive art.
        To us art is more than just a cool looking photo. It is bundle of history, ideology and skill capable of evoking complex thoughts. And we are here to explore those thoughts.</span>
        <table width="100%" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0">
          <tbody>

          <tr>
            <td>
                <table align="center" cellpadding="0" cellspacing="0" border="0" style="width:100%;max-width:600px">
                    <tbody>
                    <tr>
                        <td bgcolor="#1c2023" width="600" valign="top" style="color:#ffffff;background-repeat:no-repeat;vertical-align:top;line-height:0">

                        <table width="100%" align="left" border="0" cellspacing="0" cellpadding="0">
                          <tbody>
                            <tr>
                                <td>
                                <a href="http://thirddime.com/" style="text-decoration:none;font-family:&quot;Open Sans&quot;,&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif;font-weight:normal;color:#39a1ce" target="_blank"><img src="http://thirddime.com/static/images/mail/welcome/landing.png" width="600" border="0" alt="ThirdDime screenshot" style="width:100%" class="CToWUd"></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        </td>
                    </tr>

                    <tr>
                        <td style="padding:35px 45px 10px;border-left:solid 1px #e0e0e0;border-right:solid 1px #e0e0e0">
                        <table width="100%" align="center" border="0" cellspacing="0" cellpadding="0">

                            <tbody>
                            <tr>
                            <td style="padding-bottom:20px">
                              <span style="font-size:28px;line-height:38px;font-weight:300"><b style="font-weight:700"><span class="il">Welcome</span> to <span class="il">ThirdDime</span></b></span>
                            </td>
                            </tr>

                            <tr>
                                <td style="padding-bottom:20px;font-size:17px;line-height:30px">
                                    Hi {{username}}, we’re delighted to <span class="il">welcome</span> you into our community of folks who want to know how we perceive art.
                                    To us art is more than just a cool looking photo. It is bundle of history, ideology and skill capable of evoking complex thoughts. And we are here to explore those thoughts.
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        </td>
                    </tr>


                    <tr>
                        <td style="padding:0px 45px 30px;border-left:solid 1px #e0e0e0;border-right:solid 1px #e0e0e0">
                        <table width="100%" align="left" border="0" cellspacing="0" cellpadding="0">
                            <tbody>
                            <tr>

                                <td>
                                <div style="padding-bottom:15px">
                                  <a href="http://thirddime.com/arts" style="letter-spacing:0.14em;font-family:&quot;Open Sans&quot;,&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif;text-transform:uppercase;text-decoration:none;font-weight:600;color:#1c2023;font-size:13px;line-height:44px;background-color:#ffffff;border:2px solid #1c2023;display:inline-block;text-align:center;min-width:100px;padding:0 30px" target="_blank">Explore art</a>

                                </div>

                                </td>
                            </tr>

                            </tbody>
                        </table>
                        </td>
                    </tr>






                    <tr>
                      <td style="font-weight:300;letter-spacing:0em;padding:10px;padding-bottom:25px;padding-top:30px;background-color:#1c2023">
                        <table width="100%" align="left" border="0" cellspacing="0" cellpadding="0">

                          <tbody><tr>
                            <td style="color:#ffffff;letter-spacing:0em;font-weight:300;font-size:17px;line-height:30px;padding:15px 25px 0px;text-align:center">
                                'Series' is first in line of tools that will help you share your perspective about artworks. A series represents a single thought and binds artworks that relate under that idealogy.
                            </td>
                        </tr>

                    </tbody></table>
                    </td>
                    </tr>

                    <tr>
                      <td bgcolor="#1c2023" width="600" valign="top" style="background-repeat:no-repeat;vertical-align:top;line-height:0">
                        <a href="http://thirddime.com/@sreejita-mitra/series/songs-of-revolution" style="text-decoration:none;font-family:&quot;Open Sans&quot;,&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif;font-weight:normal;color:inherit" target="_blank">
                          <img src="http://thirddime.com/static/images/mail/welcome/series.png" style="width:100%" class="CToWUd" alt="ThirdDime screenshot">
                      </a>
                    </td>
                    </tr>

                    <tr>
                      <td style="font-weight:300;letter-spacing:0em;padding:10px;padding-bottom:25px;padding-top:30px;background-color:#f4f4f4;border-left:solid 1px #e0e0e0;border-right:solid 1px #e0e0e0">
                        <table width="100%" align="left" border="0" cellspacing="0" cellpadding="0">

                          <tbody><tr>
                            <td style="font-size:17px;line-height:30px;padding:15px 25px 0px;text-align:center">
                                Create a collection of your views and share an experience while others do the same. <a href="http://thirddime.com/home" style="text-decoration:underline;font-family:&quot;Open Sans&quot;,&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif;font-weight:700;color:#1c2023" target="_blank">Get started by adding an artwork to your Series.</a>
                            </td>
                        </tr>

                    </tbody></table>
                    </td>
                    </tr>

                    <tr>
                      <td bgcolor="#f4f4f4" width="600" valign="top" style="background-repeat:no-repeat;vertical-align:top;line-height:0;border-left:solid 1px #e0e0e0;border-right:solid 1px #e0e0e0">
                        <a href="http://thirddime.com/arts" style="text-decoration:none;font-family:&quot;Open Sans&quot;,&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif;font-weight:normal;color:inherit" target="_blank">
                          <img src="http://thirddime.com/static/images/mail/welcome/series_multiple.png" style="width:100%" class="CToWUd" alt="ThirdDime screenshot">
                      </a>
                    </td>
                    </tr>

                    <tr>
                      <td style="font-weight:300;letter-spacing:0em;padding:10px;padding-bottom:25px;padding-top:30px;background-color:#1c2023">
                        <table width="100%" align="left" border="0" cellspacing="0" cellpadding="0">

                          <tbody><tr>
                            <td style="color:#ffffff;letter-spacing:0em;font-weight:300;font-size:17px;line-height:30px;padding:15px 25px 0px;text-align:center">
                                <span class="il"> Define and treasure what you think is art. Find your own masters, appreciate them and their work. Encounter people and their unique way of looking at things. </span> <a href="http://thirddime.com/home" style="text-decoration:underline;font-family:&quot;Open Sans&quot;,&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif;font-weight:700;color:#ffffff;" target="_blank">Take a dive.</a>
                            </td>
                        </tr>

                    </tbody></table>
                    </td>
                    </tr>

                    <tr>
                      <td bgcolor="#1c2023" width="600" valign="top" style="background-repeat:no-repeat;vertical-align:top;line-height:0;border-left:solid 1px #e0e0e0;border-right:solid 1px #e0e0e0">
                        <a href="http://thirddime.com/home" style="text-decoration:none;font-family:&quot;Open Sans&quot;,&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif;font-weight:normal;color:inherit" target="_blank">
                          <img src="http://thirddime.com/static/images/mail/welcome/home.png" style="width:100%" class="CToWUd" alt="ThirdDime screenshot">
                      </a>
                    </td>
                    </tr>






<tr>
  <td style="padding:35px 45px 10px;border-left:solid 1px #e0e0e0;border-right:solid 1px #e0e0e0">

    <table width="100%" align="left" border="0" cellspacing="0" cellpadding="0">

      <tbody>
        <tr>
            <td style="padding-bottom:20px;font-size:17px;line-height:30px">
                ThirdDime is a place where we want to enable you to view art the way it should be, with a thought. It is a start for us and we promise to work hard to achieve this.
            </td>
        </tr>

        <tr>
        <td style="padding-bottom:20px;font-size:17px;line-height:30px">
          We look forward to seeing some your thoughts.
        </td>
        </tr>

</tbody></table>
</td>
</tr>





<tr>
  <td style="padding-bottom:0px!important;padding:0px 45px 30px;border-left:solid 1px #e0e0e0;border-right:solid 1px #e0e0e0">
    <table width="100%" align="left" border="0" cellspacing="0" cellpadding="0">
      <tbody><tr>

        <td><div style="padding-bottom:15px">
          <a href="http://thirddime.com/arts" style="letter-spacing:0.14em;font-family:&quot;Open Sans&quot;,&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif;text-transform:uppercase;text-decoration:none;font-weight:600;color:#1c2023;font-size:13px;line-height:44px;background-color:#ffffff;border:2px solid #1c2023;display:inline-block;text-align:center;min-width:100px;padding:0 30px" target="_blank">Explore Art</a>

      </div>

  </td></tr>

</tbody></table>
</td>
</tr>








<tr>
  <td style="padding-top:15px!important;padding:40px 45px 25px;border-left:solid 1px #e0e0e0;border-right:solid 1px #e0e0e0">

    <table width="100%" align="left" border="0" cellspacing="0" cellpadding="0">

      <tbody><tr>
        <td style="padding-bottom:20px;font-size:17px;line-height:30px">
          Happy exploring!
      </td>
  </tr>
  <tr>
    <td style="padding-bottom:20px;font-size:17px;line-height:30px">
      <br><b style="font-weight:600">The <span class="il">ThirdDime</span> Team
  </b></td>
</tr>
</tbody></table>
</td>
</tr>


<tr>
  <td style="padding:20px 45px 35px;border:solid 1px #e0e0e0">

    <table width="100%" align="left" border="0" cellspacing="0" cellpadding="0">



      <tbody><tr>
        <td style="font-size:15px;line-height:28px;padding:15px 0px 20px">
          Follow us on <a href="https://twitter.com/thirddime" style="text-decoration:none;font-family:&quot;Open Sans&quot;,&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif;font-weight:normal;color:#39a1ce" target="_blank">Twitter</a>
          <br>
          Find us on <a href="https://www.facebook.com/thirddimeart" style="text-decoration:none;font-family:&quot;Open Sans&quot;,&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif;font-weight:normal;color:#39a1ce" target="_blank">Facebook</a>
      </td>
  </tr>



  <tr>
    <td style="color:#b1b1b1">
      <table width="100%" align="left" border="0" cellspacing="0" cellpadding="0">

        <tbody>



    <tr>
      <td style="color:#b1b1b1;font-size:13px;line-height:24px">
        Sent by <a href="http://thirddime.com" style="text-decoration:none;font-family:&quot;Open Sans&quot;,&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif;font-weight:600;color:#b1b1b1" target="_blank"><span class="il">ThirdDime</span></a>
    </td>
</tr>





<tr>
  <td style="color:#b1b1b1;font-size:13px;line-height:24px">
    Credit to <a href="http://thirddime.com/arts/luke-chueh-black-in-white" style="text-decoration:none;font-family:&quot;Open Sans&quot;,&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif;font-weight:600;color:#b1b1b1" target="_blank">Luke Chueh</a><span> for the wonderful artwork Black in White.</span>
</td>
</tr>



</tbody></table>
</td>
</tr>
</tbody></table>
</td>
</tr>


</tbody></table>
</td>


</tr></tbody>
</table>

</body>
</html>